

<h1>Impact Dashboard</h1>

<section>
  <h2>Community Engagement</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Community+Engagement+Summary">

  <p>This data is derived from the <a href="{{ "~/metrics/roadshow-attendees.md" | url }}">Roadshow Attendees metric set</a>.</p>
</section>

<section>
<h2>Section 2</h2>

</section>
