---
title: Impact Dashboard
templateEngine: md,njk
work_in_progress: true
---

The impact dashboard aims to show in near realtime data which gives a sense of
what Leeds 2023 is acheiving in some areas of interest.

It does not not replace the evaluation report which will answer specific targets
set at the start of the Year of Culture, but should be treated as an overview of
some key topics that will be treated in depth in this evaluation report.

The focus of the dashboard is on live summary indicators extracted from the
operational systems.

## Events

* Count of Events
* Graph breakdown by programme of event and date (month?) - Produce / Partner / Promote
* Summary by type of event - standard set???


## Fundraising

* Headline total funding raised
* Breakdown by sector
* Funding by date

## Volunteering

* Numbers of volunteers

## Employment / opportunities offered by L23

* Staff / contractors / freelancers directly employed by L23
* Artists engaged in running events / sessions

## Engagment with people in Leeds

Active Participation by Individuals & Communities

* Locations / geographic spread of where events run
* Activities per ward

## Inclusion

* ????
* Demographic breakdown of event attendees at Produce events


