---
url: false
work_in_progress: true
---

<h2>OLD STUFF</h2>
<section>
<h2>&pound;20m Investment</h2>

Probably TAA - separate interim / final report

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Investment">

  <p>Potential data sources:</p>
  <ul>
    <li>Economic KPIs drawn from Economic Baseline Research using STEAM, BRES and other data sources.</li>

</section>


<section>
<h2>10% increased visitors to Leeds</h2>

Probably TAA - separate interim / final report

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Increased+Visitors+to+Leeds">

  <p>Potential data sources:</p>
  <ul> 
    <li>Economic Baseline analysis by BOP Consulting, which we have started to replicate and visualise on the <a href="{{ "~/project/measuring-impact.md" | url }}">Impact project page</a>.</li>
    <li>Analysis of STEAM data</li>
    <li>Other open sources of tourism and visitor data.</li>
  </ul>

</section>

<section>
<h2>+1000 FTE jobs into visitor economy</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=1000+FTE+Jobs">

  <p>Potential data sources:</p>
    <ul> 
      <li>We have started to investigate this via <a href="{{ "~/project/measuring-impact.md" | url }}">Economic Baseline Analysis</a>. Number of jobs in the visitor economy can be estimated from open BRES data.</li>
      <li>Other open sources of tourism and visitor data.</li>
    </ul>

</section>

<section>
<h2>+&pound;100m extra direct and indirect revenue to visitor economy</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Revenue+in+Visitor+Economy">

  <p>Potential data sources:</p>
    <ul> 
      <li>We have investigated direct Gross Value Added as a means to estimate revenue to visitor economy, taken from open Annual Business Survey data.</li>
      <li>Other open sources of tourism and visitor data.</li>
    </ul>

</section>

<section>
<h2>75% Leeds households engage</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Household+Engagement">

  <p>Potential data sources:</p>
    <ul> 
      <li>Some information has emerged through the <a href="{{ "~/project/measuring-impact.md" | url }}">Roadshow attendees metric set</a>, starting to reflect the proportion of residents that have participated in the Leeds area.</li>
    </ul>

</section>

<section>
<h2>Increased participation by those facing barriers by 10%</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Increased+Participation">

  <p>Potential data sources:</p>
    <ul> 
      <li>Tracking participant monitoring data throughout 2023.</li>
      <li>Post-2023 population survey of Leeds residents.</li>
    </ul>

</section>

<section>
<h2>+2000 FTE jobs in creative economy post-2023</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=2000+FTE+Jobs+Post-2023">

  <p>Potential data sources:</p>
    <ul> 
      <li>We have investigated employment figures in the creative and cultural economy from open data sources e.g. BRES in <a href="{{ "~/project/measuring-impact.md" | url }}">Economic Baseline Analysis</a>.</li>
      <li>This data is also visualised on the <a href="{{ "~/report/leeds-city-council-2022-2024.njk" | url }}">Leeds City Council 22-24 KPI report</a>.</li>
    </ul>

</section>



<h1>Outcomes</h1>

<section>
  <h2>Investment in Cultural & Creative Sectors</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Investment">

  <ul>
    <li>Increased skills of creative talent, reflected in number and engagement with digital workshops and skills partnerships.</li>
    <li>Increased confidence of creative talent.</li>
    <li>Creative talent more likely to stay living and working in Leeds.</li>
    <li>Creation of jobs in creative and cultural industries, inferred from open economic data sources.</li>
  </ul>

</section>

<section>
<h2>Cultural Engagement & Creativity</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Engagement+and+Creativity">

<ul>
  <li>Diversity of the overall profile of those engaged with Leeds 2023 represents the diversity of Leeds' residents, informed by audience profiling.</li>
  <li>Increased digital and physical engagement with arts and culture, informed by Leeds 2023 baseline survey.</li>
  <li>Reach and engagement with marketing and communications is effective across diversity of society, reflected in digital engagement and media monitoring data. 
</ul>

</section>

<section>
<h2>Active Participation by Individuals & Communities</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Participation+by+Individuals+and+Communities">

  <ul>
    <li>Participation and engagement with Leeds 2023 through event and workshop delivery and attendance, employment and volunteering.</li>
  </ul>

</section>

<section>
<h2>Sense of Place, Identity & Pride</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Sense+of+Place+Identity+and+Pride">

  <ul> 
    <li>Meeting new people, increased knowledge and understanding of local cultural heritage informed by Audience Baseline Research and Brand Tracking survey data.</li>
    <li>Connection to stories and narratives, for example through My World, My City, My Neighbourhood.</li>
  </ul>

</section>

<section>
<h2>Social Capital & Sense of Community</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Social+Capital+and+Sense+of+Community">

</section>

<section>
<h2>Health & Wellbeing</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=Health+and+Wellbeing">

  <ul>
  <li>Participants in Leeds 2023 report improved health and wellbeing on at least one metric in the Five Ways to Wellbeing:</li>
    <ul>
      <li>Connect</li>
      <li>Be Active</li>
      <li>Take Notice</li>
      <li>Keep Learning</li>
      <li>Give</li>
    </ul>
  <li>The BOP Consulting report touched on some examples of health and wellbeing indicators from open data sources.</li>
  </ul>

</section>

<section>
<h2>National & International Profile</h2>

  <img src="https://dummyimage.com/600x400/777/fff.png&text=National+and+International+Profile">

  <ul> 
    <li>Increased number of visitors and spend in the Leeds area, indicated through STEAM and other tourism data sources.</li> 
    <li>Improved perceptions of Leeds as a cultural destination, informed by Audience Baseline Research and Brand Tracking Survey data.</li> 
    <li>Increased investment in the creative and cultural sector within and around Leeds.</li> 
  </ul>
  
</section>

</section>
