---
title: Metrics
url: /metric/
nav_order: 20
---
<h1>Metrics</h1>

{% comp 'grid.autogrid' %}
  {% for metric in search.pages('metrics') | data %}
    {% comp "grid.block.impact", {
      link: metric.url,
      bg: 'var(--l23-cyan)'
    } %}
      <h2>{{ metric.title }}</h2>
      <p>
        {{ metric.summary }}
      </p>
    {% endcomp %}
  {% endfor %}
{% endcomp %}