---
title: Metrics
url: /metric/
nav_order: 20
---
<h1>Metrics</h1>

{% set key_metrics = {
  roadshows: {
    value: metrics.roadshows.summary.columns.cumulative_attendance | last
  },
  social_media: {
    value: metrics.social_media.all_weekly.columns.audience_last | last,
    measure: 'Audience across all platforms'
  },
  volunteers: {
    value: metrics.volunteers.by_week.columns.applied | last,
    measure: 'Number of volunteer applications received'
  }
} -%}

{% comp 'grid.autogrid', { min_width: '20rem' } %}
  {% for metric in search.pages('metrics') | data %}
    {% comp "grid.block.impact", {
      link: metric.url,
      bg: 'var(--l23-cyan)'
    } %}
      <h2>{{ metric.title }}</h2>
      {%- if metric.key and metric.key in key_metrics -%}
        {{ comp.viz.bigNumber({
          number: key_metrics[metric.key].value | localize

        }) | safe }}
      {%- endif -%}
      {%- if key_metrics[metric.key].measure -%}
        <p>{{ key_metrics[metric.key].measure }}</p>
      {%- endif -%}
      <p>
        {{ metric.summary }}
      </p>
      {% if metric.work_in_progress %}{{ comp.work_in_progress() | safe }}{% endif %}
    {% endcomp %}
  {% endfor %}
{% endcomp %}