---
title: Projects
url: /project/
nav_order: 30
---

<h1>{{ title }}</h1>

{% comp "grid.autogrid" %}
{% for project in search.pages('project') %}
  {{ comp.grid.link({
        title: project.data.title,
        link: project.data.url,
        id: project.data.slug,
        summary: project.data.summary,
        cls: 'grid-item'
      }) | safe }}
{% endfor %}
{% endcomp %}