---
title: Reports
subtitle: "This page contains links to reports that have been published about LEEDS 2023 projects and other initiatives."
url: /report/
nav_order: 10
layout: layouts/project.njk
up:
  title: Data
  url: /
---

{% comp 'grid.autogrid' %}
  {% for report in search.pages('report work_in_progress!=true', 'publication_date=desc') %}
    {% comp 'grid.block.impact', {
      bg: report.data.feature_colour or 'var(--l23-cyan)',
      link: report.data.url,
      align: 'unset'
    } %}
      <h2>{{ report.data.title }}</h2>
      <p>{{ report.data.publication_date | date('HUMAN_DATE') }}</p>
      {% if report.data.summary %}<p class="forced-top-margin">{{ report.data.summary }}</p>{% endif %}
    {% endcomp %}
  {% endfor %}
{% endcomp %}