---
title: Standards
url: /standards/
nav_order: 10
---

<p>This page contains a list of data standards under consideration by Leeds 2023.</p>

{% comp "grid.autogrid" %}
  {% for id, standard in standards %}
    {{ comp.grid.link(standard) | safe }}
  {% endfor %}
{% endcomp %}

