<aside class='notice validation-notice unvalidated'>
  <img class="icon" src="/assets/images/icons/warning.svg" inline/>
  <p>
  This page was archived on 6th February 2024 and is no longer updated. NOTE: The Impact Dashboard is not the final evaluation and should be treated as an overview of some key areas of LEEDS 2023 activities.
  </p>
</aside>
