<aside class="notice manual-override">
  <img class="icon" src="/assets/images/icons/adjust-setting.svg" inline/>
  <p>
    This page contains data which differs from the data sources referenced on the page.
    This is might be as a result of
    incomplete or outdated source data,
    changes to data processing, or
    other manual adjustment to account for data not already captured in LEEDS 2023 operational systems that feed this site. 
    Where practicable, the source data or processing will be amended to more accurately reflect the manually overriden figures.
  </p>
</aside>