<aside class='validation-notice unvalidated'>
  <img class="icon" src="/assets/images/icons/warning.svg" inline/>
  <p>
  The LEEDS 2023 team is in the process of validating the figures presented on this page for evaluation purposes.
  While every attempt has been made to ensure the live figures are accurate and up-to-date, we reserve the right
  to amend any values presented here.
  </p>
</aside>
