<aside class='notice validation-notice validated'>
  <img class="icon" src="/assets/images/icons/info.svg" inline/>
  <p>
  The LEEDS 2023 team has validated these figures in preparation for the evaluation
  and believe these are a true reflection of the metrics presented.
  We reserve the right to amend any values presented here without notice.
  </p>
</aside>
