{%- macro dateFormatter(x) %}{{ x | date('do MMM yyyy') }}{%- endmacro -%}
{%- macro dateFormatterNoYear(x) %}{{ x | date('do MMM') }}{%- endmacro -%}
{%- macro dateFormatterNoDay(x) %}{{ x | date('MMM yyyy') }}{%- endmacro -%}