---
title: Partner Events
summary: Visualisations of key metrics related to LEEDS 2023 Partner events.
tags:
  - main
order: 30
work_in_progress: true
metas:
  title: Partner Events
  description: |
    Visualisation of key metrics related to LEEDS 2023 Partner events.
limitations:
  - Events and activities data are extracted from Airtable. Some activities do not have a corresponding ward, therefore the 'Partner events by ward' visualisation does not display data for all events. 
sources:
  - data/metrics/events/partner-events/
---

{% from 'macros.njk' import dateFormatter %}

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '20rem' } %}
  {{ comp.metric.headline({
    title: "Number of Partner events", headingLevel: 3,
    value: headline.total_events | localize,
    description: "",
    background: "var(--l23-magenta)"
  }) | safe }}
{% endcomp %}

{% comp 'grid.' + headline_grid_style, { min_width: '30rem' } %}

{% comp 'layout.figure', {max_width: '70rem'} %}
<h3>Partner events by month</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: by_month.columns.start_date,
    width: 25,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Start date',
      titleOffset: 4,
      labelRotate: 35,
      majorTick: 1,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Events',
      titleOffset: 3,
      majorTick: 20
    },
    plotArea: {
      yMax: headline.total_events | round(-1, 'ceil'),
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "events", label: "Number of events",
        yValues: by_month.columns.cumulative_events,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}


{% comp 'layout.figure', {max_width: '30rem'} %}
<h3>Partner events by ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: by_ward.rows,
		matchKey: 'ward_code',
		value: 'events',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ events | "0" }}</strong> event(s)</p>',
		min: 0,
		scale: 'magenta'
	}
  }) | safe }}
{% endcomp %}
{% endcomp %}

