---
title: Callouts
summary: Data about callouts
key: callouts
metas:
  title: LEEDS 2023 Metrics - Callouts
  description: |
    Visualisations of key metrics related to the LEEDS 2023 callouts.
order: 20
work_in_progress: true
---

<p>
  A <a href="https://leeds2023.co.uk/call-outs/overview">callout</a> is an announcement LEEDS 2023 places on their website, inviting the residents of the
  city and surrounding areas to get involved in an upcoming opportunity.
</p>

<h2>Headlines</h2>

{{ comp.metric.headline({
  title: "Callout responses", headingLevel: 3,
  value: metrics.callouts.summary.responses | localize,
  description: "Total number of callout responses."
}) | safe }}

<h2>Callout Responses</h2>

<p>
  The table below shows the number of responses received in response to each callout. These are ordered alphabetically rather than by date. The map shows
  the wards from which responses to all callouts are coming. Each hexagon represents a council ward in Leeds.
</p>

<p> 
  KEY: The hexagons that are darker in colour show wards with a higher number of entries.
</p>

{% comp "grid.autogrid", { min_width: '32rem' } %}

{% comp 'layout.block' %}
<table class="scroll-table">
  <thead>
    <tr>
      <th>Callout</th>
      <th>Responses received</th>
    </tr>
  </thead>
{% for row in metrics.callouts.responses_by_callout.rows %}
  <tr>
    <td>{{ names[row.callout] }}</td>
    <td>{{ row.responses }}</td>
  </tr>
{% endfor %}
</table>
{% endcomp %}

{% comp 'layout.figure' %}
{{ comp.charts.hexmap({
  hexjson: hex.wards_leeds,
  data: metrics.callouts.responses_by_ward.rows,
  matchKey: 'ward_code',
  valueProp: 'responses',
  bgColour: '#ddd',
    colourScale: colours.scales.cyan
}) | safe }}
{% endcomp %}

{% endcomp %}
