---
title: Call Outs
summary: Opportunities to get involved
tags:
  - main
order: 20
key: callouts
metas:
  title: LEEDS 2023 Metrics - Call outs
  description: |
    Visualisations of key metrics related to the LEEDS 2023 call outs.
limitations:
  - The number of applications to each call out is likely to vary as they are targeted at different audiences. 
  - There are known instances in which more participants were involved in an activity than submitted a call out response form. This is because 
    additional participants were invited to join through other routes. Examples of these include Leeds on Wheels and Dancers of Leeds. 

---

<p>
  LEEDS 2023 is offering opportunities throughout the year to enable the people of Leeds and beyond to get involved and influence our programme. 
  Audiences are encouraged to respond to a <a href="https://leeds2023.co.uk/take-part/overview">call out</a> via a form hosted on the website. 
</p>

<p>
  A call out differs slightly from a <a href="https://data.leeds2023.co.uk/metrics/volunteers/">volunteer opportunity</a>. Those who respond to a 
  call out will have the opportunity to influence the development of an event or programme of activities, whereas a volunteer will take part in a 
  specific predefined activity to support delivery. 
</p>

<p>
  Data is updated each night directly from the call out submission system.
</p>


<h2>Headlines</h2>

{{ comp.metric.headline({
  title: "Call out responses", headingLevel: 3,
  value: headline.responses | localize,
  description: "Total number of call out responses.",
  background: "var(--l23-cyan)"
}) | safe }}

<h2>Call out Responses</h2>

<p>
  The map shows the wards from which responses to all call outs are coming. Each hexagon represents a council ward in Leeds.
</p>

<p> 
  KEY: The hexagons that are darker in colour show wards with a higher number of entries.
</p>

{% comp "grid.autogrid", { min_width: '32rem' } %}

{% comp 'layout.figure' %}
  <h3>Call out responses by ward</h3>
  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: responses_by_ward.rows,
    matchKey: 'ward_code',
    valueProp: 'responses',
    bgColour: '#ddd',
      colourScale: colours.scales.cyan
  }) | safe }}
{% endcomp %}

{% comp 'layout.figure' %}
  <h3>Call out responses by week</h3>
  {{ comp.oi.charts.chart.bar({ config: {
    data: responses_by_week.rows,
    stacked: true,
    category: "date_submitted",
    series: series,
    legend: {
      show: true
    },
    axis: {
      x: {
        title: { label: "Number of call out responses" },
        tickSize: 10,
        "font-weight": oi_viz.bar.axis.x['font-weight'],
        grid: oi_viz.bar.axis.x.grid
      },
      y: {
        title: { label: "Week Ending" },
        "font-weight": oi_viz.bar.axis.y['font-weight'],
        grid: oi_viz.bar.axis.y.grid
      }
    }
  } }) | safe }}
{% endcomp %}

{% endcomp %}

<p>
  The table below shows the number of responses received in response to each call out. These are ordered alphabetically rather than by date. 
</p>

<table class="scroll-table">
  <thead>
    <tr>
      <th>Call out</th>
      <th>Responses received</th>
    </tr>
  </thead>
{% for row in responses_by_callout.rows %}
  <tr>
    <td>{{ names[row.callout] }}</td>
    <td>{{ row.responses }}</td>
  </tr>
{% endfor %}
</table>
