---
title: Events produced by LEEDS 2023
summary: Data about the events produced by LEEDS 2023.
tags:
  - main
work_in_progress: true
order: 10
metas:
  title: LEEDS 2023 produced Events
  description: |
    Visualisations of key data related to events produced by LEEDS 2023.
known_limitations:
  - Not all events have attendances recorded
prepare_script: scripts/metrics/events/signature/prepare.ipynb
---

{% from 'macros.njk' import dateFormatter, dateFormatterNoDay %}

<h2>Introduction</h2>

<p>LEEDS 2023 produced a series of projects across the year led by their in-house team. These were the bold and imaginative events which were delivered in partnership with world-class creatives, homegrown talent, local communities and arts organisations.</p>

<p>The data displayed has been collected from LEEDS 2023’s systems, enabling a wider picture to be shared on the number of activities, engagements and locations. The data displayed is indicative, a full report will be available with final figures published in late 2024.</p>

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '40rem' } %}
  {{ comp.metric.headline({
    title: "Number of events", headingLevel: 2,
    value: headlines.total_events | localize,
    description: "Total Signature event activities held by LEEDS 2023.",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Total attendances", headingLevel: 2,
    value: headlines.total_attendances | localize,
    description: "Total number of attendances at LEEDS 2023 Signature events.",
    background: "var(--l23-yellow)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Tickets sold", headingLevel: 2,
    value: headlines.total_tickets_sold_for_events_to_date | localize,
    description: "Total number of tickets sold by LEEDS 2023.",
    background: "var(--l23-magenta)"
  }) | safe }}

{% endcomp %}

<h2>Signature Events held</h2>

{% comp 'grid.autogrid', { min_width: '30rem' } %}

  {% comp "grid.block.impact", {
    link: "/metrics/events/awakening/",
    colour: "black",
    bg: "var(--l23-cyan)"
  } %}
    <h2>The Awakening</h2>
    <section style="--big-number-size: clamp(2rem, 6vw, 3.7rem);">
    {{ comp.viz.bigNumber({
      number: (
        search.data('metrics/events/awakening').attendees.attended
       ) | localize
    }) | safe }}
    </section>
    <p>Ticket ballot and event attendances.</p>
  {% endcomp %}

  {% comp "grid.block.impact", {
    link: "/metrics/events/the-barn/",
    colour: "black",
    bg: "var(--l23-cyan)"
  } %}
    <h2>The Barn</h2>
    <section style="--big-number-size: clamp(2rem, 6vw, 3.7rem);">
    {{ comp.viz.bigNumber({
      number: (
        search.data('metrics/events/the-barn').events.headlines.total_audience
       ) | localize
    }) | safe }}
    </section>
    <p>Event attendances.</p>
  {% endcomp %}

  {% comp "grid.block.impact", {
    link: "/metrics/events/childrens-day/",
    colour: "black",
    bg: "var(--l23-cyan)"
  } %}
    <h2>Children's Day</h2>
    <section style="--big-number-size: clamp(2rem, 6vw, 3.7rem);">
    {{ comp.viz.bigNumber({
      number: (
        search.data('metrics/events/childrens-day').events.headlines.total_audience
       ) | localize
    }) | safe }}
    </section>
    <p>Event attendances.</p>
  {% endcomp %}

  {% comp "grid.block.impact", {
    link: "/metrics/events/nest/",
    colour: "black",
    bg: "var(--l23-cyan)"
  } %}
    <h2>Nest</h2>
    <section style="--big-number-size: clamp(2rem, 6vw, 3.7rem);">
    {{ comp.viz.bigNumber({
      number: (
        search.data('metrics/events/nest').events.headlines.total_audience
       ) | localize
    }) | safe }}
    </section>
    <p>Event attendances.</p>
  {% endcomp %}

  {% comp "grid.block.impact", {
    link: "/metrics/events/smeaton-300/",
    colour: "black",
    bg: "var(--l23-cyan)"
  } %}
    <h2>Smeaton300</h2>
    <section style="--big-number-size: clamp(2rem, 6vw, 3.7rem);">
    {{ comp.viz.bigNumber({
      number: (
        search.data('metrics/events/smeaton-300').events.headlines.total_audience
       ) | localize
    }) | safe }}
    </section>
    <p>Event attendances.</p>
  {% endcomp %}
  {% endcomp %}





{% comp 'grid.' + headline_grid_style, { min_width: '30rem' } %}

{% comp 'layout.figure', {max_width: '50rem'} %}
<h3>Number of Signature events by month</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: events_by_date.columns.date,
    width: 25,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Date',
      titleOffset: 4,
      labelRotate: 35,
      formatter: dateFormatterNoDay
    },
    yAxis: {
      title: 'Total',
      titleOffset: 3,
      majorTick: 200
    },
    plotArea: {
      yMax: 4000,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "events", label: "Number of events",
        yValues: events_by_date.columns.events,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      },
      {
        id: "attendances", label: "Number of attendances",
        yValues: events_by_date.columns.attendances,
        colour: 'var(--l23-cyan)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}

{% comp 'layout.figure', {min_width: '30rem'} %}
<h3>Total Signature events held by ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: events_by_ward.rows,
		matchKey: 'ward_code',
		value: 'events',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ events | "0" }}</strong> event(s)</p>',
		min: 0,
		scale: 'magenta'
	}
  }) | safe }}
{% endcomp %}

{% endcomp %}

<h2>Ticket sales</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '30rem' } %}

{% comp 'layout.figure', {min_width: '30rem'} %}

<h3>Total Signature event tickets sold by ward of residence</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: tickets_by_ward.rows,
		matchKey: 'ward_code',
		value: 'tickets',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ tickets | "0" }}</strong> ticket(s) sold</p>',
		min: 0,
		scale: 'magenta'
	}
  }) | safe }}

{% endcomp %}

{% comp 'layout.figure', {max_width: '50rem'} %}
<h3>Cumulative tickets sold by event date</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: tickets_by_event_date.columns.event_date,
    width: 25,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Date',
      titleOffset: 4,
      labelRotate: 35,
      formatter: dateFormatterNoDay
    },
    yAxis: {
      title: 'Total',
      titleOffset: 3,
      majorTick: 3000
    },
    plotArea: {
      yMax: 16000,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "tickets", label: "Number of tickets sold",
        yValues: tickets_by_event_date.columns.tickets,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      },
      {
        id: "orders", label: "Number of ticket orders",
        yValues: tickets_by_event_date.columns.orders,
        colour: 'var(--l23-cyan)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}

{% endcomp %}


