---
layout: layouts/page.njk
---

<p>Group: {{ group }}</p>

<h2>Used by</h2>

<ul>
  {% for user in search.pages("metrics uses_dataset*=" + id) | data %}
  <li>
    <a href="{{ user.url }}">{{ user.title }} metrics page</a>
  </li>
  {% endfor %}
</ul>
