<!DOCTYPE html>
<html lang="{{ metas.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default('PAGE TITLE HERE') }} &ndash; {{ metas.site }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ metas.icon }}" />
    <link rel="stylesheet" href="/style/components.css">
    <link rel="stylesheet" href="/style/main.css">
    <script defer src="/assets/js/components.js"></script>
    {# TODO feed_meta #}
  </head>

  <body>
    {{- comp.a11y.skip_to_content_link() | safe -}}
    {%- include 'partials/header.njk' -%}

    <main id="main" role="main" aria-label="Content">
      {{ content | safe }}
    </main>

    {%- include 'partials/footer.njk' -%}
  </body>
</html>