<!DOCTYPE html>
<html lang="{{ metas.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default('PAGE TITLE HERE') }} &ndash; {{ metas.site }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ metas.icon }}" />
    <link rel="stylesheet" href="/style/components.css">
    <link rel="stylesheet" href="/style/main.css">
    {# TODO feed_meta #}
  </head>

  <body>
    {{ comp.a11y.skip_to_content_link() | safe }}
    {% include 'partials/header.njk' %}

    <main id="main" role="main" aria-label="Content" class="no-top-margin">
      <div class="top-spacer"></div>
      {{ content | safe }}
    </main>

    <div class='site-footer'>
    {% comp 'layout.block' %}
      <footer>
        <p>&copy; Leeds 2023</p>
        <p><a href="https://github.com/open-innovations/leeds-2023" title="Visit the GitHub repository"><img src="/assets/images/icons/github.svg" class="social-icon" inline></p>
      </footer>
    {% endcomp %}
    </div>
  </body>
</html>