---
layout: layouts/page.njk
up:
  title: "Metrics"
  url: /metric/
---

{% if validated %}
  {{ comp.notice.validated() | safe }}
{% else %}
  {{ comp.notice.pending_validation() | safe }}
{% endif %}

{% if introduction %}{{ introduction | md | safe }}{% endif %}

{{
  comp.metric.metadata({
  datasets: uses_dataset,
  template_date: date,
  prepare_script: prepare_script
}) | safe }}

{{ content | safe }}

{% if data_overrides %}{{ comp.notice.manual_overrides() | safe }}{% endif %}

{% if limitations %}
<h2>Known Limitations and Issues</h2>
<ul>
  {% for item in limitations %}<li>{{ item | md(true) | safe }}</li>{% endfor %}
</ul>
{% endif %}

