---
layout: layouts/page.njk
up:
  title: "Metrics"
  url: /metric/
---


{% if introduction %}{{ introduction | md | safe }}{% endif %}

{{ sources }}
{{
  comp.metric.metadata({
  datasets: uses_dataset,
  template_date: date
}) | safe }}

{{ content | safe }}

{% if limitations %}
<h2>Known Limitations and Issues</h2>
<ul>
  {% for item in limitations %}<li>{{ item | md(true) | safe }}</li>{% endfor %}
</ul>
{% endif %}

