<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="refresh" content="1;url={{ redirectTarget | url(true) }}">
        <script type="text/javascript">
            window.location.href = "{{ redirectTarget | url(true) }}"
        </script>
    </head>
    <body>
        If you are not redirected automatically, <a href="{{ redirectTarget | url(true) }}">click here</a>.
    </body>
</html>
