---
title: Impact Dashboard
work_in_progress: true
summary: A health check across a number of key areas of interest.
limitations:
  - Figures relating to the numbers of events and engagements with residents are works in progress. More events have taken place than are currently included in the data we are using, and there have been more engagements by residents with LEEDS 2023 activities than currently counted. 
  - Data related to each of the displayed metrics are updated at different intervals. As such, the data displayed may not be up-to-date. Click through on any metric to understand more about how this data is captured and how frequently it is updated. 
---



<div>
<p> 
  The Impact Dashboard aims to provide a sense of what LEEDS 2023 is achieving in key areas of interest through 
  the use of near-real time data extracted from operational systems.
</p>

<p>
  It does not not replace the evaluation report which will answer specific targets set at the start of the 
  Year of Culture, and should be treated as an overview of some key topics that will be treated in depth in this 
  report. 
</p>
</div>

{# Set up colours #}
{% set all_colour = "var(--l23-magenta)" %}
{% set twitter_colour = "#1DA1F2" %}
{% set instagram_colour = "#833AB4" %}
{% set facebook_colour = "var(--l23-mint)" %}
{% set linkedin_colour = "var(--l23-cyan)" %}

{% from 'macros.njk' import dateFormatter %}

{% macro checkToggle(toggleName) %}
  {% if
    not toggleName
    or
    toggleName in feature_toggle
    or
    toggle_override
  %}
    {{ caller() }} 
  {% endif %}
{% endmacro %}

{% macro paneTitle(title) %}<h2>{{ title }}</h2>{% endmacro %}

<div style="--big-number-size: 4em;">
{% comp 'dashboard.impact.panels' %}

      
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white", link: '/dashboard/community' }%}
    {% call checkToggle('Events held') -%}
      {{ paneTitle('Events held') }}
        {{ comp.dashboard.impact.big_number({ number: search.data('dashboard/community').events.columns.total | sum | localize }) | safe }}
      {%- endcall %}
    {% endcomp %}

    {% call checkToggle('Residents engaged') -%}
    {% comp 'dashboard.impact.panel', {bg: "var(--l23-dark-blue-grey)", fg: "white", link: '/dashboard/community' }%}
      {{ paneTitle('Engagements with residents') }}
      {{ comp.dashboard.impact.big_number({ number: search.data('dashboard/community').residents.columns.total | sum | localize }) | safe }}
      <p class="footnote">Count of resident engagements with LEEDS2023 activities.</p>
    {% endcomp %}
      {%- endcall %}

    {% call checkToggle('Number of partners') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
      {{ paneTitle('Number of partners') }}
      {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
      {%- endcall %}

    {% call checkToggle('Community Engagement') -%}
    {% comp 'dashboard.impact.panel', { rows: 3, columns: 2, bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    {% comp 'dashboard.impact.embedded_figure' %}
      {{ paneTitle('School Engagement') }}
      {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: search.data('metrics/schools').engagements_by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'percent_of_schools_in_ward_engaged'
      }) | safe }}    
      <p class="footnote">Percentage of schools engaged per ward in Leeds.</p>
    {% endcomp %}
    {% endcomp %}
    {%- endcall %}

      {% call checkToggle('Total funds raised') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white"} %}
      {{ paneTitle('Total funds raised') }}
    {% endcomp %}
    {%- endcall %}

    {% call checkToggle('Funding breakdown by sector') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Funding breakdown by sector') }}
        {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
    {%- endcall %}

    {% call checkToggle('Funding prospects') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Funding prospects') }}
        {{ comp.dashboard.impact.big_number({ number: '80' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Secured funders') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Secured funders') }}
        {{ comp.dashboard.impact.big_number({ number: '49' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Directly employed') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('People directly employed by Leeds Cultural Trust') }}
        {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Freelancers employed') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Freelancers employed by Leeds Cultural Trust') }}
        {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Contracted organisations') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Contracted organisations in Leeds') }}
        {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Preferred suppliers') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Preferred suppliers') }}
        {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Volunteer applications') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white", link: 'metrics/volunteers' } %}
        {{ paneTitle('Volunteer applications') }}
        {{ comp.dashboard.impact.big_number({ number: search.data("metrics/volunteers").by_week.columns.applied | last | localize }) | safe }}
        <p class="footnote">The number of volunteering applications that have been received.</p>
    {% endcomp %}
    {% endcall %}

    {% call checkToggle('Volunteer offers') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white", link: 'metrics/volunteers' } %}
        {{ paneTitle('Confirmed volunteers') }}
        {{ comp.dashboard.impact.big_number({ number: search.data("metrics/volunteers").by_week.columns.confirmed | last or '--' | localize }) | safe }}
        <p class="footnote">The number of people who have been confirmed as a volunteer.</p>
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Website views') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Website views') }}
    {% endcomp %}
    {% endcall %}

    {% call checkToggle('Total online audience') -%}
    {% comp 'dashboard.impact.embedded_figure', { columns: 2 } %} 
    {% comp 'dashboard.impact.panel', { columns: 2, bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    {{ comp.oi.charts.graph.line({ config: {
      title: 'Total online audience',
      categories: search.data('metrics/social-media').all_weekly.columns.week_ending,
      width: 25,
      height: 8,
      text: { colour: 'white' },
      xAxis: {
          title: 'Week ending (Sunday)',
          titleOffset: 4.2,
          labelRotate: 35,
          majorTick: 4,
          formatter: dateFormatter
      },
      yAxis: {
          title: 'Total Audience',
          titleOffset: 3.4,
          majorTick: 5000
      },
      plotArea: {
          yMin: 0,
          yMax: 35000,
          colour: 'var(--l23-dark-blue-grey)'
      },
      padding: {
          left: 4,
          bottom: 5
      },
      series: [
          {
          id: "all", label: "All",
          yValues: search.data('metrics/social-media').all_weekly.columns.audience_last,
          colour: all_colour,
          markerOptions: { s: 5 }
          },
          {
          id: "twitter", label: "Twitter",
          yValues: search.data('metrics/social-media').service.twitter_weekly.columns.audience_last,
          colour: twitter_colour,
          markerOptions: { s: 5 }
          },
          {
          id: "instagram", label: "Instagram",
          yValues: search.data('metrics/social-media').service.instagram_weekly.columns.audience_last,
          colour: instagram_colour,
          markerOptions: { s: 5 }
          },
          {
          id: "facebook", label: "Facebook",
          yValues: search.data('metrics/social-media').service.facebook_weekly.columns.audience_last,
          colour: facebook_colour,
          markerOptions: { s: 5 }
          },
          {
          id: "linkedin", label: "Linkedin",
          yValues: search.data('metrics/social-media').service.linkedin_weekly.columns.audience_last,
          colour: linkedin_colour,
          markerOptions: { s: 5 }
          }
      ],
      legend: {
          width: "20em"
      }
    } }) | safe }}
    {% endcomp %}
    {% endcomp %}
    {% endcall %}


    {% call checkToggle('Total engagements') -%}
    {% comp 'dashboard.impact.embedded_figure', { columns: 2 } %} 
    {% comp 'dashboard.impact.panel', { columns: 2, bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    {{ comp.oi.charts.graph.line({ config: {
      title: 'Total engagements',
      categories: search.data('metrics/social-media').all_weekly.columns.week_ending,
      width: 25,
      height: 8,
      text: { colour: 'white' },
      xAxis: {
        title: 'Week ending (Sunday)',
        titleOffset: 4.2,
        labelRotate: 35,
        majorTick: 4,
        formatter: dateFormatter
      },
      yAxis: {
        title: 'Engagements',
        titleOffset: 3.2,
        majorTick: 5000
      },
      plotArea: {
        yMin: 0,
        yMax: 30000,
        colour: "var(--l23-dark-blue-grey)"
      },
      padding: {
        left: 4,
        bottom: 5
      },
      series: [
        {
          id: "all", label: "All",
          yValues: search.data('metrics/social-media').all_weekly.columns.engagements_total,
          colour: all_colour,
          markerOptions: { s: 5 }
        },
        {
          id: "twitter", label: "Twitter",
          yValues: search.data('metrics/social-media').service.twitter_weekly.columns.engagements_total,
          colour: twitter_colour,
          markerOptions: { s: 5 }
        },
        {
          id: "instagram", label: "Instagram",
          yValues: search.data('metrics/social-media').service.instagram_weekly.columns.engagements_total,
          colour: instagram_colour,
          markerOptions: { s: 5 }
        },
        {
          id: "facebook", label: "Facebook",
          yValues: search.data('metrics/social-media').service.facebook_weekly.columns.engagements_total,
          colour: facebook_colour,
          markerOptions: { s: 5 }
        },
        {
          id: "linkedin", label: "Linkedin",
          yValues: search.data('metrics/social-media').service.linkedin_weekly.columns.engagements_total,
          colour: linkedin_colour,
          markerOptions: { s: 5 }
        }
      ],
      legend: {
        width: "20em"
      }
    } }) | safe }}
    {% endcomp %}
    {% endcomp %}
    {% endcall %}
    

      {% call checkToggle('Unique website users') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Unique website users') }}
        {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Schools percentage') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white", link: '/metrics/schools/' } %}
        {{ paneTitle('Percentage of Leeds schools engaged with:') }}
        {{ comp.dashboard.impact.big_number({ number: search.data('metrics/schools').headlines.percentage_of_leeds_schools_engaged | localize, suffix: '%' }) | safe }}
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('Number of pupils') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white", link: '/metrics/schools/' } %}
        {{ paneTitle('Number of engagements with pupils:') }}
        {{ comp.dashboard.impact.big_number({ number: search.data('metrics/schools').headlines.total_pupil_engagements | localize }) | safe }}
    {% endcomp %}
    {% endcall %}

    {% call checkToggle('Featured articles') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
        {{ paneTitle('Total featured articles') }}
        {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    {% endcomp %}
    {% endcall %}

    {% call checkToggle('Media coverage') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white", link: '/metrics/media_coverage/' } %}
        {{ paneTitle('Media coverage') }}
        <span class="subtext">Local: {{  search.data("metrics/media_coverage").stats.total_media_local | localize  }}</span>
        <span class="subtext">Regional: {{ search.data("metrics/media_coverage").stats.total_media_regional | localize }}</span>
        <span class="subtext">National: {{ search.data("metrics/media_coverage").stats.total_media_national | localize }}</span>
    {% endcomp %}
    {% endcall %}

      {% call checkToggle('International online mentions') -%}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white", link: '/metrics/media_coverage/' } %}
        {{ paneTitle('International online mentions') }}
        {{ comp.dashboard.impact.big_number({ number: search.data("metrics/media_coverage").stats.total_media_international | localize }) | safe }}
    {% endcomp %}
    {% endcall %}
  
    {% endcomp %}

</div>

{% if limitations %}
<h2>Known Limitations and Issues</h2>
<ul>
  {% for item in limitations %}<li>{{ item | md(true) | safe }}</li>{% endfor %}
</ul>
{% endif %}
