---
title: Impact Dashboard
work_in_progress: true
summary: A health check across a number of key areas of interest.
limitations:
  - Data may not be accurate and should be used as a guide. 
---



<div>
The impact dashboard aims to show in near realtime data which gives a sense of
what Leeds 2023 is acheiving in some areas of interest.

It does not not replace the evaluation report which will answer specific targets
set at the start of the Year of Culture, but should be treated as an overview of
some key topics that will be treated in depth in this evaluation report.

The focus of the dashboard is on live summary indicators extracted from the
operational systems.
</div>

{# Set up colours #}
{% set all_colour = "var(--l23-magenta)" %}
{% set twitter_colour = "#1DA1F2" %}
{% set instagram_colour = "#833AB4" %}
{% set facebook_colour = "var(--l23-mint)" %}
{% set linkedin_colour = "var(--l23-cyan)" %}


{# Set up some cyclers for block colouring #}
{% set fg = cycler("black", "white") %} 
{% set bg = cycler("var(--l23-mint)", "var(--l23-dark-blue-grey)"  ) %}

{% from 'macros.njk' import dateFormatter %}

<div style="--big-number-size: 4em;">
{% comp 'dashboard.impact.panels' %}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" }%}
    <h3>Events held</h3>
    {{ comp.dashboard.impact.big_number({ number: dashboard.community.events.columns.total | sum | localize }) | safe }}
{% endcomp %}
    {% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" }%}
    <h3>Total Engagements</h3>
    {{ comp.dashboard.impact.big_number({ number: dashboard.community.residents.columns.total | sum | localize }) | safe }}
    <p class="footnote">Count of activities attended by residents in each ward.</p>
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Artists employed</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    <p class="footnote">Some more figures will go here as we build out the dashboard.</p>
{% endcomp %}
{% comp 'dashboard.impact.panel', { rows: 3, columns: 2, bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    {% comp 'dashboard.impact.embedded_figure' %}
    <h3>Community Engagement</h3>
    {{ comp.charts.hexmap({
        hexjson: hex.wards_leeds,
        data: dashboard.community.events.rows,
        matchKey: 'ward_code',
        valueProp: 'total'
    }) | safe }}
    <p class="footnote">Count of events hosted in each ward.</p>
    {% endcomp %}
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Total funds raised</h3>
    {{ comp.dashboard.impact.big_number({ prefix: '£', number: 'TBC' }) | safe }}
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Funding breakdown by sector</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Funding breakdown by stage</h3>
    {% comp 'dashboard.impact.embedded_figure' %}
    {{ comp.charts.barchart({
    bg_col: 'var(--l23-dark-blue-grey)',
    text_col: 'white',
    series: [
        metrics.fundraising.count_by_stage.columns.count
    ],
    popupContent: popupContent,
    categories: metrics.fundraising.count_by_stage.columns.stage,
    colours: [
        [ "var(--l23-cyan)" ]
    ],
    plot: {
        grid: { x: true, category: true }
    },
    axis: {
        x: {
        title: 'Number of organisations',
        show: false,
        ticks: false,
        resolution: 25
        },
        category: {
        label_width: 75,
        show: false,
        height: 65,
        width: 10
        }
    }
    }) | safe }}
    {% endcomp %} 
    {% endcomp %}

{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>People employed by Leeds Culture Trust</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Volunteer applications</h3>
    {{ comp.dashboard.impact.big_number({ number: metrics.volunteers.by_week.columns.applied | last | localize }) | safe }}
    <p class="footnote">The number of volunteering applications that have been received.</p>
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Volunteer Offers</h3>
    {{ comp.dashboard.impact.big_number({ number: metrics.volunteers.by_week.columns.offered | last or '--' | localize }) | safe }}
    <p class="footnote">The number of people who have been offered a volunteering role.</p>
{% endcomp %} 

    {% comp 'dashboard.impact.embedded_figure', { columns: 2 } %} 
    {{ comp.oi.charts.graph.line({
    title: 'Total online audience',
    categories: metrics.social_media.all_weekly.columns.week_ending,
    width: 25,
    height: 8,
    text: { colour: 'white' },
    xAxis: {
        title: 'Week ending (Sunday)',
        titleOffset: 4.2,
        labelRotate: 35,
        majorTick: 4,
        formatter: dateFormatter
    },
    yAxis: {
        title: 'Total Audience',
        titleOffset: 3.4,
        majorTick: 5000
    },
    plotArea: {
        yMin: 0,
        yMax: 35000,
        colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
        left: 4,
        bottom: 5
    },
    series: [
        {
        id: "all", label: "All",
        yValues: metrics.social_media.all_weekly.columns.audience_last,
        colour: all_colour,
        markerOptions: { s: 5 }
        },
        {
        id: "twitter", label: "Twitter",
        yValues: metrics.social_media.service.twitter_weekly.columns.audience_last,
        colour: twitter_colour,
        markerOptions: { s: 5 }
        },
        {
        id: "instagram", label: "Instagram",
        yValues: metrics.social_media.service.instagram_weekly.columns.audience_last,
        colour: instagram_colour,
        markerOptions: { s: 5 }
        },
        {
        id: "facebook", label: "Facebook",
        yValues: metrics.social_media.service.facebook_weekly.columns.audience_last,
        colour: facebook_colour,
        markerOptions: { s: 5 }
        },
        {
        id: "linkedin", label: "Linkedin",
        yValues: metrics.social_media.service.linkedin_weekly.columns.audience_last,
        colour: linkedin_colour,
        markerOptions: { s: 5 }
        }
    ],
    legend: {
        width: "20em"
    }
    }) | safe }}
{% endcomp %}

{% comp 'dashboard.impact.embedded_figure', { columns: 2 } %} 
{{ comp.oi.charts.graph.line({
  title: 'Total engagements',
  categories: metrics.social_media.all_weekly.columns.week_ending,
  width: 25,
  height: 8,
  text: { colour: 'white' },
  xAxis: {
    title: 'Week ending (Sunday)',
    titleOffset: 4.2,
    labelRotate: 35,
    majorTick: 4,
    formatter: dateFormatter
  },
  yAxis: {
    title: 'Engagements',
    titleOffset: 3,
    majorTick: 2000
  },
  plotArea: {
    yMin: 0,
    yMax: 10000,
    colour: "var(--l23-dark-blue-grey)"
  },
  padding: {
    left: 4,
    bottom: 5
  },
  series: [
    {
      id: "all", label: "All",
      yValues: metrics.social_media.all_weekly.columns.engagements_total,
      colour: all_colour,
      markerOptions: { s: 5 }
    },
    {
      id: "twitter", label: "Twitter",
      yValues: metrics.social_media.service.twitter_weekly.columns.engagements_total,
      colour: twitter_colour,
      markerOptions: { s: 5 }
    },
     {
      id: "instagram", label: "Instagram",
      yValues: metrics.social_media.service.instagram_weekly.columns.engagements_total,
      colour: instagram_colour,
      markerOptions: { s: 5 }
    },
    {
      id: "facebook", label: "Facebook",
      yValues: metrics.social_media.service.facebook_weekly.columns.engagements_total,
      colour: facebook_colour,
      markerOptions: { s: 5 }
    },
    {
      id: "linkedin", label: "Linkedin",
      yValues: metrics.social_media.service.linkedin_weekly.columns.engagements_total,
      colour: linkedin_colour,
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
}) | safe }}
{% endcomp %}


{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Percentage of Leeds schools engaged with:</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC', suffix: '%' }) | safe }}
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Total featured articles</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>International online mentions</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Another metric here</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    <p class="footnote">Some more figures will go here as we build out the dashboard.</p>
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Another metric here</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
    <p class="footnote">Some more figures will go here as we build out the dashboard.</p>
{% endcomp %}
{% comp 'dashboard.impact.panel', { bg: "var(--l23-dark-blue-grey)", fg: "white" } %}
    <h3>Number of pupils engaged with:</h3>
    {{ comp.dashboard.impact.big_number({ number: 'TBC' }) | safe }}
{% endcomp %}
{% endcomp %}
</div>

{% if limitations %}
<h2>Known Limitations and Issues</h2>
<ul>
  {% for item in limitations %}<li>{{ item | md(true) | safe }}</li>{% endfor %}
</ul>
{% endif %}
