---
css: |
  figure figcaption {
    font-style: italic;
    text-align: center;
  }
---
<figure style="{% if max_width %}--max-width:{{ max_width }};{% endif %}">
  {% if title  %}<figcaption>{{ title }}</figcaption>{% endif %}
  {{ content | safe }}
</figure>

