---
css: |
  .corner-flash {
    background: var(--l23-yellow);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translate(-50%, -50%) rotate(-45deg) translateY(5rem);
    transition: transform 0.2s ease;
    box-shadow: 0 0 10px 1px hsla(0,0%,50%,0.9);
    &:hover {
      transform: translate(-50%, -50%) rotate(-45deg) translateY(5rem) scale(1.1);
    }
    & .message {
      margin-left: auto;
      margin-right: auto;
      padding: 0.5rem 0;
      width: max-content;
      colour: #eee;
    }
  }
---

<div class='corner-flash'>
  <div class='message'>
    Work in Progress
  </div>
</div>