---
css: |
  .big-number {
    font-family: var(--title-fontstack);
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
  }
---
<div class='big-number'>{{ number }}{{ suffix | d('') }}</div>

