---
title: Community Engagement
---
<style>
  tr { vertical-align: bottom; }
  th:not(:first-child) { writing-mode: vertical-rl; }
</style>

<p>
  This dashboard shows the engagement across all wards in Leeds. It is a work in
  progress that will be extended as more data is aggregated onto this data
  microsite. Bringing this data together in one place will give a quick view of
  wards where further engagement is needed.
</p>

<p>
  This dashboard excludes schools data, as this is likely to skew the results.
  You can also review <a href="/dashboard/community/with-schools/">a version of the dashboard including schools data</a>.
</p>

<h2>Resident engagement</h2>

<p>
  This section shows attendances by citizens of Leeds 2023 at events and activities since May 2022.
</p>  

{% comp 'grid.autogrid', { min_width: '40rem' } %}
  {% comp 'layout.figure', {
    title: 'Count of activities by residents in each ward'
  } %}

  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: residents.rows,
    matchKey: 'ward_code',
    valueProp: 'total',
    bgColour: '#BBB'
  }) | safe }}

  {% endcomp %}

  <div>
    <h3>
      Hexmap layers
    </h3>
    <p>
      The metrics included in the overall hexmap are listed below. The data for each
      can be found in the table below the hexmap. The activity has been allocated to
      ward by mapping the postscodes associated with the activity. In the case of
      some metrics (e.g. school learners), this is the postcode of the school, not
      the residence postcode.
    </p>

    <dl>
      <dt><a href="/metrics/events/awakening">Awakening ballot entries</a></dt>
      <dd>
        Number of ballot entries received.
      </dd>

      <dt><a href="/metrics/events/awakening">Awakening attendance</a></dt>
      <dd>
        Number of attendees at The Awakening
      </dd>

      <dt><a href="/metrics/volunteers">Volunteers</a></dt>
      <dd>
        Number of volunteers who have applied.
      </dd>

      <dt><a href="/metrics/roadshow-attendees">Roadshow contact</a></dt>
      <dd>
        Number of contact consent forms that were submitted following the roadshows.
      </dd>
    </dl>
  </div>
{% endcomp %}

{{ comp.charts.table({
  columns: table_columns.residents,
  rows: residents.rows
}) | safe }}

<h2>Ward-focussed initiatives</h2>

<p>
  This section shows the number of events and other initiatives (such as appointment of ward
  hosts) across wards, that have taken place as part since October 2021.  
</p>

{% comp 'grid.autogrid', { min_width: '40rem' } %}
  {% comp 'layout.figure', {
    title: 'Count of events hosted in each ward'
  } %}

  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: events.rows,
    matchKey: 'ward_code',
    valueProp: 'total',
    bgColour: '#BBB'
  }) | safe }}

  {% endcomp %}

  <div>
    <h3>
      Hexmap layers
    </h3>
    <p>
      The metrics included in the overall hexmap are listed
      below. The data for each can be found in the table below the hexmap.
    </p>

    <dl>
      <dt>Ward Hosts</dt>
      <dd>
        Ward hosts appointed (one per ward).
      </dd>

      <dt>Celebrations</dt>
      <dd>
        Celebration events held in each of the wards. At the moment, this is based
        on data from the <a href="/report/mwmcmn">My World, My City, My
        Neighbourhood</a> project.
      </dd>

      <dt><a href="/metrics/roadshow-attendees">Roadshows</a></dt>
      <dd>
        Number of roadshow events hosted.
      </dd>

      <dt>Hidden Stories</dt>
      <dd>Number of events hosted as part of the <a href="https://leeds2023.co.uk/news/leeds-2023-uncovers-hidden-stories-of-the-city-through-new-community-led-creative-projects-putting-local-people-at-the-heart-of-the-year-of-culture">Hidden Stories</a> initiative.</dd>
    </dl>
  </div>
{% endcomp %}


{{ comp.charts.table({
  columns: table_columns.events,
  rows: events.rows
}) | safe }}
