{{ comp.oi.linechart() | safe }}

<div id="twitter-chart" class="social-chart"></div>
<div id="instagram-chart" class="social-chart"></div>
<div id="facebook-chart" class="social-chart"></div>
<div id="linkedin-chart" class="social-chart"></div>

<style>
  .social-chart {
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .key rect {
    stroke: none;
  }
</style>

<script>
  function fillGraph(params){
    const rawData = JSON.parse(params.file);
    const dateFormatter = (date) => date.toLocaleString('default', { day: 'numeric', month: 'short' });
    const data = {
      week: rawData.map(x => new Date(x.week_starting)),
      values: rawData.map(x => x.audience_last),
      axis: {
        yMax: Math.max(...rawData.map(x => x.audience_last))
      }
    };

    const gap = 500;
    // Work out maximum y value and labels
    const yMax = Math.ceil(Math.max(...data.values)/gap) * gap;
    const yLabels = {};
    for (let l = 0; l <= yMax; l+=gap) yLabels[l] = { label: l};

    const labels = data.week.reduce((a, c, n) => ({ ...a, [n]: { label: dateFormatter(c) } }), {})
    const values = data.values.map((v, n) => ({ x: n, y: parseInt(v, 10) }));
    chart = OI.linechart(document.getElementById(params.domID), {
      left: 80,
      right: 30,
      top: 30,
      bottom: 60,
      // Draw a key
      key: { show: true, position: 'top left' },
      // Define the axes
      'axis': {
        'x': {
          'line': { 'show': true },
          'title': { 'label': 'Week starting (Monday)', 'anchor': 'middle' },
          'labels': labels,
        },
        'y': {
          'line': { show: true },
          'grid': { 'show': false, 'stroke-width': '0.5px' },
          'title': { 'label': 'Audience' },
          'max': yMax,
          'labels': yLabels,
        }
      }
    });
    chart.addSeries(values, {
      'title': params.chartTitle,
      'points': { 'size': 6, 'color': params.colour },
      'line': { 'color': params.colour },
      // 'tooltip': { 'label': 'Cumulative values' }
    });
    chart.draw();
  

  }
  document.addEventListener('DOMContentLoaded', function () {
    paramsTwitter = {
              file: `{{ metrics.social_media.twitter_weekly.rows | dump | safe }}`,
              domID: "twitter-chart",
              colour: "#1DA1F2",
              chartTitle: "Twitter Audience"
            };

    paramsInstagram = {
              file: `{{ metrics.social_media.instagram_weekly.rows | dump | safe }}`,
              domID: "instagram-chart",
              colour: "#833AB4",
              chartTitle: "Instagram Audience"
            };

    paramsFacebook = {
              file: `{{ metrics.social_media.facebook_weekly.rows | dump | safe }}`,
              domID: "facebook-chart",
              colour: "#4267B2",
              chartTitle: "Facebook Audience"
            };

    paramsLinkedin = {
              file: `{{ metrics.social_media.linkedin_weekly.rows | dump | safe }}`,
              domID: "linkedin-chart",
              colour: "#0A66C2",
              chartTitle: "Linkedin Audience"
            };

    fillGraph(paramsTwitter);
    fillGraph(paramsInstagram);
    fillGraph(paramsFacebook);
    fillGraph(paramsLinkedin);




  });
</script>