## Total Audience: {{metrics.social_media.summary.service.twitter_total.metrics.audience_last + 
metrics.social_media.summary.service.instagram_total.metrics.audience_last +
metrics.social_media.summary.service.facebook_total.metrics.audience_last +
metrics.social_media.summary.service.linkedin_total.metrics.audience_last}}

## Total Engagement: {{metrics.social_media.summary.service.twitter_total.metrics.engagements_total + 
metrics.social_media.summary.service.instagram_total.metrics.engagements_total +
metrics.social_media.summary.service.facebook_total.metrics.engagements_total +
metrics.social_media.summary.service.linkedin_total.metrics.engagements_total}}