## Total Audience: {{metrics.social_media_2.summary.service.twitter.metrics.audience_last + 
metrics.social_media_2.summary.service.instagram.metrics.audience_last +
metrics.social_media_2.summary.service.facebook.metrics.audience_last +
metrics.social_media_2.summary.service.linkedin.metrics.audience_last}}

## Total Engagement 2022: {{metrics.social_media_2.summary.service.twitter.metrics.engagements_total + 
metrics.social_media_2.summary.service.instagram.metrics.engagements_total +
metrics.social_media_2.summary.service.facebook.metrics.engagements_total +
metrics.social_media_2.summary.service.linkedin.metrics.engagements_total}}

## Total Audience Gained 2022: {{metrics.social_media_2.summary.service.twitter.metrics.audience_gained_total + 
metrics.social_media_2.summary.service.instagram.metrics.audience_gained_total +
metrics.social_media_2.summary.service.facebook.metrics.audience_gained_total +
metrics.social_media_2.summary.service.linkedin.metrics.audience_gained_total}}

## Total Impressions 2022: {{metrics.social_media_2.summary.service.twitter.metrics.impressions_total + 
metrics.social_media_2.summary.service.instagram.metrics.impressions_total +
metrics.social_media_2.summary.service.facebook.metrics.impressions_total +
metrics.social_media_2.summary.service.linkedin.metrics.impressions_total}}