---
css: |
  .impact-link {
    text-decoration: none;
  }
  .impact-block {
    --background: lightgrey;
    --foreground: black;
    --align: center;
    color: var(--foreground);
    background: var(--background);
    height: 100%;
    min-height: 250px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: var(--align);
    transition: color 0.3s linear, background-color 0.3s linear;
    position: relative;
    overflow: hidden;
    &:hover {
      color: white;
      background: black;
    }
    & * {
      margin-top: 0;
    }
  }
---
{%-if link -%}<a class="impact-link" href="{{ link | url }}">{%- endif -%}
<div class="impact-block"
  style="
    {%- if fg %}--foreground: {{ fg }};{% endif -%}
    {%- if bg %}--background: {{ bg }};{% endif -%}
    {%- if align %}--align: {{ align }};{% endif -%}
  ">
  {{ content | safe }}
</div>
{%-if link -%}</a>{%- endif -%}
