---
css: |
  .impact-block {
    --background: lightgrey;
    --foreground: black;
    color: var(--foreground);
    background: var(--background);
    padding: 1rem;
    text-align: center;
    transition: color 0.3s linear, background-color 0.3s linear;
  }
  .impact-block:hover {
    color: white;
    background: black;
  }
---
<div class="impact-block"
  style="
    {%- if fg %}--foreground: {{ fg }};{% endif -%}
    {%- if bg %}--background: {{ bg }};{% endif -%}
  ">
  {{ content | safe }}
</div>