{{ comp.oi.linechart() | safe }}

<div id="wa-chart-1" class="wa-chart chart"></div>

<style>
  .wa-chart {
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .key rect {
    stroke: none;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const rawData = JSON.parse(`{{ metrics.roadshow_attendees.summary.rows | dump | safe }}`);
    const dateFormatter = (date) => date.toLocaleString('default', { day: 'numeric', month: 'short' });
    const data = {
      week: rawData.map(x => new Date(x.week_ending)),
      values: rawData.map(x => x.cumulative_attendees),
      axis: {
        yMax: Math.max(...rawData.map(x => x.cumulative_attendees))
      }
    };

    // Work out maximum y value and labels
    const yMax = Math.ceil(Math.max(...data.values)/50) * 50;
    const yLabels = {};
    for (let l = 0; l <= yMax; l+=50) yLabels[l] = { label: l};

    const labels = data.week.reduce((a, c, n) => ({ ...a, [n]: { label: dateFormatter(c) } }), {})
    const attendees = data.values.map((v, n) => ({ x: n, y: parseInt(v, 10) }));
    chart = OI.linechart(document.getElementById('wa-chart-1'), {
      left: 80,
      right: 30,
      top: 30,
      bottom: 60,
      // Draw a key
      key: { show: true, position: 'top left' },
      // Define the axes
      'axis': {
        'x': {
          'line': { 'show': true },
          'title': { 'label': 'Week ending (Friday)', 'anchor': 'middle' },
          'labels': labels,
        },
        'y': {
          'line': { show: false },
          'grid': { 'show': true, 'stroke-width': '0.5px' },
          'title': { 'label': 'Attendees' },
          'max': yMax,
          'labels': yLabels,
        }
      }
    });
    chart.addSeries(attendees, {
      'title': 'Attendee Responses (cumulative)',
      'points': { 'size': 6, 'color': 'var(--l23-cyan)' },
      'line': { 'color': 'var(--l23-cyan)' },
      // 'tooltip': { 'label': 'Cumulative attendees' }
    });
    chart.draw();
  });
</script>