{{ comp.oi.linechart() | safe }}

<div id="wa-chart-1" class="wa-chart chart"></div>

<style>
  .wa-chart {
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .key rect {
    stroke: none;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const rawData = JSON.parse(`{{ metrics.roadshows.summary.rows | dump | safe }}`);
    const dateFormatter = (date) => date.toLocaleString('default', { day: 'numeric', month: 'short' });
    const data = {
      week: rawData.map(x => new Date(x.week_ending)),
      values: {
        attendances: rawData.map(x => x.cumulative_attendance),
        contactConsents: rawData.map(x => x.cumulative_contact_consents),
      },
      axis: {
        yMax: Math.max(...rawData.map(x => x.cumulative_attendance))
      }
    };

    // Work out maximum y value and labels
    const gridSpacing = 200;
    const yMax = Math.ceil(Math.max(...data.values.attendances)/gridSpacing) * gridSpacing;
    const yLabels = {};
    for (let l = 0; l <= yMax; l+=gridSpacing) yLabels[l] = { label: l };

    const labels = data.week.reduce((a, c, n) => ({ ...a, [n]: { label: dateFormatter(c) } }), {})
    const attendances = data.values.attendances.map((v, n) => ({ x: n, y: parseInt(v, 10) }));
    const contactConsents = data.values.contactConsents.map((v, n) => ({ x: n, y: parseInt(v, 10) }));

    chart = OI.linechart(document.getElementById('wa-chart-1'), {
      left: 80,
      right: 30,
      top: 30,
      bottom: 60,
      // Draw a key
      key: { show: true, position: 'top left' },
      // Define the axes
      'axis': {
        'x': {
          'line': { 'show': true },
          'title': { 'label': 'Week ending (Friday)', 'anchor': 'middle' },
          'labels': labels,
        },
        'y': {
          'line': { show: false },
          'grid': { 'show': true, 'stroke-width': '0.5px' },
          'title': { 'label': 'Numbers' },
          'max': yMax,
          'labels': yLabels,
        }
      }
    });
    const colours = [
      'var(--l23-cyan)',
      'var(--l23-magenta)'
    ]
    chart.addSeries(attendances, {
      'title': 'Attendances (cumulative)',
      'points': { 'size': 6, 'color': colours[0] },
      'line': { 'color': colours[0] },
      // 'tooltip': { 'label': 'Cumulative attendees' }
    });
    chart.addSeries(contactConsents, {
      'title': 'Completed Contact Consent Forms (cumulative)',
      'points': { 'size': 6, 'color': colours[1] },
      'line': { 'color': colours[1] },
      // 'tooltip': { 'label': 'Cumulative attendees' }
    });
    chart.draw();
  });
</script>