<script src="/js/oi.hexmap.min.js"></script>
<style>
  .hexmap {
    height: 30rem;
    width: 100%;
    position: relative;
    animation-duration: 0.3s;
  }
  .hexmap .tooltip {
    position: absolute;
    text-align: center;
    background: black;
    color: white;
    padding: 0.25em 0.5em;
    transform: translate3d(-50%,50%,0);
    transition: left 0.1s linear, top 0.1s linear;
    border-radius: 4px;
  }
  .hexmap .tooltip::after {
    content: "";
    position: absolute;
    bottom: auto;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    left: 50%;
    top: 0;
    transform: translate3d(-50%,-100%,0);
    border-color: transparent;
    border-bottom-color: black;
  }
</style>

<div id="ward-hexmap" class="hexmap"></div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const hexjson = JSON.parse('{{ hex.wards_leeds | dump | safe }}');
    const wardData = JSON.parse('{{ metrics.roadshow_attendees.by_ward.rows | dump | safe }}');

    const maxAttendees = Math.max(...wardData.map(x => x.attendees));
    console.log(maxAttendees)
    const colourScale = (v = 0) => {
      const proportion = v / maxAttendees;
      return `hsl(173, 100%, ${ 100 - proportion * 50}%)`
    }

    let outOfRegion = 0;
    const otherWards = [];
    wardData.forEach(({ward_code: wardCode, attendees}) => {
      if (Object.keys(hexjson.hexes).includes(wardCode)) {
        hexjson
          .hexes[wardCode]
          .attendees = parseInt(attendees);
        hexjson
          .hexes[wardCode]
          .colour = colourScale(parseInt(attendees));
      } else {
        outOfRegion += parseInt(attendees);
        otherWards.push(wardCode)
      }
    });

    // Attach our hexmap to <div id="ward-hexmap"></div>
    const hex = new ODI.hexmap(document.getElementById('ward-hexmap'), {
      label: {
        show: true
      },
      format: function (txt, attr) {
        tspans = '<tspan class="off">' + txt.substr(0, 3) + '</tspan>';
        lines = txt.split(/ /);
        lines.push(attr.hex.pop.toLocaleString());
        for (var i = 0; i < lines.length; i++) {
          tspans += '<tspan class="on' + (
            i == lines.length - 1
            ? ' big'
            : '') + '" y="' + (
          attr.y + (i - lines.length / 2 + 0.5) * attr['font-size']) + '" x="' + attr.x + '">' + lines[i] + '</tspan>';
        }
        return tspans;
      },
      hexjson
    });

    hex.on('mouseover', function (e) {
      const {n: name, attendees} = e.data.data;
      const svg = e.data.hexmap.el;
      const hex = e.target;
      let tip = svg.querySelector('.tooltip');
      if (!tip) {
        // Add a new tooltip
        tip = document.createElement('div');
        tip
          .classList
          .add('tooltip');
        svg.appendChild(tip);
      }
      // Update contents of tooltip
      tip.innerHTML = `${name}<br />${attendees} attendee returns`;
      // Update position of tooltip
      const bb = hex.getBoundingClientRect();
      const bbo = svg.getBoundingClientRect();
      tip.style.left = Math.round(bb.left + bb.width / 2 - bbo.left + svg.scrollLeft) + 'px';
      tip.style.top = Math.round(bb.top + bb.height / 2 - bbo.top) + 'px';
    });
  });
</script>