{{ comp.oi.linechart() | safe }}

<div id="chart"></div>

<style>
  #chart {
    height: 20rem;
  }
</style>

<script>
document.addEventListener('oi-linechart-ready', function() {
  monthslong = ['January','February','March','April','May','June','July','August','September','October','November','December'];
  months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  chart = OI.linechart(document.getElementById('chart'),{
    'left':50,
    'right':10,
    'top':10,
    'bottom':24,
    // Draw a key
    'key':{ 'show':true },
    // Define the axes
    'axis':{
      'x':{
        'line': {'show':true},
        'labels':{
          1: {'label':months[0]},
          2: {'label':months[1]},
          3: {'label':months[2]},
          4: {'label':months[3]},
          5: {'label':months[4]},
          6: {'label':months[5]},
          7: {'label':months[6]},
          8: {'label':months[7]},
          9: {'label':months[8]},
          10: {'label':months[9]},
          11: {'label':months[10]},
          12: {'label':months[11]}
        }
      },
      'y':{
        'line': {'show':false,'stroke-width':2},
        'grid': {'show':true},
        'title': { 'label': 'Temperature &deg;C' },
        'labels':{
          0: {'label':0},
          5: {'label':5},
          10: {'label':10},
          15: {'label':15},
          20: {'label':20}
        }
      }
    }
  });
  // A function to create the contents of a tooltip
  function label(d){ return ''+d.series.title+'\n'+monthslong[d.i]+': '+d.data.y.toFixed(2)+'&deg;C'; }
  // Create some data
  var maxtemp = [{x:1,y:6.4},{x:2,y:7},{x:3,y:9.1},{x:4,y:11.9},{x:5,y:14.8},{x:6,y:17.5},{x:7,y:19.6},{x:8,y:19},{x:9,y:16.9},{x:10,y:13.3},{x:11,y:9.1},{x:12,y:6.7}];
  var mintemp = [{x:1,y:1.8},{x:2,y:1.4},{x:3,y:2.2},{x:4,y:3.9},{x:5,y:7},{x:6,y:9.9},{x:7,y:12.1},{x:8,y:12},{x:9,y:10.1},{x:10,y:7.6},{x:11,y:4.3},{x:12,y:2.2}];
  // Add the data to the chart
  chart.addSeries(maxtemp,{
    'title': 'Max temperature',
    'points':{ 'size':4, 'color': '#FF6700' },
    'line':{ 'color': '#FF6700' },
    'tooltip':{ 'label': label }
  });
  chart.addSeries(mintemp,{
    'title': 'Min temperature',
    'points':{ 'size':4, 'color': '#2254F4' },
    'line':{ 'color': '#2254F4' },
    'tooltip':{ 'label': label }
  });
  chart.draw();
});
</script>