---
css: |
  .impact-big-number {
    font-family: var(--title-fontstack);
    font-size: clamp(1.2rem, 6vw, 4rem);
    font-weight: bold;
    text-align: center;
  }
---
<div class='impact-big-number'>{{ prefix | d('') }}{{ number }}{{ suffix | d('') }}</div>

