---
css: |

  .dashboard-panel {
    --background: var(--l23-dark-blue-grey);
    --foreground: white;
    color: var(--foreground);
    background: var(--background);
    text-align: center;
    align-items: center;
    transition: color 0.3s linear, background-color 0.3s linear;
    overflow: hidden;
    &:hover {
      color: white;
      background: black;
    }
  }

  .dashboard-panel > .subtext {
    font-size: 1.1em; 
    font-weight: bold;
  }

  .panels-link {
    text-decoration: none;
    padding: 0.5em;
    height: 100%;
    margin-bottom: 0;
    & * {
      margin-top: 0;
    }
  }

---


<li class="dashboard-panel" style="
    {% if rows %}grid-row:auto/span {{ rows }};{% endif %}
    {% if columns %}grid-column:span {{ columns }};{% endif %}
    {%- if fg %}--foreground: {{ fg }};{% endif -%}
    {%- if bg %}--background: {{ bg }};{% endif -%}
    {%- if align %}--align: {{ align }};{% endif -%}
    ">
{%-if link -%}<a class="panels-link" href="{{ link | url }}">{%- endif -%}
  {{ content | safe }}
{%-if link -%}</a>{%- endif -%}
</li>
