{%-if link -%}<a class="panels-link" href="{{ link | url }}">{%- endif -%}
<li class="dashboard-panel" style="
    {% if rows %}grid-row:auto/span {{ rows }};{% endif %}
    {% if columns %}grid-column:span {{ columns }};{% endif %}
    {%- if fg %}--foreground: {{ fg }};{% endif -%}
    {%- if bg %}--background: {{ bg }};{% endif -%}
    {%- if align %}--align: {{ align }};{% endif -%}
    " tabindex="0">
  {{ content | safe }}
</li>
{%-if link -%}</a>{%- endif -%}
