---
css: |
  .panels {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    & > * {
      margin: 0;
    }
  }

  @media only screen and (min-width: 50rem) {
    .panels {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .panels > li {
    padding: 0.5em;
    --background: lightgrey;
    --foreground: black;
    color: var(--foreground);
    background: var(--background);
    transition: color 0.3s linear, background-color 0.3s linear;
    overflow: hidden;
    &:hover {
      color: white;
      background: black;
    }
    &:focus {
      outline: 4px solid #061eff;
    }
    & * {
      margin-top: 0;
    }
  }
---

<ul class="panels"
  style="
    {%- if fg %}--foreground: {{ fg }};{% endif -%}
    {%- if bg %}--background: {{ bg }};{% endif -%}
    {%- if align %}--align: {{ align }};{% endif -%}
    {% if columns %}grid-template-columns: repeat( {{ columns }}, minmax(0, 1fr));{% endif %}
    ">  
  {{ content | safe }}
</ul>
