---
title: All That Lives
url: false
summary: Metrics related to All That Lives - a Signature Event held by LEEDS 2023.
tags:
  - main
order: 100
work_in_progress: true
metas:
  title: All That Lives
  description: |
    Visualisations of key metrics related to All That Lives - a Signature Event held by LEEDS 2023.
limitations:
  - Events and activities data are extracted from Airtable.
---

{% from 'macros.njk' import dateFormatter %}

<h2>Introduction</h2>

<p>
  All That Lives was a series of artworks, workshops and performances celebrating all those that we have loved and lost. A collaboration between The Grief Series and Zion Art Studio in Mexico, the work has been inspired by Mexican Day of the Dead and the ways other cultures celebrate and remember those they have lost. 
</p>