---
title: The Gift
url: /the-gift/
description: |
  Inspired by the ward motifs that Keith Khan created for The Gift project,
  we've created a special version of the Leeds wards hexmap layout which showcases
  these brilliant visuals.
metas:
  image: /assets/images/social-share/the-gift.jpeg
---

<div style="display: flex; justify-content: center; max-width: 95vw;">
{{ comp.ward_graphic() | safe }}
</div>

<p>
  At <a href="https://open-innovations.org/">Open Innovations</a>,
  we've been inspired by the brilliant ward motifs that Keith Khan created in discussion with the neighbourhood hosts.
  You can read more about the project on <a href="https://leeds2023.co.uk/the-gift">The Gift page on LEEDS 2023 main site</a>.
</p>

<p>
  We are well familiar with these wards, as they form a key dimension in our data analysis.
  We have our own <a href="https://open-innovations.org/projects/hexmaps/">hex cartogram</a> representation which
  we use to show how the Year of Culture has engaged all parts of the city.
  You can see examples on event metrics pages like <a href="/metrics/events/awakening/">The Awakening page</a>,
  on the <a href='/metrics/volunteers/'>Volunteers page</a>,
  on the <a href="/metrics/callouts/">Call outs page</a>:
  in fact, anywhere we need to visualise data across the whole city.
</p>

<p>
  So we thought what better to pay tribute to a brilliant Year of Culture than creating one last hexmap,
  showcasing the motifs and placing them in a new context! We hope you enjoy it!
</p>