---
title: Standards & Tools
subtitle: "This page contains a list of data standards and tools under consideration by LEEDS 2023."
url: /standards-tools/
nav_order: 40
up:
  title: Data
  url: /
---

<h2>Standards</h2>

{% comp "grid.autogrid" %}
  {% for id, standard in standards %}
    {{ comp.grid.link(standard) | safe }}
  {% endfor %}
{% endcomp %}

<h2>Tools</h2>

{% comp 'grid.autogrid' %}
  {% for id, tool in tools %}
    {{ comp.grid.link(tool) | safe }}
  {% endfor %}
{% endcomp %}


