---
title: Promote Events
summary: Visualisations of key metrics related to LEEDS 2023 Promote events.
tags:
  - main
order: 30
url: false
metas:
  title: Promote Events
  description: |
    Visualisations of key metrics related to LEEDS 2023 Promote events.
limitations: 
  - Events and activities data are extracted from Airtable.
  - No attendance or location data is currently available in the source data.
sources:
  - data/metrics/events/master
  - data/metrics/events/promote-events/events.csv
---

{% from 'macros.njk' import dateFormatterNoDay %}

<p>The Promote strand of the LEEDS 2023 events programme highlights the broad range of cultural activity taking place across the city which audiences may be interested in.</p>

<p>Promote events are those that LEEDS 2023 have promoted on their <a href = "https://leeds2023.co.uk/whats-on">What's On</a>. Events are promoted by extracting key data points via Leeds Inspired’s API and sharing those details on their website. Promote events contain the ‘Beyond LEEDS 2023’ banner.</p>

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '20rem' } %}
  {{ comp.metric.headline({
    title: "Number of Promote events", headingLevel: 3,
    value: headlines.total_events | localize,
    description: "Promoted event series",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Number of Promote event instances", headingLevel: 3,
    value: headlines.total_event_instances | localize,
    description: "Individual showings or timeslots of the events",
    background: "var(--l23-yellow)"
  }) | safe }}

{% endcomp %}


{% comp 'grid.' + headline_grid_style, { min_width: '30rem' } %}

{% comp 'layout.figure', {max_width: '70rem'} %}
<h3>Promote events by month</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: by_month.columns.time,
    width: 25,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Start date',
      titleOffset: 4,
      majorTick: 1,
      formatter: dateFormatterNoDay
    },
    yAxis: {
      title: 'Events',
      titleOffset: 3,
      majorTick: 100
    },
    plotArea: {
      yMax: headlines.total_event_instances | round(-1, 'ceil'),
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {  
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "events", label: "Number of events",
        yValues: by_month.columns.cumulative_events,
        colour: 'var(--l23-cyan)',
        markerOptions: { s: 5 }
      },
      {
        id: "events", label: "Number of event instancess",
        yValues: by_month.columns.cumulative_event_instances,
        colour: 'var(--l23-yellow)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}


{% endcomp %}