.grid {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1em;
  grid-auto-rows: auto;
  grid-template-columns: 100%;
  
  @include larger-screen() {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
  
  li {
    display: block;
    // grid-column: auto / span 1;
  }
  
  a {
    box-sizing: border-box;
    height: 100%;
    padding: 1.5em;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease-in,color 0.3s ease-in,background 0.3s ease-in;
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}