%nav-border {
  border-radius: 4px;
  background-color: black;
}

@include larger-screen {
  %nav-border {
    border: none;
    border-radius: unset;
    background-color: unset;
  }
}

.nav-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;

  label {
    @extend %nav-border;
    padding: 10px;
    line-height: 0;
    display: block;
  }

  input {
    display: none;
  }

  a {
    font-size: 1rem;
    display: block;
    color: white;
    padding: 1em;
    @include larger-screen() {
      font-size: unset;
      display: unset;
      color: unset;
      padding: unset;
    }
  }

  @include larger-screen() {
    top: unset;
    right: unset;
    position: relative;
    display: unset;
    label {
      display: none;
      padding: 0;
      visibility: hidden;
    }
  }
}

.site-navigation {
  @extend %nav-border;
  display: none;
  overflow: hidden;
  position: relative;
  margin-top: 0.5rem;

  #nav-state:checked + & {
    display: unset;
  }

  @include larger-screen() {
    display: flex;
    margin-top: unset;
    justify-content: center;
    gap: 1rem;
    #nav-state:checked + & {
      display: flex;
    }
  }

}
#nav-state {}
