%nav-border {
  border-radius: 4px;
  background-color: black;
}

@include larger-screen {
  %nav-border {
    border: none;
    border-radius: unset;
    background-color: unset;
  }
}

.nav-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;

  label {
    @extend %nav-border;
    padding: 10px;
    line-height: 0;
    display: block;
  }

  input {
    display: none;
  }

  @include larger-screen() {
    @extend %holder;
    top: unset;
    right: unset;
    position: relative;
    display: unset;
    label {
      display: none;
      visibility: hidden;
    }
  }
}

.site-navigation {
  @extend %nav-border;
  display: none;
  overflow: hidden;
  position: relative;
  margin-top: 5px;

  #nav-state:checked + & {
    display: unset;
  }

  @include larger-screen() {
    display: flex;
    margin-top: unset;
    font-size: 1.5em;  
    justify-content: center;
    #nav-state:checked + & {
      display: flex;
    }
  }

  a {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: white;
      color: black;
    }
    @include larger-screen() {
      &.active {
        background-color: #1DD3A7;
      }
    }
  }
}
#nav-state {}
