.chart-title {
  font-size: 1.4em;
  font-weight: bold;
  font-family: var(--title-fontstack);
}

.plot {
  --plot-fill: var(--l23-mint);
}

.grid {
  stroke: #aaa;
  &.x {
    stroke-dasharray: 7 4;
  }
}
.axis {
  stroke: #aaa;
}

/* Outline zero valued hexes in black */
.hexmap [data-value="0"] path {
  stroke: var(--l23-dark-blue-grey);
  stroke-width: 3px;
}

.chart, .oi-chart, .oi-graph .line-chart {
  --colour:#eee;
  --plot-background:var(--l23-dark-blue-grey);
  background: var(--plot-background);
  & .line {
    stroke-width: 2px;
  }
}
div.chart, div.oi-chart {
  padding: 1rem;
}

.chart text, .oi-chart text {
  fill: var(--colour);
  stroke: none;
}

.legend * + *, .oi-legend * + * {
  margin-top: unset;
}

.oi-legend-inner .oi-legend-label {
	color: var(--colour);
}
.oi-legend-inner i.oi-legend-icon {
	height: 0.5em;
	margin-top: 0.4em;
	border-radius: 100%;
}
.oi-legend-inner .oi-legend-item.oi-series-lock .oi-legend-label, .oi-legend-inner .oi-legend-item:hover .oi-legend-label {
	color: black;
}
.oi-chart .oi-legend-inner {
	--auto-grid-min-size: 16rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--auto-grid-min-size)), 1fr));
	text-align: left;
}

.chart, .oi-graph .line-chart {
  & .legend {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--auto-grid-min-size)), 1fr))
  }
  & .legend-container {
    --width: 20rem;
    overflow: visible;
    width: 1px;
    height: 1px;
  }
}
.oi-viz > svg { margin-top: 0; }
.oi-viz .tooltip h3 { margin-bottom: 0.25em; }
.oi-viz .skip-link:focus, .oi-viz .skip-link:active { margin-top: 0!important; background: white; }