@font-face {
	font-family: DM Sans;
	src: url(https://leeds2023.co.uk/fonts/DMSans-BoldItalic.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/DMSans-BoldItalic.woff) format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: DM Sans;
	src: url(https://leeds2023.co.uk/fonts/DMSans-MediumItalic.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/DMSans-MediumItalic.woff) format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: DM Sans;
	src: url(https://leeds2023.co.uk/fonts/DMSans-Regular.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/DMSans-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: DM Sans;
	src: url(https://leeds2023.co.uk/fonts/DMSans-Italic.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/DMSans-Italic.woff) format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: DM Sans;
	src: url(https://leeds2023.co.uk/fonts/DMSans-Medium.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/DMSans-Medium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: DM Sans;
	src: url(https://leeds2023.co.uk/fonts/DMSans-Bold.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/DMSans-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Rebond Grotesque;
	src: url(https://leeds2023.co.uk/fonts/RebondGrotesque-Medium.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/RebondGrotesque-Medium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Rebond Grotesque;
	src: url(https://leeds2023.co.uk/fonts/RebondGrotesque-Bold.woff2) format("woff2"),url(https://leeds2023.co.uk/fonts/RebondGrotesque-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}