.site-header-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}
.site-header {
  height: var(--header-height);
  color: white;
  font-size: 1.125rem;
  & h1 {
    font-size: 1.5rem;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    gap: 20px;
    font-weight: bold;
    align-items: center;
    & svg {
      width: 127px;
      fill: white;
    }
  }

  & a {
    text-decoration: none;
    color: inherit;
    &:hover, &.active {
      text-decoration: underline;
    }
  }
  & * {
    margin-top: 0;
  }
}
.main-margin {
	margin-top: 3.6em;
	padding-top: 0;
}
.header-title {
  font-size: 1.5rem;
}
/* TODO remove reliance on pixel values for size setting */
.headingHero {
	display: flex;
	background-color: var(--l23-beige);
	padding: 56px 0px;
	position: relative;
	overflow: hidden;
  & .max-width-container {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: auto;
    width: var(--max-width);
    max-width: 100%;
    padding: var(--vertical-padding) 1rem;
    box-sizing: content-box;
  }
  & .ribbon {
    position: absolute;
    z-index: 0;
    top:-30px;
    right: -50px;
    width: 100%;
    max-width: 100vw;
    display: flex;
    -moz-box-pack: end;
    justify-content: flex-end;
    -moz-box-align: center;
    align-items: center;
    align-items: flex-start;
    --ribbon-color: var(--l23-yellow);
    --text-color: var(--l23-magenta);
    & svg {
      max-width: 70%;
      height: 100%;
    }    
  }
  & .up {
    font-size: 1.25em;
    text-underline-offset: 4px;
    display: inline-block;
    & svg {
      transform: rotate(90deg);
      margin-right: 8px;
    }
  }
  & h1 {
    margin-top: 0;
    color: var(--l23-dark-blue-grey);
    font-family: Rebond Grotesque, sans-serif;
    font-weight: 500;
    font-size: 4em;
    line-height: 72px;
    letter-spacing: -0.02em;
  }
  & p {
    font-size: 1.1em;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-top: 1em;
  }
  @media (max-width: 767px) {
    & {
      padding: 24px 0px;
      & h1 {
        font-size: 2.5em;
        line-height: 1.2;
        padding-right: 52px;
        margin-top: 0px;
      }
    }
  }      
}

