.site-header-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}
.site-header {
  height: var(--header-height);
  color: white;
  font-size: 1.125rem;
  & h1 {
    font-size: 1.5rem;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    gap: 20px;
    font-weight: bold;
    align-items: center;
    & svg {
      width: 127px;
      fill: white;
    }
  }

  & a {
    text-decoration: none;
    color: inherit;
    &:hover, &.active {
      text-decoration: underline;
    }
  }
  & * {
    margin-top: 0;
  }
}