main {
  padding-top: var(--header-height);
}

img {
  max-width: 100%;
}

.max-width-container {
  padding: 0 32px;
  & > * {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
