table {
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  padding: 0.4rem;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}
th {
  font-weight: bold;
  font-family: var(--title-fontstack);
}
td, th {
  padding: 0.5rem;
}
