---
title: Media Coverage
summary: Print, broadcast and online coverage
tags:
  - main
order: 200
url: /metrics/media-coverage/
key: media_coverage
limitations:
  - There is currently a gap in data between October and November. The figures for these months are lower than reality. This will be resolved soon.
  - The headline figures for each media outlet area are currently lower than reality. This is due to a number of articles in our dataset not currently being allocated a geographic region.
  - There are a small number of articles counted twice in January. There is some work needed to de-duplicate the original dataset.
sources:
  - data/metrics/media_coverage/
uses_dataset:
  - media_coverage.combined_cision
  - media_coverage.combined_historic

data_overrides:
  total_editorial_articles: 2172
---
{%- macro popupContent({ value: value, category: category }) -%}
  {{ value }} articles and appearances in the {{ category }} category
{%- endmacro -%}
{% from 'macros.njk' import dateFormatterNoDay %}
{%- macro popupPreApplication(params) -%}
  {{ params.label }}</br>
{{ params.value }} signups
{%- endmacro -%}
{%- macro popupApplied(params) -%}
{{ params.label }}</br>
{{ params.value }} applications received
{%- endmacro -%}

<h2>Headlines</h2>

{# Set up some cyclers for block colouring #}
{% set fg = cycler("black", "black") %}
{% set bg = cycler("var(--l23-cyan)", "var(--l23-yellow)", "var(--l23-magenta)") %}

{% comp 'grid.' + headline_grid_style, {min_width: '25rem'} %}
{% comp 'grid.block.impact', {bg: bg.next()} %}
<h2>
      Total Articles and Appearances
    </h2>
{{ comp.viz.bigNumber({
      number: stats.total_media | localize
    }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', {bg: bg.next()} %}
<h2>
      Total Editorial Articles
    </h2>
{{ comp.viz.bigNumber({
      number: data_overrides.total_editorial_articles | localize
    }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', {bg: bg.next()} %}
<h2>
      Total International Articles and Appearances
    </h2>
{{ comp.viz.bigNumber({
      number: stats.total_media_international | localize
    }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', {bg: bg.next()} %}
<h2>
      Total National Articles and Appearances
    </h2>
{{ comp.viz.bigNumber({
      number: stats.total_media_national | localize
    }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', {bg: bg.next()} %}
<h2>
      Total Regional Articles and Appearances
    </h2>
{{ comp.viz.bigNumber({
      number: stats.total_media_regional | localize,
      background: "var(--l23-yellow)"
    }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', {bg: bg.next()} %}
<h2>
      Total Local Articles and Appearances
    </h2>
{{ comp.viz.bigNumber({
      number: stats.total_media_local | localize,
      background: "var(--l23-magenta)"
    }) | safe }}
{% endcomp %}

{#
{% comp 'grid.block.impact', {bg: bg.next()} %}
<h2>
      Total Estimated Circulation
    </h2>
{{ comp.viz.bigNumber({
      number: stats.total_estimated_circulation | humanise()
    }) | safe }}
{% endcomp %}
#}

{% endcomp %}


<h2>Detailed charts</h2>
{% comp 'grid.autogrid', {min_width: '30rem'} %}

<div>
<h3>Media Coverage by Medium</h3>
{% comp 'layout.figure' %}
{{ comp.oi.viz.chart.bar({ config: {
    data: medium_count.rows,
    category: 'medium',
    width: 800,
    series: [
      { title: 'Number of articles', value: 'count', colour: "var(--l23-yellow)" }
    ],
    legend: {
      show: true,
      position: "top"
    },
    axis: {
      x: {
        title: {
          label: "Number of articles"
        },
        tickSpacing: 100,
        "font-weight": oi_viz.bar.axis.x['font-weight'],
        grid: oi_viz.bar.axis.x.grid
      },
      y: {
        title: {
          label: "Medium"
        },
        "font-weight": oi_viz.bar.axis.y['font-weight'],
        grid: oi_viz.bar.axis.y.grid
      }
    }
  } }) | safe }}
{% endcomp %}
</div>

<div>
<h3>Monthly Media Coverage by outlet area</h3>
{% comp 'layout.figure' %}

{# Scale from here https://hihayk.github.io/scale/#2/2/50/80/-0/-0/100/100/ff00a6/255/0/166/white #}
{% set scale = ['#FFCCF5', '#FF66D5', '#ff00a6', '#BF008B', '#800066'] %}

{{ comp.oi.viz.chart.bar({ config: {
    data: monthly_count.rows,
    stacked: true,
    width: 800,
    category: 'month',
    series: [
      { title: 'Local outlets', value: 'Local', colour: scale[0] },
      { title: 'Regional outlets', value: 'Regional', colour: scale[1] },
      { title: 'National outlets', value: 'National', colour: scale[2] },
      { title: 'International outlets', value: 'International', colour: scale[3] },
      { title: 'Unknown outlets', value: 'Unknown', colour: scale[4] }
    ],
    legend: {
      show: true,
      position: "top"
    },
    axis: {
      x: {
        title: {
          label: "Number of articles"
        },
        tickSpacing: 100,
        "font-weight": oi_viz.bar.axis.x['font-weight'],
        grid: oi_viz.bar.axis.x.grid
      },
      y: {
        title: {
          label: "Month"
        },
        "font-weight": oi_viz.bar.axis.y['font-weight'],
        grid: oi_viz.bar.axis.y.grid
      }
    }
  } }) | safe }}

{% endcomp %}
</div>

<div>
<h3>Media outlets with most appearances</h3>
{{ comp.charts.table({
  columns: [{'key' : 'outlet_name','name':'Outlet Name'},{'key':'count','name':'Count'}],
  rows: outlet_count.rows
}) | safe }}
</div>

{% endcomp %}
