---
title: Media Coverage
summary: Data about media coverage
url: /metrics/media-coverage/
key: media_coverage
work_in_progress: true
limitations:
  - Stats have been derived from two different data sources and there is stil work to be done in reconciling these. This page should be seen as more of a wireframe.
  - There is currently a gap in data between October and November. The figures for these months are lower than reality. This will be resolved soon.
---
{%- macro popupContent({ value: value, category: category }) -%}
  {{ value }} articles and appearances in the {{ category }} category
{%- endmacro -%}

<p> All data concerns media coverage from 2021 and 2022.</p>
<h2>Headlines</h2>

{% comp 'grid.autogrid', { min_width: '32rem' } %}
  {% comp 'grid.block.impact', {bg: all_colour} %}
    <h2>
      Total Articles and Appearances
    </h2>
    {{ comp.viz.bigNumber({
      number: stats.total_media | localize
    }) | safe }}
    
  {% endcomp %}

      {% comp 'grid.block.impact', {bg: all_colour} %}
    <h2>
      Total Local Articles and Appearances
    </h2>
    {{ comp.viz.bigNumber({
      number: stats.total_media_local | localize
    }) | safe }}
    
  {% endcomp %}

      {% comp 'grid.block.impact', {bg: all_colour} %}
    <h2>
      Total Regional Articles and Appearances
    </h2>
    {{ comp.viz.bigNumber({
      number: stats.total_media_regional | localize
    }) | safe }}
    
  {% endcomp %}

      {% comp 'grid.block.impact', {bg: all_colour} %}
    <h2>
      Total National Articles and Appearances
    </h2>
    {{ comp.viz.bigNumber({
      number: stats.total_media_national | localize
    }) | safe }}
    
  {% endcomp %}

  {% comp 'grid.block.impact', {bg: all_colour} %}
    <h2>
      Total International Articles and Appearances
    </h2>
    {{ comp.viz.bigNumber({
      number: stats.total_media_international | localize
    }) | safe }}
    
  {% endcomp %}

{# Removed for initial show and tell
  {% comp 'grid.block.impact', {bg: all_colour} %}
    <h2>
      Largest Online Viewership
    </h2>
    {{ comp.viz.bigNumber({
      number: stats.uv_max | localize
    }) | safe }}
    <p>{{stats.uv_max_outlet}}</p>
  {% endcomp %}
  {% comp 'grid.block.impact', {bg: all_colour} %}
    <h2>
      Largest Audience Reached 
    </h2>
    {{ comp.viz.bigNumber({
      number: stats.reach_max | localize
    }) | safe }}
    <p>{{stats.reach_max_outlet}}</p>
  {% endcomp %}
#}
  {% endcomp %}

<h2>Further Breakdowns</h2>
{% comp 'grid.autogrid', { min_width: '32rem' } %}



{{ comp.charts.barchart({
  title: [
    'Breakdown by Scope'
  ],
  series: [
    regional_count.columns.count
  ],
  popupContent: popupContent,
  categories: regional_count.columns.custom_tags,
  colours: [
    [ "var(--l23-cyan)" ]
  ],
  plot: {
    grid: { x: true, category: true }
  },
  axis: {
    x: {
      title: 'Amount of Coverage',
      show: false,
      ticks: false,
      resolution: 100
    },
    category: {
      show: false,
      height: 40
    }
  }
}) | safe }}

{{ comp.charts.barchart({
  title: [
    'Breakdown by Medium'
  ],
  series: [
    medium_count.columns.count
  ],
  popupContent: popupContent,
  categories: medium_count.columns.medium,
  colours: [
    [ "var(--l23-cyan)" ]
  ],
  plot: {
    grid: { x: true, category: true }
  },
  axis: {
    x: {
      title: 'Amount of Coverage',
      show: false,
      ticks: false,
      resolution: 100
    },
    category: {
      show: false,
      height: 40
    }
  }
}) | safe }}
<div><br><br><br><br><br><br></div>
<div></div>
{% from 'macros.njk' import dateFormatterNoDay %}
{%- macro popupPreApplication(params) -%}
  {{ params.label }}</br>
  {{ params.value }} signups
{%- endmacro -%}
{%- macro popupApplied(params) -%}
  {{ params.label }}</br>
  {{ params.value }} applications received
{%- endmacro -%}

{% comp 'layout.figure', {
  title: 'Monthly Media Coverage'
} %}

{{ comp.oi.charts.graph.line({ config: {
  categories: monthly_count.columns.month,
  width: 25,
  height: 12,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Month',
    titleOffset: 4,
    labelRotate: 35,
    majorTick: 2,
    formatter: dateFormatterNoDay
  },
  yAxis: {
    title: 'Media Coverage',
    titleOffset: 3,
    majorTick: 50
  },
  plotArea: {
    yMin: 0,
    yMax: 500,
    colour: 'var(--l23-dark-blue-grey)'
  },
  padding: {
    left: 4,
    bottom: 5
  },
  series: [
    {
      id: "all", label: "All",
      yValues: monthly_count.columns.count,
      colour: 'var(--l23-yellow)',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
} }) | safe }}
{% endcomp %}


{% comp 'layout.block' %}
<h3>Media outlets with most appearances</h3>
{{ comp.charts.table({
  columns: [{'key' : 'outlet_name','name':'Outlet Name'},{'key':'count','name':'Count'}],
  rows: outlet_count.rows
}) | safe }}
{% endcomp %}

{% endcomp %}
