---
css: |
  .hexmap {
    height: 30rem;
    width: 100%;
    position: relative;
    animation-duration: 0.3s;
  }
  .hexmap .tooltip {
    --background: black;
    position: absolute;
    text-align: center;
    background: var(--background);
    color: white;
    padding: 0.25em 0.5em;
    transform: translate3d(-50%,2em,0);
    transition: left 0.1s linear, top 0.1s linear, opacity 0.5s ease-in-out;
    border-radius: 4px;
  }
  .hexmap .tooltip::after {
    content: "";
    position: absolute;
    bottom: auto;
    width: 0;
    height: 0;
    left: 50%;
    top: 0;
    transform: translate3d(-50%,-100%,0);
    border: 0.5rem solid #ffffff00;
    border-bottom-color: var(--background);
  }
---
<div id="{{ id }}" class="hexmap" data-dependencies="/js/oi.hexmap.min.js"></div>
