---
title: My World, My City, My Neighbourhood
summary: A report on data collected about the My World, My City, My Neighbourhood project.
publication_date: 2022-11-04
feature_colour: var(--l23-magenta)
---

{# Set up some cyclers for block colouring #}
{% set fg = cycler("black", "black") %}
{% set bg = cycler("var(--l23-cyan)", "var(--l23-yellow)") %}

<p>
  This page shows data collected about the My World, My City, My Neighbourhood project delivered with LEEDS 2023.
</p>

<p>
  My World, My City, My Neighbourhood was a community-based project which took place from October 2021 to May 2022.
  The project saw 22 artists working with their respective communities to develop project ideas that might inform the
  programme for LEEDS 2023’s Year of Culture.
  You can <a href="https://leeds2023.co.uk/news/a-look-back-at-my-world-my-city-my-neighbourhood-the-community-based-project-that-placed-local-people-at-the-heart-of-culture">read more about the My Work, My City, My Neighbourhood project</a> on the Leeds 2023 website.
  The co-creation method used between the commissioned artists and their communities has inspired My LEEDS 2023,
  a major community-led project that will take place in Summer 2023.
</p>

<p>My World, My City, My Neighbourhood spanned a variety of projects across different areas of Leeds from setting up community art clubs in Garforth and Swillington to a photography project along Meanwood Road. Some communities were based on local areas whereas a handful of the projects based their work on communities connecting through a shared identity or interest such as the Skateboarding community or the Irish community across the city.</p>

<p>
  The project also focused on the impact creativity can bring to communities facing barriers to access or
  communities that were left vulnerable in a post-pandemic world. Communities facing barriers to access
  can be groups who are often excluded from mainstream industries and conversations. My World, My City,
  My Neighbourhood included projects between artists and communities facing barriers to access in an attempt
  to platform voices and creative stories that are so often overlooked such as the Bangladeshi community in
  Beeston and the d/Deaf community across Leeds.
</p>

<p>
'My World, My City, My Neighbourhood' was funded by Arts Council England and Leeds Community Foundation Mohn Westlake Fund.
</p>

<p>
  The figures on this page are drawn from an aggregated analysis of participant feedback.
  This feedback was recorded in artist reports written for internal use.
  The findings from these reports have been anonymised and can be viewed in this <a href="https://data.leeds2023.co.uk/data/report/mwmcmn/exec_summary_mwmcmn.pdf">Executive Summary Report</a> provided by The Audience Agency for LEEDS 2023. Data regarding the artist reports can be found on <a href="https://datamillnorth.org/dataset/my-world-my-city-my-neighbourhood">Data Mill North</a>.
  Below are some key figures:
</p>

<h2> Headline Figures </h2>


<div style="display: flex; justify-content: center;">
<div style="width: 30rem; max-width: 100%;">
{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Projects:
  {{ comp.viz.bigNumber({ number: manual_measure.Artist_ID_count }) | safe }}
{% endcomp %}
</div>
</div>


{% comp 'grid.autogrid' %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total artists involved:
  {{ comp.viz.bigNumber({ number: manual_measure.Artists_Employed_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Participants:
  {{ comp.viz.bigNumber({ number: manual_measure.Participants_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Live Audience:
  {{ comp.viz.bigNumber({ number: manual_measure.Live_Audience_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Performance And Exhibition Days:
  {{ comp.viz.bigNumber({ number: manual_measure.Performance_Or_Exhibition_Days_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Participants (Young People):
  {{ comp.viz.bigNumber({ number: manual_measure.YP_Benefited_Total_total }) | safe }}
{% endcomp %}

{% endcomp %}

<h2>Participation and Impact on Young People:</h2>

<p>Engaging young people is key to showcasing culture in all its forms. My World, My City, My Neighbourhood placed importance on this as young people, particularly those from minority communities or groups facing barriers to access, are excluded from cultural and creative opportunities in the industry. Through a community project where young people were given the chance to create something alongside lead artists or participate with their thoughts and ideas, they were able to express themselves creatively and feel a part of something that reflects their lives and benefits them. Below are key findings from young participant feedback:</p>

{% comp 'grid.autogrid', {min_width: '40rem'} %}
{% comp 'layout.block' %}

{%- macro popupContent(value) -%}
  {{ value }} people
{%- endmacro -%}

{{ comp.charts.barchart({
  title: [
    'Young Participants - Age Breakdown'
  ],
  series: [
    [1181,35,823,90,96,137]
  ],
  popupContent: popupContent,
  categories: ['Total','0-4','5-12','13-18','19-25','Unknown'],
  colours: [
    [ "var(--l23-cyan)" ]
  ],
  plot: {
    grid: { x: true, category: true }
  },
  axis: {
    x: {
      title: 'Number of young people',
      show: false,
      ticks: false,
      resolution:250
    },
    category: {
      title: 'Age Bracket',
      show: false,
      height: 30
    }
  }
}) | safe }}
{% endcomp %}

{% endcomp %}

<div class='cen'>
{% comp 'grid.autogrid' %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Number of young people involved that have experienced barriers to accessing the arts:
 {{ comp.viz.bigNumber({ number: manual_measure.YP_Previous_Barriers_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Young people participated in the arts for the first time as a result of this project:
 {{ comp.viz.bigNumber({ number: manual_measure.YP_First_Time_Participation_total}) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Young people reported a positive experience of participating in the arts:
 {{ comp.viz.bigNumber({ number: manual_measure.YP_Positive_Experience_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Number of young people supported through the project who intend to continue engagement with arts:
 {{ comp.viz.bigNumber({ number: manual_measure.YP_Continued_Engagement_total }) | safe }}
{% endcomp %}

{% endcomp %}
</div>

<h2>Impact on Community and Wellbeing:</h2>

<p>At the heart of My World, My City, My Neighbourhood was for groups to have a sense of community. With the project starting post-pandemic, many people were left isolated, vulnerable and distant from their community. One of the aims of My World, My City, My Neighbourhood was to recognise this and bring people together to increase their sense of community and impact their wellbeing in a positive way. Below are figures representing the impact the project had on a sense of community and wellbeing:</p>

{% comp 'grid.autogrid' %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People reported an increased sense of belonging to the community: 
 {{ comp.viz.bigNumber({ number: manual_measure.Increased_Belonging_Community_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People volunteered and/or supported their community as a result of the project:
 {{ comp.viz.bigNumber({ number: manual_measure.Community_Volunteers_Supporters_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People reported improved mental health and wellbeing as a result of the project: 
 {{ comp.viz.bigNumber({ number: manual_measure.Improved_Mental_Health_total }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People reported improved physical health and wellbeing as a result of the project:
 {{ comp.viz.bigNumber({ number: manual_measure.Improved_Physcial_Health_total }) | safe }}
{% endcomp %}

{% endcomp %}


<h3>Number of Celebration Events Taken Place by Ward</h3>

<p>The hex cartogram below shows the distribution of Celebration Events across the wards of Leeds. Each collaboration between the artists and their communities had a Celebration Event to mark the end of their projects. The Celebration Events were a way to reflect and display each project’s research and work. Some Celebration Events were based around a community walk, exhibitions, parties or even a way to distribute work produced by communities. Wards with a larger number of Celebration Events are darker in colour. Hover over each hexagon to see the total number for that ward.</p>

{% comp 'grid.autogrid', {min_width: '40rem'} %}
  <section style="--hex-bg: var(--l23-cyan);">
   
    {{ comp.oi.viz.map.hex_cartogram({
		config: {
			hexjson: hex.wards_leeds,
			data: metrics.mwmcmn.celeb_event_by_ward.rows,
			matchKey: 'ward_code',
			value: 'celeb_events',
			bgColour: '#BBB',
			title: 'Number of projects taken place per ward',
			label: '{{ n | slice(0,3) }}',
			tooltip: '<h4>{{ n }}</h4><p><strong>{{ celeb_events | "0" | toLocaleString() }}</strong> event(s)</p>',
			scale: 'lightcyan',
			min: 0
		}
    }) | safe }}

  </section>
{% endcomp %}
