@charset "utf-8";

@import "css/reset.css";
@import "css/typography.css";

@import "css/layout.css";
@import "css/colours.css";
@import "css/header.css";
@import "css/nav.css";
/* @import "css/grid.css"; */

:root {
  --body-fontstack: 'DM Sans', sans-serif;
  --title-fontstack: 'Rebond Grotesk', sans-serif;  
  --header-height: 73px;
  --l23-cyan: hsl(173, 65%, 61%);
  --l23-dark-cyan: hsl(191, 57%, 15%);
  --l23-yellow: hsl(52, 100%, 50%);
  --l23-magenta: hsl(321, 100%, 50%);
}
