---
title: Community Grants
summary: Community grant applications
tags:
  - main
work_in_progress: true
metas:
  title: LEEDS 2023 Metrics - Community Grants
  description: |
    Visualisations of key data related to community grant applications.
limitations:
  - TBC
sources:
  - data/metrics/community-grants/
---

{% comp 'grid.' + headline_grid_style, {min_width: '25rem'} %}
{{ comp.metric.headline({
  title: "My Leeds Summer Community Grant Applications", headingLevel: 3,
  value: headline.my_leeds_grant_app | localize,
  description: "Total number of Community Grant Applications.",
  background: "var(--l23-cyan)"
}) | safe }}
{{ comp.metric.headline({
  title: "My Leeds Schools Grant Applications", headingLevel: 3,
  value: headline.my_leeds_schools_grants_application | localize,
  description: "Total number of Schools Grant Applications.",
  background: "var(--l23-cyan)"
}) | safe }}
{% endcomp %}

<h2>My Leeds Summer Community Grant</h2>
{% comp 'grid.autogrid', {min_width: '30rem'} %}
{% comp 'layout.figure', {max_width: '40rem'} %}
<h3>Applications by ward</h3>
{{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: responses_by_ward.rows,
    matchKey: 'ward_code',
    valueProp: 'my_leeds_grant_app',
    bgColour: '#ddd',
      colourScale: colours.scales.magenta
  }) | safe }}
{% endcomp %}

<div>
  <p>
    As part of the My Leeds signature project, our 33 <a href="https://leeds2023.co.uk/meet-the-team">Neighbourhood Hosts</a> planned 
    celebration events in each ward of the city. As part of this, they recruited individuals, community groups and volunteers to apply for a small grant to 
    celebrate their ward and show off their talents.
  </p>
  
  <p>
    This hexmap presents how many applications were recieved from each ward. There are {{ headline.unknown_ward }} applications which are not 
    mapped to a ward.
  </p>
</div>
{#
{% comp 'layout.figure', {max_width: '40rem'} %}
<h3>Applications by local authority</h3>
{{ comp.charts.hexmap({
    hexjson: hex.leeds_city_region,
    data: responses_by_la.rows,
    matchKey: 'la_code',
    valueProp: 'my_leeds_grant_app',
    bgColour: '#ddd',
      colourScale: colours.scales.cyan
  }) | safe }}
{% endcomp %}
#}
{% endcomp %}


<h2>My Leeds Schools Grant Applications</h2>
{% comp 'grid.autogrid', {min_width: '30rem'} %}
{% comp 'layout.figure', {max_width: '40rem'} %}
<h3>Applications by ward</h3>
{{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: responses_by_ward.rows,
    matchKey: 'ward_code',
    valueProp: 'my_leeds_schools_grants_application',
    bgColour: '#ddd',
      colourScale: colours.scales.magenta
  }) | safe }}
{% endcomp %}
<div>
  <p> Testing text.
  </p>
</div>

{% endcomp %}
