---
title: My LEEDS Summer Community Grants
summary: Community grant applications
tags:
  - main
url: false
metas:
  title: LEEDS 2023 Metrics - Community Grants
  description: |
    Visualisations of key data related to community grant applications.
limitations:
  - TBC
---