@charset "utf-8";

@import "css/reset.css";
@import "css/axioms.css";
@import "css/typography.css";

@import "css/layout.css";
@import "css/lists.css";
@import "css/colours.css";
@import "css/header.css";
@import "css/footer.css";
@import "css/nav.css";
@import "css/table.css";
@import "css/chart.css";
@import "css/hex.css";
@import "css/popup.css";
@import "css/tooltip.css";
/* @import "css/grid.css"; */
@import "css/meta-block.css";
@import "css/icons.css";

:root {
  --body-fontstack: 'DM Sans', sans-serif;
  --title-fontstack: 'Rebond Grotesque', 'Rebond Grotesk', sans-serif;  
  --max-width: 1440px;
  --page-width: 1280px;
  --header-height: 80px;
  --in-page-offset: 100px;
  --background-colour: initial;
  --big-number-size: clamp(2rem, 6vw, 4rem);

  --l23-cyan: hsl(173, 65%, 61%);
  --l23-dark-cyan: hsl(191, 57%, 15%);
  --l23-yellow: hsl(52, 100%, 50%);
  --l23-magenta: hsl(321, 100%, 50%);
  --l23-mint: hsl(87, 57%, 86%);
  --l23-beige: rgb(241, 235, 223);
  --l23-yellow-contrast: color(hsl(52, 100%, 50%) contrast(100%));
  --l23-magenta-contrast: black;

  /* Actual styles, but not proper names */
  --l23-dark-blue-grey: hsl(188, 100%, 12%);

  --color-off-white: rgb(249, 246, 243);
  --colour-black: #111;
}

