---
title: Smeaton 300
summary: Metrics related to Smeaton 300 - a Signature Event held by LEEDS 2023.
tags:
  - main
order: 110
work_in_progress: true
metas:
  title: Smeaton 300
  description: |
    Visualisations of key metrics related to Nest - a Signature Event held by LEEDS 2023.
limitations: 
  - Not all data for Smeaton300 is held by LEEDS 2023 as other partners have ticketed some activities which have not been visualised on this page.
  - Events taking place from 1 Jan 2024 relating to Smeaton300 will not be displayed on this page.
---

{% from 'macros.njk' import dateFormatter %}

<p>
  John Smeaton was born in Leeds and his trailblazing Civil Engineering projects continue to shape the world around us today. Smeaton300 celebrates his life, legacy and influences all the way up to his 300th birthday in 2024. Data displayed on this page relates to projects produced by LEEDS 2023. The project will continue through 2024 produced by partners Foxglove. <a href="https://smeaton300.co.uk/">Learn more about ongoing activity</a>.
</p>

<p>
  Smeaton300 was broadly focused on STEAM education. It includes an Engineering exhibition at Leeds Industrial Museum, a series of talks and debates featuring scientists such as Maggie Aderin-Pocock, a schools education programme which included activities like coding days and Moon Palace, a bus converted into a mobile observatory by artists Peak and Morrison.
</p>

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '40rem' } %}
  {{ comp.metric.headline({
    title: "Total number of events", headingLevel: 2,
    value: events.headlines.total_events | localize,
    description: "Total activities held as part of this project",
    background: "var(--l23-magenta)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Total engagements", headingLevel: 2,
    value: events.headlines.total_audience | localize ,
    description: "Total number of engagements in person.",
    background: "var(--l23-magenta)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Public events", headingLevel: 2,
    value: events.public.headlines.total_events | localize ,
    description: "Total number of public facing events.",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Public audience", headingLevel: 2,
    value: events.public.headlines.total_audience | localize ,
    description: "Total count of attendees at public facing events.",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "School engagements", headingLevel: 2,
    value: events.schools.headlines.total_events | localize ,
    description: "Total count of engagements with schools.",
    background: "var(--l23-yellow)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Pupil engagements", headingLevel: 2,
    value: events.schools.headlines.total_audience | localize ,
    description: "Total count of school pupils engaged.",
    background: "var(--l23-yellow)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Total Leeds wards engaged", headingLevel: 2,
    value: events.headlines.ward_count | localize,
    description: "Total number of wards engaged with as part of this Signature event.",
    background: "var(--l23-magenta)",
    colour: "black"
  }) | safe }}

{% endcomp %}

{% comp 'grid.' + headline_grid_style, { min_width: '50rem' } %}

    {{ comp.metric.headline({
    title: "Total Moon Palace events", headingLevel: 2,
    value: events.moon_palace.headlines.total_events | localize,
    description: "Total Moon Palace events held.",
    background: "var(--l23-dark-blue-grey)",
    colour: "white"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Moon Palace total audience", headingLevel: 2,
    value: events.moon_palace.headlines.total_audience | localize,
    description: "Total Moon Palace audience.",
    background: "var(--l23-dark-blue-grey)",
    colour: "white"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Moon Palace wards engaged with", headingLevel: 2,
    value: events.moon_palace.headlines.ward_count | localize,
    description: "Total Moon Palace audience.",
    background: "var(--l23-dark-blue-grey)",
    colour: "white"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Tickets for Moon Palace activations", headingLevel: 2,
    value: search.data('metrics/tickets').headlines['09 - Smeaton300: Moon Palace East Leeds Observatory'].tickets | localize ,
    description: "Total number of tickets sold for Moon Palace.",
    background: "var(--l23-cyan)", 
    colour: "black"
  }) | safe }}

{% endcomp %}


{% comp 'layout.figure', { max_width: '80rem' } %}
<h3>Events held by week</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: events.by_week.columns.week_ending,
    width: 35,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Data',
      titleOffset: 4,
      labelRotate: 35,
      majorTick: 2,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Total',
      titleOffset: 3,
      majorTick: 50
    },
    plotArea: {
      yMax: 250,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "cumulative-events", label: "Number of events held",
        yValues: events.by_week.columns.cumulative_events,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}



{% comp 'layout.figure', {max_width: '60rem'}  %}
  <h3>Events held per ward</h3>
  {{ comp.oi.viz.map.hex_cartogram({
    config: {
      hexjson: hex.wards_leeds,
      data: events.by_ward.rows,
      matchKey: 'ward_code',
      value: 'events',
      bgColour: '#ddd',
      label: '{{ n | slice(0,3) }}',
      tooltip: '<h4>{{ n }}</h4><p><strong>{{ events | "0" }}</strong> ticket(s) sold</p>',
      min: 0,
      scale: 'magenta'
    }
    }) | safe }}

  {% endcomp %}

  {% comp 'layout.figure' %}
<h3>Number of tickets sold by event date</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: search.data('metrics/tickets').by_project_cumulative_weekly.columns.week,
    width: 35,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Date',
      titleOffset: 4,
      labelRotate: 35,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Total',
      titleOffset: 3,
      majorTick: 20
    },
    plotArea: {
      yMax: 250,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "tickets", label: "Number of tickets sold",
        yValues: search.data('metrics/tickets').by_project_cumulative_weekly.columns["09 - Smeaton300: Moon Palace East Leeds Observatory"],
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}
