<div class='site-footer'>
  {% comp 'layout.block' %}
  <footer>
    <div class="footer-row">
      <div class="footer-block greedy">
        <img src="/assets/images/logo.svg" class="logo" inline>
        <p>
        The content of this website including visualisations
        and analysis is &copy; Leeds 2023.
      </p>
      </div>
      <div class="footer-block">
        <img src="/assets/images/icons/github.svg" class="icon" inline>
        <p>
        The code to build this site is released under an open MIT license.
        You can <a href="https://github.com/open-innovations/leeds-2023">visit the GitHub repository</a>
        to see how it's been done.
      </p>
      </div>
      <div class="footer-block">
        <img src="/assets/images/icons/oi.svg" class="logo" inline>
        <p>
        Leeds 2023 Data Microsite created for Leeds 2023 by <a href="https://open-innovations.org/projects/leeds2023/">Open Innovations</a>.
      </p>
      </div>
    </div>
    <div class="footer-row">
      <div>
        <p>
          <b>© Leeds Culture Trust Limited is a charitable company limited by guarantee registered in England &amp; Wales (10674601)</b>
        </p>
        <p>
          Registered Office: <b>2 Brewery Place, Brewery Wharf, Leeds, LS10 1NE</b> Registered Charity Number: <b>1184883 </b>VAT Number: <b>362847473</b>
        </p>
      </div>
      <div>
        <a href="https://leeds2023.co.uk/privacy-policy">
          <div>Privacy</div>
        </a>
      </div>
      <div>
        <a href="https://leeds2023.co.uk/terms-conditions">
          <div>Terms &amp; conditions</div>
        </a>
      </div>
    </div>
  </footer>
  {% endcomp %}
</div>