<div class='site-footer'>
  {% comp 'layout.block' %}
  <footer>
    <p>&copy; Leeds 2023</p>
    <p>
      <a href="https://github.com/open-innovations/leeds-2023" title="Visit the GitHub repository"><img src="/assets/images/icons/github.svg" class="social-icon" inline></a>
    </p>
  </footer>
  {% endcomp %}
</div>