<div class="site-header-container no-top-margin">
  {% comp "layout.block", { background_colour: 'var(--l23-dark-blue-grey)' } %}
  <header class="site-header" role="banner">
    <a class="logo" rel="author" href="/" title="Leeds 2023 data microsite homepage">
      <img class='header-logo' src='/assets/images/logo.svg' inline />
      <p class='header-title'>{{ header_title or metas.site }}</p>
    </a>
    {{ comp.nav({ url: url }) | safe }}
    {% if work_in_progress %}{{ comp.work_in_progress() | safe }}{% endif %}
  </header>
  {% endcomp %}
</div>