---
title: Nest
summary: Metrics related to Nest - a Signature Event held by LEEDS 2023.
tags:
  - main
order: 120
work_in_progress: true
metas:
  title: Nest
  description: |
    Visualisations of key metrics related to Nest - a Signature Event held by LEEDS 2023.
limitations:
- The final show in the run was halted due to electric storms around the site, this may have 
  resulted in some discrepancies between tickets sold and public audience. 
---

{% from 'macros.njk' import dateFormatter %}

<p>
  Nest was a large-scale site specific theatre production that explored how we can combat the climate crisis and create a better 
  world for future generations.
</p>

<p>
  Set against the stunning backdrop of RSPB St Aidan's Nature Park, Nest followed the story of Skylar - a teenager in 2050 where 
  climate change is shaking the natural world.
</p>

<p>
  Performed by over 100 young performers from across Leeds and the surrounding area, trained by National Youth Theatre, audiences 
  gained exclusive access to St Aidan’s after hours to experience a theatre show that told an incredible story about migration and 
  the future of our planet.
</p>

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '40rem' } %}
  {{ comp.metric.headline({
    title: "Total number of events", headingLevel: 2,
    value: events.headlines.total_events | localize,
    description: "Total activities held as part of this project.",
    background: "var(--l23-magenta)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Total engagements", headingLevel: 2,
    value: events.headlines.total_audience | localize ,
    description: "Total number of engagements at public and community activities.",
    background: "var(--l23-magenta)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Number of public facing events", headingLevel: 2,
    value: events.public.headlines.total_events | localize ,
    description: "The number of events events that took place as part of the show run.",
    background: "var(--l23-yellow)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Public audience", headingLevel: 2,
    value: events.public.headlines.total_audience | localize ,
    description: "Total count of attendees at public facing events.",
    background: "var(--l23-yellow)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Community engagements", headingLevel: 2,
    value: events.community.headlines.total_events | localize ,
    description: "Number of community engagement events.",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Community event attendees", headingLevel: 2,
    value: events.community.headlines.total_audience | localize ,
    description: "Total count of attendees at community engagement events.",
    background: "var(--l23-cyan)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Youth voice participants", headingLevel: 2,
    value: 76,
    description: "Total number of young people who participated in the acting course.",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Tickets sold", headingLevel: 2,
    value: search.data('metrics/tickets').headlines['10 - Nest'].tickets | localize ,
    description: "Total number of tickets sold.",
    background: "var(--l23-dark-blue-grey)", 
    colour: "white"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Callouts", headingLevel: 2,
    value: 1,
    description: "Total number of Callouts associated with this event.",
    background: "var(--l23-magenta)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Callout responses", headingLevel: 2,
    value: (search.data('metrics/callouts').responses_by_callout.columns.responses[11]) | localize ,
    description: "Total number of Callout responses.",
    background: "var(--l23-magenta)"
  }) | safe }}

{% endcomp %}

<p>
  The Nest show run took place between 5-9 September. In the lead up to the production a youth voice programme trained 76 young people on an acting course that enabled them to become actors in the ensemble cast. After completion they were offered membership to the National Youth Theatre.
</p>

{% comp 'layout.figure' %}
<h3>Number of tickets sold by event date</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: search.data('metrics/tickets').by_project_cumulative_weekly.columns.week,
    width: 35,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Date',
      titleOffset: 4,
      labelRotate: 35,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Total',
      titleOffset: 3,
      majorTick: 200
    },
    plotArea: {
      yMax: 2000,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "tickets", label: "Number of tickets sold",
        yValues: search.data('metrics/tickets').by_project_cumulative_weekly.columns["10 - Nest"],
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}

{% comp 'layout.figure', {max_width: '50rem'} %}
<h3>Number of tickets sold by ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: events.tickets_by_ward.rows,
		matchKey: 'ward_code',
		value: 'tickets',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ tickets | "0" }}</strong> ticket(s) sold</p>',
		bgColour: '#ddd',
		min: 0,
		scale: 'magenta'
	}
  }) | safe }}
{% endcomp %}
