---
title: The Awakening
summary: Ticket ballot and event attendance
tags:
  - main
order: 10
metas:
  title: LEEDS 2023 Metrics - The Awakening
  description: |
    Visualisations of key metrics related to The Awakening LEEDS 2023 event.
limitations:
  - Each individual ballot entry is allocated multiple tickets with no restrictions as to who these tickets could be shared with. As such, it is 
    possible that the ‘Count of the Awakening Attendees’ visualisations may misallocate attendees to incorrect wards and local authorities of 
    residence.
  - Some ballot entries did not have a postcode associated, as postcode was not a mandatory field for ballot entries. This was a design choice as 
    it removes a barrier to entry for those with no fixed address. As such, those entries are impossible to map to a ward or local authority. 
  - Each individual ballot entry is allocated up to four seats. Group ballot entries are submitted with a
    requested number of seats. The tickets total uses the upper figure for individual ballot entries,
    combined with the explicitly requested number of group ballot seats.
  - Group ballot entries are not displayed in the hexmaps related to where ballot applications come from. Many of the group ballot activities 
    were carried out in schools, and it is known that pupils often cross ward boundaries in order to attend schools.
---
{%- macro popupSubmissions(params) -%}
  {{ params.label }}</br>
  {{ params.value }} submissions
{%- endmacro -%}
{%- macro popupAttendees(params) -%}
  {{ params.label }}</br>
  {{ params.value }} attendees
{%- endmacro -%}
{% from 'macros.njk' import dateFormatterNoYear %}

<p>
  <a href="https://leeds2023.co.uk/the-awakening">The Awakening</a> was the official opening event for the LEEDS 2023 Year of Culture, taking place 
  at Headingley Stadium on 7 January 2023. Tickets were allocated using a ballot process which required those who wished to attend to share an 
  artwork.  
</p>

<p>
  As part of The Awakening, there were two call outs inviting people to take part in the show: ‘Leeds on Wheels’ and ‘Dancers of Leeds’. 
  In total 141 people took part in these two opportunities. Details about applications can be found on 
  the <a href="https://data.leeds2023.co.uk/metrics/callouts/">call outs</a> metrics page.
</p>
  



<h2>Headlines</h2>

{% comp 'grid.autogrid', { min_width: '24rem' } %}

{{ comp.metric.headline({
  title: "Awakening attendees", headingLevel: 3,
  value: attendees.attended | localize,
  description: "Total number of attendees based on ticket usage.",
  background: "var(--l23-cyan)"
}) | safe }}

{{ comp.metric.headline({
  title: "Awakening tickets claimed", headingLevel: 3,
  value: attendees.booked | localize,
  description: "Total number of tickets booked.",
  background: "var(--l23-mint)"
}) | safe }}

{{ comp.metric.headline({
  title: "Seats allocated", headingLevel: 3,
  value: current.tickets | localize,
  description: "Total number of seats allocated based on individual and group entries received.",
  background: "var(--l23-yellow)"
}) | safe }}

{{ comp.metric.headline({
  title: "Ballot entries", headingLevel: 3,
  value: (current.submissions + current.group_submissions) | localize,
  description: "Total number of ballot entries individual and group received.",
  background: "var(--l23-magenta)"
}) | safe }}
{% endcomp %}

<p>Page updated: {{ date | date('HUMAN_DATE') }}</p>

<h2>Attendees at the The Awakening</h2>

<p>
  In the first visualisation, each hexagon represents a council ward in Leeds, and in the second, each hexagon represents a local authority within 
  the Leeds City Region. 
</p>

<p>
  The chart shows the distribution of attendees at the Awakening with home addresses within these wards and local authorities. 
</p>

<p>
  KEY: The hexagons that are darker in colour show areas with a higher number of entries.
</p>


{% comp 'layout.figure', {
  title: 'Count of The Awakening attendees by ward of residence',
  max_width: '40rem'
} %}
  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: attendees_by_ward.rows,
    matchKey: 'ward_code',
    valueProp: 'attended',
    popup: popupAttendees,
    labelKey: 'label',
    title: 'Count of attendees at The Awakening by ward of residence',
    bgColour: '#ddd',
    colourScale: colours.scales.magenta
  }) | safe }}
{% endcomp %}


{% comp 'layout.figure', {
  title: 'Count of The Awakening attendees by local authority',
  max_width: '40rem'
} %}
  {{ comp.charts.hexmap({
    hexjson: hex.leeds_city_region,
    data: attendees_by_la.rows,
    matchKey: 'la_code',
    valueProp: 'attended',
    popup: popupAttendees,
    labelKey: 'label',
    title: 'Count of attendees at The Awakening by ward of residence',
    bgColour: '#ddd',
    colourScale: colours.scales.magenta
  }) | safe }}
{% endcomp %}


<h2>Where ballot entries came from</h2>
<p>A <a href="https://leeds2023.co.uk/whats-on/the-awakening/enter-the-ballot">ballot process</a> was used to allocate tickets to attend 
<a href="https://leeds2023.co.uk/whats-on/the-awakening/">The Awakening</a>, the opening event of the LEEDS 2023. 
This chart shows where individual ballot entries came from. Each hexagon represents a council ward in Leeds, and the chart shows the distribution of ballot entrants home addresses across these wards.</p>
<p>KEY: The hexagons that are darker in colour show wards with a higher number of entries.</p>
  
{% comp 'layout.figure', {
  title: 'Count of individual ballot entries by ward of residence',
  max_width: '40rem'
} %}
  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: by_ward.rows,
    matchKey: 'ward_code',
    valueProp: 'submissions',
    popup: popupSubmissions,
    labelKey: 'label',
    title: 'Count of ballot submissions by ward of residence',
    bgColour: '#ddd',
    colourScale: colours.scales.magenta
  }) | safe }}
{% endcomp %}

<p>
  This hexmap shows <strong>{{ local_autority_stats.Leeds }}</strong> submissions associated with postcodes that are within Leeds City Council.
  In addition, there were<strong>{{ local_autority_stats.OUTSIDE_LEEDS }}</strong> submissions from other local authorities.
  <strong>{{ local_autority_stats.UNKNOWN }}</strong> submissions were from postcodes that could not be identified. This is either because the postcode is invalid, or potentially is not a UK postcode.
  <strong>{{ local_autority_stats.NOT_PROVIDED }}</strong> ballot entries were submitted without postcodes.
</p>

<p>
  Entries from the Leeds City Region are shown below.
</p>

{% comp 'layout.figure', {
  title: 'Count of individual ballot entries by local authority of residence',
  max_width: '40rem'
} %}
  {{ comp.charts.hexmap({
    hexjson: hex.leeds_city_region,
    data: by_local_authority.rows,
    matchKey: 'la_code',
    valueProp: 'submissions',
    colourValueProp: 'submissions_scaled',
    popup: popupSubmissions,
    title: 'Count of ballot submissions by local authority of residence',
    bgColour: '#ddd',
    colourScale: colours.scales.magenta
  }) | safe }}
{% endcomp %}

<h2>
  Growth in ballot entries and allocated seats over time
</h2>

{% comp 'layout.figure', {
  title: 'Cumulative counts of individual ballot entries and allocated seats'
} %}
{{ comp.oi.charts.graph.line({ config: {
  categories: by_date.columns.date_submitted,
  width: 25,
  height: 12,
  series: [
    { id: "submissions", label: "Cumulative individual ballot entries",
      yValues: by_date.columns.cumulative_submissions,
      colour: 'var(--l23-magenta)',
      markerOptions: { s: 4 }
    },
    { id: "tickets", label: "Cumulative seats allocated",
      yValues: by_date.columns.cumulative_tickets,
      colour: 'var(--l23-yellow)',
      markerOptions: { s: 4 }
    }
  ],
  plotArea: {
    yMax: current.tickets + 1 | round(-3, 'ceil')
  },
  padding: {
    left: 4,
    bottom: 4
  },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 3,
    labelRotate: 35,
    majorTick: 7,
    formatter: dateFormatterNoYear
  },
  yAxis: {
    title: 'Count',
    titleOffset: 3,
    majorTick: 1000
  }
} }) | safe }}
{% endcomp %}

<h2>
  Artist ages
</h2>

<p>
  The chart below shows the breakdown of submissions by age of artist.
</p>

{% comp 'layout.figure', {
  title: 'Distribution of ballot entries by age', max_width: '40rem'
} %}
  {{ comp.charts.barchart({
    categories: by_age.columns.artist_age_group,
    series: [
      by_age.columns.submissions
    ],
    plot: {
      grid: { x: true, category: true }
    },
    colours: [
      [ "var(--l23-magenta)" ]
    ],
    axis: {
      x: {
        title: 'Count of submissions',
        show: false,
        ticks: false,
        resolution: 100
      },
      category: {
        title: 'Age Bracket',
        show: false,
        height: 20
      }
    }
  }) | safe }}
{% endcomp %}

<h2>
  Source
</h2>

<p>
  The chart below shows the the declared source that the entrant found out about the ballot.
</p>

{% comp 'layout.figure', {
  title: 'Distribution of ballot entries by source', max_width: '40rem'
} %}
  {{ comp.charts.barchart({
    categories: by_source.columns.source,
    series: [
      by_source.columns.submissions
    ],
    plot: {
      grid: { x: true, category: true }
    },
    colours: [
      [ "var(--l23-magenta)" ]
    ],
    axis: {
      x: {
        title: 'Count of submissions',
        show: false,
        ticks: false,
        resolution: 100
      },
      category: {
        title: 'Source',
        show: false,
        height: 20,
        label_width: 300
      }
    }
  }) | safe }}
{% endcomp %}
