---
css: |
  .catalogue-card {
    & .impact-block {
      & > * + * {
        margin-block-start: 1em;
      }
      &:hover {
        color: black;
        background: var(--l23-yellow);
      }
    }
  }
  .catalogue-links {
    display: flex;
    list-style: none;
    padding-inline: 0;
    margin-block-end: 0;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
  }
---
<div class="catalogue-card">
{% comp 'grid.block.impact', {
  bg: 'var(--l23-cyan)'
} %}
  <h4>{{ entry.group }}::{{ entry.title }}</h4>

  {% if entry.status -%}<p>Status: {{ entry.status }}</p>
  {% endif -%}

  <p>{{ entry.description }}</p>

  <ul class="catalogue-links">

    <li>
      {{ comp.catalogue.download({
        url: entry.path,
        title: entry.title
      }) | safe }}
    </li>

    <li>
      {{ comp.catalogue.github_link({
        url: entry.path,
        title: entry.title
      }) | safe }}
    </li>

  </ul>

{% endcomp %}
</div>