---
css: |
  .catalogue-card {
    & .impact-block {
      & > * + * {
        margin-block-start: 1em;
      }
      &:hover {
        color: black;
        background: var(--l23-yellow);
      }
    }
    &.unused {
      border-inline: 10px solid grey;
      text-decoration: line-through;
    }
  }
  .catalogue-links {
    display: flex;
    list-style: none;
    padding-inline: 0;
    margin-block-end: 0;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
  }
---
{% set usage_search %}metrics uses_dataset*="{{ entry.id }}"{% endset -%}
{% set usage_count = search.pages(usage_search) | length -%}

<div class="catalogue-card{% if usage_count < 1 %} unused{% endif %}">
{% comp 'grid.block.impact', {
  bg: 'var(--l23-cyan)'
} %}
  <h4>{{ entry.group }}::{{ entry.title }}</h4>

  {{ entry.description | md | safe }}

  <ul class="catalogue-links">

    <li>
      {{ comp.icon_link({
        url: entry.url,
        title: "View " + entry.title + " dataset on GitHub",
        icon: "/assets/images/icons/info.svg"
      }) | safe }}
    </li>

    <li>
      {{ comp.catalogue.download({
        url: entry.path,
        title: entry.title
      }) | safe }}
    </li>

    <li>
      {{ comp.catalogue.github_link({
        url: entry.path,
        title: entry.title
      }) | safe }}
    </li>

  </ul>

{% endcomp %}
</div>