<a
  href='/data/{{ url }}'
  title='Download {{ title }} dataset'
  class='dataset icon-link'
  tabindex='0'
>
    <img
      src="/assets/images/icons/file-download.svg"
      class="icon"
      inline>
</a>