<a
  href='https://github.com/open-innovations/leeds-2023/blob/main/data/metrics/{{ url }}'
  title='View {{ title }} dataset on GitHub'
  class='dataset icon-link'
  tabindex='0'
>
    <img src="/assets/images/icons/github.svg" class="icon" inline>
</a>