---
title: Ballot Entries
summary: Data about ballot entries
key: ballot
metas:
  title: LEEDS 2023 Metrics - Ballot Entries
  description: |
    Visualisations of key metrics related to the LEEDS 2023 ballot.
order: 10
limitations:
  - Some ballot entries do not have a postcode associated, so are impossible to map to a Leeds Ward.
    Postcode is not a mandatory field for ballot entries.
    This is a design choice, as this removes a barrier to ballot entry for people with no fixed address.
  - The figures shows may not include all physical submissions, as there is a backlog in registering these.
---
{%- macro popupSubmissions(params) -%}
  {{ params.label }}</br>
  {{ params.value }} submissions
{%- endmacro -%}
{% from 'macros.njk' import dateFormatterNoYear %}

<h2>Headlines</h2>

{% comp 'grid.block.impact',  { bg: 'var(--l23-magenta)' } %}
  <h3>Ballot entries</h3>
  {{ comp.viz.bigNumber({
    number: metrics.ballot.by_date.columns.cumulative_submissions | last
  }) | safe }}
  <p>Total number of ballot entries received.</p>
{% endcomp %}



<p>Page updated: {{ date | date('HUMAN_DATE') }}</p>

<h2>Geographic distribution of ballot submissions</h2>

<p>
  The hex cartograms below show the distribution of ballot entrants' home addresses across
  the wards of Leeds. Wards with a larger number of resident entrants are darker in
  colour. Hexes outlined in dark blue have an associated value of zero.
</p>
  
{% comp 'layout.figure', {
  title: 'Count of ballot submissions by ward of residence',
  max_width: '40rem'
} %}
  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: metrics.ballot.by_ward.rows,
    matchKey: 'ward_code',
    valueProp: 'submissions',
    popup: popupSubmissions,
    bgColour: '#BBB',
    title: 'Count of ballot submissions by ward of residence'
  }) | safe }}
{% endcomp %}

<p>
  This hexmap shows <strong>{{ metrics.ballot.local_autority_stats.Leeds }}</strong> submissions associated with postcodes that are within Leeds City Council.
  In addition, there are <strong>{{ metrics.ballot.local_autority_stats.OUTSIDE_LEEDS }}</strong> submissions from other local authorities.
  <strong>{{ metrics.ballot.local_autority_stats.UNKNOWN }}</strong> submissions were from postcodes that could not be identified. This is either because the postcode is invalid, or potentially is not a UK postcode.
  <strong>{{ metrics.ballot.local_autority_stats.NOT_PROVIDED }}</strong> ballot entries were submitted without postcodes.
</p>

<h2>Ballot entry</h2>

{{ comp.oi.linechart() | safe }}

{% comp 'layout.figure', {
  title: 'Cumulative counts of ballot entries'
} %}
{{ comp.oi.charts.graph.line({
  categories: metrics.ballot.by_date.columns.date_submitted,
  width: 35,
  height: 12,
  series: [
    { id: "submissions", label: "Total ballot entries (cumulative)",
      yValues: metrics.ballot.by_date.columns.cumulative_submissions,
      colour: 'var(--l23-magenta)',
      markerOptions: { s: 6 }
    }
  ],
  plotArea: {
    yMax: metrics.ballot.by_date.columns.cumulative_submissions | last + 1 | round(-2, 'ceil')
  },
  padding: {
    left: 4,
    bottom: 4
  },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 3,
    labelRotate: 35,
    majorTick: 7,
    formatter: dateFormatterNoYear
  },
  yAxis: {
    title: 'Number of ballot entries',
    titleOffset: 3,
    majorTick: 200
  }
}) | safe }}
{% endcomp %}
