---
title: Ballot Entries
summary: Data about ballot entries
key: ballot
metas:
  title: LEEDS 2023 Metrics - Ballot Entries
  description: |
    Visualisations of key metrics related to the LEEDS 2023 ballot.
order: 10
limitations:
  - Some ballot entries do not have a postcode associated, so are impossible to map to a Leeds Ward.
    Postcode is not a mandatory field for ballot entries.
    This is a design choice, as this removes a barrier to ballot entry for people with no fixed address.
  - The figures shown may not include all physical submissions, as there is a backlog in registering these. 
    It is likley that sudden increases in the "Cumulative counts of ballot entries" chart are due to the batch processing of physical entries.
  - Each individual ballot entry is allocated up to four seats. Group ballot entries are submitted with a
    requested number of seats. The tickets total uses the upper figure for individual ballot entries,
    combined with the explicitly requested number of group ballot seats.
---
{%- macro popupSubmissions(params) -%}
  {{ params.label }}</br>
  {{ params.value }} submissions
{%- endmacro -%}
{% from 'macros.njk' import dateFormatterNoYear %}

<h2>Headlines</h2>

{% comp 'grid.autogrid', { min_width: '24rem' } %}
{{ comp.metric.headline({
  title: "Individual ballot entries", headingLevel: 3,
  value: metrics.ballot.current.submissions | localize,
  description: "Total number of ballot entries received.",
  background: "var(--l23-magenta)"
}) | safe }}

{{ comp.metric.headline({
  title: "Group ballot entries", headingLevel: 3,
  value: metrics.ballot.current.group_submissions | localize,
  description: "Total number of group ballot entries received.",
  background: "var(--l23-cyan)"
}) | safe }}

{{ comp.metric.headline({
  title: "Seats allocated", headingLevel: 3,
  value: metrics.ballot.current.tickets | localize,
  description: "Total number of seats allocated based on individual and group entries received.",
  background: "var(--l23-yellow)"
}) | safe }}
{% endcomp %}

<p>Page updated: {{ date | date('HUMAN_DATE') }}</p>
<h2>Where ballot entries are coming from</h2>
<p>This chart shows where individual <a href="https://leeds2023.co.uk/whats-on/the-awakening/enter-the-ballot">ballot entries</a> for <a href="https://leeds2023.co.uk/whats-on/the-awakening/">The Awakening</a> are coming from across Leeds and beyond. Each hexagon represents a council ward in Leeds. The chart shows the distribution of ballot entrants home addresses across these wards.</p>
<p>KEY: The hexagons that are darker in colour show wards with a higher number of entries.</p>
  
{% comp 'layout.figure', {
  title: 'Count of individual ballot entries by ward of residence',
  max_width: '40rem'
} %}
  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: metrics.ballot.by_ward.rows,
    matchKey: 'ward_code',
    valueProp: 'submissions',
    popup: popupSubmissions,
    bgColour: '#BBB',
    title: 'Count of ballot submissions by ward of residence'
  }) | safe }}
{% endcomp %}

<p>
  This hexmap shows <strong>{{ metrics.ballot.local_autority_stats.Leeds }}</strong> submissions associated with postcodes that are within Leeds City Council.
  In addition, there are <strong>{{ metrics.ballot.local_autority_stats.OUTSIDE_LEEDS }}</strong> submissions from other local authorities.
  <strong>{{ metrics.ballot.local_autority_stats.UNKNOWN }}</strong> submissions were from postcodes that could not be identified. This is either because the postcode is invalid, or potentially is not a UK postcode.
  <strong>{{ metrics.ballot.local_autority_stats.NOT_PROVIDED }}</strong> ballot entries were submitted without postcodes.
</p>

<p>
  Entries from the Leeds City Region are shown below.
</p>

{% comp 'layout.figure', {
  title: 'Count of individual ballot entries by local authority of residence',
  max_width: '40rem'
} %}
  {{ comp.charts.hexmap({
    hexjson: hex.leeds_city_region,
    data: metrics.ballot.by_local_authority.rows,
    matchKey: 'la_code',
    valueProp: 'submissions',
    popup: popupSubmissions,
    bgColour: '#BBB',
    title: 'Count of ballot submissions by local authority of residence'
  }) | safe }}
{% endcomp %}

<h2>
  Growth in ballot entries and allocated seats over time
</h2>

{% comp 'layout.figure', {
  title: 'Cumulative counts of individual ballot entries and allocated seats'
} %}
{{ comp.oi.charts.graph.line({
  categories: metrics.ballot.by_date.columns.date_submitted,
  width: 25,
  height: 12,
  series: [
    { id: "submissions", label: "Cumulative individual ballot entries",
      yValues: metrics.ballot.by_date.columns.cumulative_submissions,
      colour: 'var(--l23-magenta)',
      markerOptions: { s: 4 }
    },
    { id: "tickets", label: "Cumulative seats allocated",
      yValues: metrics.ballot.by_date.columns.cumulative_tickets,
      colour: 'var(--l23-yellow)',
      markerOptions: { s: 4 }
    }
  ],
  plotArea: {
    yMax: metrics.ballot.current.tickets + 1 | round(-3, 'ceil')
  },
  padding: {
    left: 4,
    bottom: 4
  },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 3,
    labelRotate: 35,
    majorTick: 7,
    formatter: dateFormatterNoYear
  },
  yAxis: {
    title: 'Number of ballot entries',
    titleOffset: 3,
    majorTick: 1000
  }
}) | safe }}
{% endcomp %}

<h2>
  Artist ages
</h2>

<p>
  The chart below shows the breakdown of submissions by age of artist.
</p>

{% comp 'layout.figure', {
  title: 'Distribution of ballot entries by age', max_width: '40rem'
} %}
  {{ comp.charts.barchart({
    categories: metrics.ballot.by_age.columns.artist_age_group,
    series: [
      metrics.ballot.by_age.columns.submissions
    ],
    plot: {
      grid: { x: true, category: true }
    },
    colours: [
      [ "var(--l23-magenta)" ]
    ],
    axis: {
      x: {
        title: 'Count of submissions',
        show: false,
        ticks: false,
        resolution: 100
      },
      category: {
        title: 'Age Bracket',
        show: false,
        height: 20
      }
    }
  }) | safe }}
{% endcomp %}

<h2>
  Source
</h2>

<p>
  The chart below shows the the declared source that the entrant found out about the ballot.
</p>

{% comp 'layout.figure', {
  title: 'Distribution of ballot entries by source', max_width: '40rem'
} %}
  {{ comp.charts.barchart({
    categories: metrics.ballot.by_source.columns.source,
    series: [
      metrics.ballot.by_source.columns.submissions
    ],
    plot: {
      grid: { x: true, category: true }
    },
    colours: [
      [ "var(--l23-magenta)" ]
    ],
    axis: {
      x: {
        title: 'Count of submissions',
        show: false,
        ticks: false,
        resolution: 100
      },
      category: {
        title: 'Source',
        show: false,
        height: 20,
        label_width: 300
      }
    }
  }) | safe }}
{% endcomp %}