---
title: Eventbrite events
summary: Data about Leeds 2023 events posted on eventbrite
key: eventbrite
metas:
  title: LEEDS 2023 Metrics - Eventbrite Events
  description: |
    Visualisations of key metrics related to the LEEDS 2023 events posted on eventbrite.
work_in_progress: true
---

<h1>
  {{ title }}
</h1>