---
title: Fundraising
summary: Data about the organisations who are funding LEEDS 2023.
columns:
  - key: stage
    name: Fundraising Stage
  - key: count
    name: Count
---

<h1>{{ title }}</h1>

<p>
  This page presents data about Leeds 2023 Fundraising activity.
</p>

<h2>
  Summary of organisations by stage
</h2>

<p>
  This summary shows the number of organisations at each stage of the fundraising cycle.
  NB the stages are not currently ordered by position in the lifecycle.
</p>
{%- macro popupContent(value) -%}
  {{ value }} organisations
{%- endmacro -%}

{% comp 'grid.autogrid', { min_width: '32rem' } %}
{% comp 'layout.block' %}
{{ comp.charts.barchart({
  title: [
    'Count of organisations per fundraising stage'
  ],
  series: [
    metrics.fundraising.count_by_stage.columns.count
  ],
  popupContent: popupContent,
  categories: metrics.fundraising.count_by_stage.columns.stage,
  colours: [
    [ "var(--l23-cyan)" ]
  ],
  seriesHeight: 40
}) | safe }}
{% endcomp %}

{% comp 'layout.block' %}
{{ comp.charts.table({
  columns: columns,
  rows: metrics.fundraising.count_by_stage.rows
}) | safe }}
{% endcomp %}
{% endcomp %}

<script src='/assets/js/interactive-chart.js'></script>