---
title: Roadshow Attendances
summary: Data about community roadshow events which ran May to September 2022
key: roadshows
metas:
  title: LEEDS 2023 Metrics - Roadshow Attendees
  description: |
    Visualisations of key metrics related to the LEEDS 2023 community roadshow events.
order: 30
---

{# Set up some cyclers for block colouring #}
{% set fg = cycler("black", "black") %}
{% set bg = cycler("var(--l23-cyan)", "var(--l23-yellow)") %}

{% comp 'grid.autogrid', { min_width: '20rem' } %}
  {{ comp.metric.headline({
    title: "Total attendances", headingLevel: 3,
    value: metrics.roadshows.summary.columns.cumulative_attendance | last | localize,
    description: "",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Communication sign-up forms submitted", headingLevel: 3,
    value: metrics.roadshows.summary.columns.cumulative_contact_consents | last | localize,
    description: "",
    background: "var(--l23-yellow)"
  }) | safe }}
{% endcomp %}

<br>
<p>
  These <a href="https://open-innovations.org/blog/2017-05-08-mapping-election-with-hexes">hex cartograms</a> show the number of attendances at one of the <a href="https://leeds2023.co.uk/news/get-ready-for-the-roadshow-with-leeds-2023">LEEDS 2023 Roadshow events</a>
  and the number of people who attended and subsequently submitted a sign-up form for
  communication from Leeds 2023. We are considering 'attendances' rather than attendees
  as any individual may have chosen to attend more than one roadshow.
</p> 

<p>
  Attendances are shown by the ward in which the event was held, whereas responses are
  categorised by ward of residence based on the postcode supplied when they completed
  the sign-up form.
</p>

<p>
  When viewing the below data, consideration should be given to the fact that the total
  number of attendances may vary from that quoted at any given event. Attendance was counted
  at a single point in time, and as the event was open to all, attendees tended to come and
  go at times that suited their schedules.
</p>

<p>
  Furthermore, residents will travel across ward boundaries to attend events. As such,
  attendances at any given roadshow are likely to include attendees from other wards.
</p>

<p>
  The raw data can be downloaded from <a href="https://datamillnorth.org/dataset/leeds-2023-roadshow-attendees?q=leeds%202023">Data Mill North</a>.
</p>

{%- macro popupAttendees(params) -%}
  {{ params.label }}</br>
  {{ params.value }} attendees
{%- endmacro -%}

{%- macro popupResponses(params) -%}
  {{ params.label }}</br>
  {{ params.value }} responses submitted
{%- endmacro -%}

{% comp 'grid.autogrid', { min_width: '32rem' } %}
  <section style="--hex-bg: var(--l23-mint);" aria-labelledby='attendees-by-hosting-ward'>
    <h2 id='attendees-by-hosting-ward'>Attendance numbers by hosting ward</h2>
    {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: metrics.roadshows.by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'attendance',
      popup: popupAttendees,
      bgColour: 'var(--l23-cyan)',
      title: 'Attendees at roadshows hosted in ward',
      colourScale: colours.scales.cyan
    }) | safe }}

    
    <p>This hexmap shows the number of attendances at the roadshows held in each ward.</p>
    
    <p>
      One Roadshow was held in each ward of Leeds, other than Weetwood and Kirkstall where two
      events were held in each ward. The first event that took place in Kirkstall was held on
      the border with Little London & Woodhouse, and was considered to serve both wards.
    </p>

    <p><strong>{{metrics.roadshows.summary.columns.cumulative_attendance | last | localize}}</strong> attendances were registered in total. Wards with a larger number of attendances are darker in colour, and hover over each hexagon to see the total number for that ward. Hexes outlined in dark blue have an associated value of zero.</p>
  </section>

  <section>
    <h2>Attendance numbers by ward of residence</h2>
    
    {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: metrics.roadshows.by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'contact_consents',
      popup: popupResponses,
      bgColour: 'var(--l23-magenta)',
      colourScale: colours.scales.magenta
    }) | safe }}

    <p>This hexmap shows the number of attendees living in each ward who submitted a sign-up form for communication from Leeds 2023 following attendance at the roadshows.</p>
    <p>This hexmap has used the <a href="https://www.ons.gov.uk/methodology/geography/geographicalproducts/postcodeproducts">ONS Postcode Directory</a> to look up postcodes submitted via the sign-up form and to identify the most likely ward this individual lives in. The data may not be fully accurate, as postcodes do not accurately align with ward boundaries.</p>
    <p><strong>{{metrics.roadshows.summary.columns.cumulative_contact_consents | last | localize}}</strong> communication sign up forms were submitted in total. Of this, <strong>314*</strong> reside in Leeds, and the remainder either come from outside Leeds or were mistyped. </p>
    <p>Wards with a larger number of attendances are darker in colour. Hover over each hexagon to see the total number for that ward.</p>
    <p>*Not live figure</p>
  </section>

{% endcomp %}

<section>
  <h2>
    Roadshow Attendances and Communication Sign-Up forms cumulative totals
  </h2>
  <p>This chart shows the cumulative number of attendees at roadshow events per week, and the cumulative number of communication sign-up forms submitted per week.</p>

  {% from 'macros.njk' import dateFormatterNoYear as dateFormatter %}
  {{ comp.oi.charts.graph.line({
    categories: metrics.roadshows.summary.columns.week_ending,
    width: 25,
    height: 12,
    padding: { left: 4 },
    series: [
      {
        id: 'attendances',
        label: 'Attendances (cumulative)',
        yValues: metrics.roadshows.summary.columns.cumulative_attendance,
        colour: 'var(--l23-cyan)',
        markerOptions: { s: 5 }
      },
      {
        id: 'comms',
        label: 'Submitted Communication Sign-up Forms (cumulative)',
        yValues: metrics.roadshows.summary.columns.cumulative_contact_consents,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    xAxis: {
      title: 'Week ending (Friday)',
      majorTick: 3,
      formatter: dateFormatter
    },
    plotArea: {
      yMax: 1000
    },
    yAxis: {
      title: 'Numbers',
      titleOffset: 3,
      majorTick: 200
    },
    legend: {
      width: '30em'
    }
  }) | safe }}
</section>
