---
title: Social Media
summary: Data about Leeds 2023 Social Media Accounts
key: social_media
work_in_progress: true
metas:
  title: LEEDS 2023 Metrics - Social Media
  description: |
    Visualisations of key metrics related to LEEDS 2023 social media accounts.
---

{% comp 'grid.autogrid', { min_width: '32rem' } %}
  {% comp 'grid.block.impact' %}
    <h2>
      Total Audience
    </h2>
    {{ comp.viz.bigNumber({
      number: metrics.social_media.all_weekly.columns.audience_last | last | localize
    }) | safe }}
    <p>
      As at {{ metrics.social_media.all_weekly.columns.week_starting | last | date('HUMAN_DATE') }}
    </p>
  {% endcomp %}
  {% comp 'grid.block.impact' %}
    <h2>
      Total Engagement 2022
    </h2>
    {{ comp.viz.bigNumber({
      number: (
        metrics.social_media.summary.service.twitter.metrics.engagements_total + 
        metrics.social_media.summary.service.instagram.metrics.engagements_total +
        metrics.social_media.summary.service.facebook.metrics.engagements_total +
        metrics.social_media.summary.service.linkedin.metrics.engagements_total
       ) | localize
    }) | safe }}
  {% endcomp %}
  {% comp 'grid.block.impact' %}
    <h2>
      Total Audience Gained 2022
    </h2>
    {{ comp.viz.bigNumber({
      number: (
        metrics.social_media.summary.service.twitter.metrics.audience_gained_total + 
        metrics.social_media.summary.service.instagram.metrics.audience_gained_total +
        metrics.social_media.summary.service.facebook.metrics.audience_gained_total +
        metrics.social_media.summary.service.linkedin.metrics.audience_gained_total
      ) | localize
    }) | safe }}
  {% endcomp %}
  {% comp 'grid.block.impact' %}
    <h2>
      Total Impressions 2022
    </h2>
    {{ comp.viz.bigNumber({
      number: (
        metrics.social_media.summary.service.twitter.metrics.impressions_total + 
        metrics.social_media.summary.service.instagram.metrics.impressions_total +
        metrics.social_media.summary.service.facebook.metrics.impressions_total +
        metrics.social_media.summary.service.linkedin.metrics.impressions_total
      ) | localize
    }) | safe }}
  {% endcomp %}
{% endcomp %}


{% include "visualisations/social-media/social-graph.njk" %}

