---
title: Test
summary: Data about testing
key: test
metas:
  title: LEEDS 2023 Metrics - Test
  description: |
    Visualisations of key metrics related to the LEEDS 2023 volunteering.
order: 10
limitations:
  - |
      Application dates prior to the 5th October are estimated based on the last modification
---
{% from 'macros.njk' import dateFormatter %}
{%- macro popupPreApplication(params) -%}
  {{ params.label }}</br>
  {{ params.value }} signups
{%- endmacro -%}
{%- macro popupApplied(params) -%}
  {{ params.label }}</br>
  {{ params.value }} applications received
{%- endmacro -%}


{% comp 'layout.figure', {
  title: 'Cumulative counts of volunteer user profiles by status'
} %}

{{ comp.oi.charts.graph.line({
  categories: metrics.volunteers.by_week.columns.week_ending,
  width: 25,
  height: 12,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 4,
    labelRotate: 35,
    majorTick: 1,
    formatter: dateFormatter
  },
  yAxis: {
    title: 'Number of volunteers',
    titleOffset: 3,
    majorTick: 200
  },
  plotArea: {
    yMax: 1000,
    colour: 'var(--l23-dark-blue-grey)'
  },
  padding: {
    left: 4,
    bottom: 5
  },
  series: [
    {
      id: "offered", label: "Volunteers appointed (cumulative)",
      yValues: metrics.volunteers.by_week.columns.confirmed,
      colour: 'var(--l23-magenta)',
      markerOptions: { s: 5 }
    },
    {
      id: "offered", label: "Offers made (cumulative)",
      yValues: metrics.volunteers.by_week.columns.offered,
      colour: 'var(--l23-cyan)',
      markerOptions: { s: 5 }
    },
    {
      id: "applied", label: "Applications (cumulative)",
      yValues: metrics.volunteers.by_week.columns.applied,
      colour: 'var(--l23-yellow)',
      markerOptions: { s: 5 }
    },
    {
      id: "created", label: "Sign-ups (cumulative)",
      yValues: metrics.volunteers.by_week.columns.created,
      colour: 'var(--l23-mint)',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
}) | safe }}
{% endcomp %}
