---
title: Volunteers
summary: Data about volunteering
key: volunteers
metas:
  title: LEEDS 2023 Metrics - Volunteers
  description: |
    Visualisations of key metrics related to the LEEDS 2023 volunteering.
order: 10
limitations:
  - |
      Application dates prior to the 5th October are estimated based on the last modification
      date of the user record. This is very likely to incorrectly estimate the date that the application
      was received. Overall numbers should still work.
  - The hexmaps do not show volunteers from outside the Leeds wards.
---
{% from 'macros.njk' import dateFormatter %}
{%- macro popupPreApplication(params) -%}
  {{ params.label }}</br>
  {{ params.value }} signups
{%- endmacro -%}
{%- macro popupApplied(params) -%}
  {{ params.label }}</br>
  {{ params.value }} applications received
{%- endmacro -%}

<p>
  Our volunteers will be the heart of the Year of Culture.
  The data on this page shows how we're building our team of volunteers.
  There is a simple application process you need to follow to become a volunteer,
  starting with expressing interest by <strong>signing up</strong>.
  After you've <strong>applied</strong>, we'll review your application and guide you through assessment,
  before making <strong>offers</strong> to sucessful candidates we hope will become <strong>confirmed</strong> volunteers.
  You can read more <a href="https://leeds2023.co.uk/volunteer-with-leeds-2023">about the volunteering programme on the LEEDS 2023 website</a>.
</p>

<p>
  The data shown below was extracted from the Rosterfy volunteer management system which tracks all activity related to volunteering.
  At the moment, this is primarily the application process, but over time we will show data about the number of shifts that our volunteers complete. The Raw Data can be downloaded from <a href="https://datamillnorth.org/dataset/leeds-2023-volunteers">Data Mill North</a>
</p>

<p>Page updated: {{ date | date('HUMAN_DATE') }}</p>

<h2>Headlines</h2>

{% comp 'grid.autogrid', { min_width: '20rem' } %}
  {{ comp.metric.headline({
    title: "Volunteer sign-ups", headingLevel: 3,
    value: metrics.volunteers.by_week.columns.created | last | localize,
    description: "The number of people who have signed up to the volunteer system (Rosterfy).",
    background: "var(--l23-mint)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Volunteer applications", headingLevel: 3,
    value: metrics.volunteers.by_week.columns.applied | last | localize,
    description: "The number of volunteering applications that have been received.",
    background: "var(--l23-yellow)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Volunteer offers", headingLevel: 3,
    value: metrics.volunteers.by_week.columns.offered | last or '--' | localize,
    description: "The number of people who have been offered a volunteering role.",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Volunteers confirmed", headingLevel: 3,
    value: metrics.volunteers.by_week.columns.confirmed | last or '--' | localize,
    description: "The number of volunteers who have been confirmed.",
    background: "var(--l23-magenta)"
  }) | safe }}
{% endcomp %}

<h2>Distribution of volunteers</h2>

<p>
  The hex cartograms below show the distribution of volunteers' home addresses across
  the wards of Leeds. Wards with a larger number of resident volunteers are darker in
  colour. Wards with a count of zero are outlined in a dark border. Below each cartogram, 
  there is a breakdown of the total amount of volunteer addresses that are within Leeds, outside 
  of Leeds and invalid/unknown. An address is invalid/unknown if it could not be mapped to a valid UK postcode.
  This could be due to a typing error or because it is outside of the UK. 
</p>
  
{% comp 'grid.autogrid', { min_width: '20rem' } %}
  <section>
    <h3>Signed-up</h3>
    {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: metrics.volunteers.by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'created',
      popup: popupPreApplication,
      bgColour: 'var(--l23-mint)',
      title: 'Initial sign-ups by people living in ward',
      colourScale: colours.scales.mint
    }) | safe }}

   <p>Total within Leeds: <strong>{{metrics.volunteers.la_stats.created.Leeds}}</strong><br>
    Total outside Leeds: <strong>{{metrics.volunteers.la_stats.created.OUTSIDE_LEEDS}}</strong><br>
    Total unknown/invalid: <strong>{{metrics.volunteers.la_stats.created.UNKNOWN + metrics.volunteers.la_stats.created.NOT_PROVIDED}}</strong></p>
  </section>
  <section>
    <h3>Applications</h3>
    {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: metrics.volunteers.by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'applied',
      popup: popupApplied,
      bgColour: 'var(--l23-yellow)',
      title: 'Volunteer applications received from people in ward',
      colourScale: colours.scales.yellow
    }) | safe }}

   <p>Total within Leeds: <strong>{{metrics.volunteers.la_stats.applied.Leeds}}</strong><br>
    Total outside Leeds: <strong>{{metrics.volunteers.la_stats.applied.OUTSIDE_LEEDS}}</strong><br>
    Total unknown/invalid: <strong>{{metrics.volunteers.la_stats.applied.UNKNOWN + metrics.volunteers.la_stats.applied.NOT_PROVIDED}}</strong></p>
  </section>
  <section>
    <h3>Offers</h3>
    {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: metrics.volunteers.by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'offered',
      popup: popupApplied,
      bgColour: '#BBB',
      title: 'Volunteer posts offered to people in ward'
    }) | safe }}

    <p>Total within Leeds: <strong>{{metrics.volunteers.la_stats.offered.Leeds}}</strong><br>
    Total outside Leeds: <strong>{{metrics.volunteers.la_stats.offered.OUTSIDE_LEEDS}}</strong><br>
    Total unknown/invalid: <strong>{{metrics.volunteers.la_stats.offered.UNKNOWN + metrics.volunteers.la_stats.offered.NOT_PROVIDED}}</strong></p>
  </section>
  <section>
    <h3>Confirmed</h3>
    {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: metrics.volunteers.by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'confirmed',
      popup: popupApplied,
      bgColour: '#BBB',
      title: 'Confirmed volunteers by ward'
    }) | safe }}

    <p>Total within Leeds: <strong>{{metrics.volunteers.la_stats.confirmed.Leeds}}</strong><br>
    Total outside Leeds: <strong>{{metrics.volunteers.la_stats.confirmed.OUTSIDE_LEEDS}}</strong><br>
    Total unknown/invalid: <strong>{{metrics.volunteers.la_stats.confirmed.UNKNOWN + metrics.volunteers.la_stats.confirmed.NOT_PROVIDED}}</strong></p>
  </section>
{% endcomp %}

<h3> West Yorkshire Volunteers</h3>
{% comp 'layout.block' %}
{{ comp.charts.table({
  columns: [{'key' : 'Local Authority','name':'Local Authority'},{'key':'Created','name':'Created'},{'key':'Applied','name':'Applied'},{'key':'Offered','name':'Offered'},{'key':'Confirmed','name':'Confirmed'}],
  rows: metrics.volunteers.west_yorkshire.rows
}) | safe }}
{% endcomp %}
<h2>Growth in volunteering</h2>

{% comp 'layout.figure', {
  title: 'Cumulative counts of volunteer user profiles by status'
} %}

{{ comp.oi.charts.graph.line({
  categories: metrics.volunteers.by_week.columns.week_ending,
  width: 25,
  height: 12,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 4,
    labelRotate: 35,
    majorTick: 1,
    formatter: dateFormatter
  },
  yAxis: {
    title: 'Number of volunteers',
    titleOffset: 3,
    majorTick: 200
  },
  plotArea: {
    yMax: 1000,
    colour: 'var(--l23-dark-blue-grey)'
  },
  padding: {
    left: 4,
    bottom: 5
  },
  series: [
    {
      id: "offered", label: "Volunteers appointed (cumulative)",
      yValues: metrics.volunteers.by_week.columns.confirmed,
      colour: 'var(--l23-magenta)',
      markerOptions: { s: 5 }
    },
    {
      id: "offered", label: "Offers made (cumulative)",
      yValues: metrics.volunteers.by_week.columns.offered,
      colour: 'var(--l23-cyan)',
      markerOptions: { s: 5 }
    },
    {
      id: "applied", label: "Applications (cumulative)",
      yValues: metrics.volunteers.by_week.columns.applied,
      colour: 'var(--l23-yellow)',
      markerOptions: { s: 5 }
    },
    {
      id: "created", label: "Sign-ups (cumulative)",
      yValues: metrics.volunteers.by_week.columns.created,
      colour: 'var(--l23-mint)',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
}) | safe }}
{% endcomp %}
