---
title: Children and Young People
summary: Engagement with schools, children and young people. 
tags:
  - main
work_in_progress: true
metas:
  title: LEEDS 2023 Metrics - Schools Engagement
  description: |
    Visualisations of key metrics related to engagement with young people.
limitations:
  - TBC
---

{# Set up some cyclers for block colouring #}
{% set fg = cycler("black", "black") %}
{% set bg = cycler("var(--l23-cyan)", "var(--l23-yellow)", "var(--l23-magenta)") %}

{% from 'macros.njk' import dateFormatterNoYear as dateFormatter %}

{% comp 'grid.autogrid', {min_width: '25rem'} %}
{% comp 'grid.block.impact', {bg: bg.next()} %}
    <h2>
      Engagements with Young People
    </h2>
{{ comp.viz.bigNumber({
      number: engagements_by_week.columns.pupil_engagements | sum | localize
    }) | safe }}
    <p>
       Total number of young people engaged with through LEEDS 2023 activities.
    </p> 
{% endcomp %}

{% comp 'grid.block.impact', {bg: bg.next()} %}
    <h2>
      School Engagements
    </h2>
{{ comp.viz.bigNumber({
      number: school_engagement_counts.columns.school | length | localize
    }) | safe }}
    <p>
       Number of schools engaged with.
    </p> 
{% endcomp %}

{% comp 'grid.block.impact', {bg: bg.next()} %}
    <h2>
      Percentage of Schools Engaged with 
    </h2>
{{ comp.viz.bigNumber({
      number: schools_summary.columns.value[2] | localize,
      suffix: '%'
    }) | safe }}
    <p>
       Percentage of Leeds schools engaged with through LEEDS 2023 activities.
    </p> 
{% endcomp %}
{% endcomp %}

{% comp 'grid.autogrid', {min_width: '50rem'} %}
{% comp 'layout.figure' %}
  <h3>Number of engagements with young people</h3>
{{ comp.oi.charts.graph.line({ config: {
    categories: engagements_by_week.columns.date,
    width: 35,
    height: 10,
    padding: { left: 4 },
    series: [
      {
        id: 'pupil_engagements',
        label: 'Engagements (cumulative)',
        yValues: engagements_by_week.columns.cumulative_pupil_engagements,
        colour: 'var(--l23-cyan)',
        markerOptions: { s: 5 }
      }
    ],
    xAxis: {
      title: 'Date',
      majorTick: 4
    },
    plotArea: {
      yMax: 6500
    },
    yAxis: {
      title: 'Number of engagements',
      titleOffset: 3,
      majorTick: 500, 
      formatter: dateFormatter
    },
    legend: {
      width: '30em'
    }
  } }) | safe }}
{% endcomp %}

{# {% comp 'layout.figure' %}
  <h3>School engagements by ward</h3>
  {{ comp.charts.hexmap({
    hexjson: hex.wards_leeds,
    data: engagements_by_ward.rows,
    matchKey: 'WD21CD',
    valueProp: 'count_of_engagements',
    bgColour: '#ddd',
      colourScale: colours.scales.cyan
  }) | safe }}
{% endcomp %} #}
{% endcomp %}
