---
# https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/
css: |
  .auto-grid {
    --auto-grid-min-size: 16rem;
    --auto-grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--auto-grid-min-size)), 1fr));
    grid-gap: var(--auto-grid-gap);
    & > * {
      margin: 0;
    }
  }
---
<div class="auto-grid"
  {%- if min_width %} style="--auto-grid-min-size: {{ min_width }}"{% endif -%}
  >
  {{- content | safe -}}
</div>