---
# https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/
css: |
  .grid-masonry {
    --auto-grid-gap: 1rem;
    display: flex;
    gap: var(--auto-grid-gap);
    flex-wrap: wrap;
    flex-direction: row;
    & > * {
      margin: 0;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      max-width: 100%;
    }
  }
---
<div class="grid-masonry" style="
  {%- if min_width %} --auto-grid-min-size: {{ min_width }};{% endif -%}
  ">
  {{- content | safe -}}
</div>