---
title: LEEDS 2023 Data
layout: layouts/default.njk
links:
  - title: GitHub repo
    link: https://github.com/open-innovations/leeds-2023
    summary: |
      GitHub repo for the code and data.
---

{% comp "layout.block", { background_colour: 'var(--l23-yellow)', vertical_padding: '3rem' } %}
  <h1 style="text-align: center; font-size: 3rem;">LEEDS 2023 Year of Culture</h1>
  <h2 style="text-align: center; font-size: 4rem;">Data Microsite</h2>
{% endcomp %}

{% comp "layout.block", { vertical_padding: '2rem'} %}
{% comp "grid.autogrid" %}

  {% comp "grid.block.impact", {
    link: "https://leeds2023.co.uk/",
    bg: "var(--l23-magenta);",
    fg: "white"
  } %}
    <div style="fill: white;">
      <img src="/assets/images/logo.svg" height="50" inline/>
    </div>
    <p>Visit the main LEEDS 2023 Year Of Culture website</p>
  {% endcomp %}

  <!-- Some metrics -->

  {% comp "grid.block.impact", {
    link: "~/metrics/roadshow-attendees.njk",
    bg: "var(--l23-yellow);"
  } %}
    <h2>Roadshow Attendees</h2>
    {{ comp.viz.bigNumber({ number: metrics.roadshow_attendees.summary.columns.cumulative_attendees | last }) | safe }}
    Between
    {{ metrics.roadshow_attendees.summary.columns.week_ending | first | date('MMMM') }}
    and
    {{ metrics.roadshow_attendees.summary.columns.week_ending | last | date('MMMM') }}
    {{ metrics.roadshow_attendees.summary.columns.week_ending | last | date('YYY') }}
  {% endcomp %}

  {% for link in links %}
    {% comp "grid.block.impact", {
      link: link.link | url,
      bg: "var(--l23-cyan);"
    } %}
      <h2>{{ link.title }}</h2>
      <img src="/assets/images/icons/github.svg" inline>
      <p>{{ link.summary }}</p>
    {% endcomp %}
  {% endfor %}

  {% comp "grid.block.impact", {} %}
    <h2>
      About this site
    </h2>
    <p>
      This microsite presents data about the Leeds 2023 Year of Culture.
      It aims to tell the story of the Year of Culture in data.
    </p>
  {% endcomp %}

{% endcomp %}
{% endcomp %}