---
title: LEEDS 2023 Data
layout: layouts/default.njk
links:
  - title: Roadshow Attendees
    link: ~/metrics/roadshow-attendees.njk
    summary: |
      Data collection and visualisation of attendees at our roadshows
  - title: GitHub repo
    link: https://github.com/open-innovations/leeds-2023
    summary: |
      GitHub repo for the code and data.
  - title: LEEDS 2023
    link: https://leeds2023.co.uk/
    summary: Website of LEEDS 2023 Year Of Culture
---

{% comp "layout.block", { background_colour: 'var(--l23-yellow)', vertical_padding: '3rem' } %}
  <h1 style="text-align: center; font-size: 3rem;">LEEDS 2023 Year of Culture</h1>
  <h2 style="text-align: center; font-size: 4rem;">Data Microsite</h2>
{% endcomp %}

{% comp "layout.block", { vertical_padding: '2rem'} %}
{% comp "grid.autogrid" %}
  {% for link in links %}
    {{ comp.grid.link({
      title: link.title,
      link: link.link | url,
      summary: link.summary
    }) | safe }}
  {% endfor %}
  {% comp "grid.block.full_width" %}
    {{ comp.animatedLogo() | safe }}
  {% endcomp %}
{% endcomp %}
{% endcomp %}