---
title: Fundraising
work_in_progress: true
key: fundraising
summary: Data about the organisations who are funding LEEDS 2023.
columns:
  - key: stage
    name: Fundraising Stage
  - key: count
    name: Count
limitations:
  - Data displayed is not up to date as it is reliant on a quarterly manual update.
---

<p>
  This page presents data about Leeds 2023 Fundraising activity.
</p>

<h2>
  Summary of organisations by stage
</h2>

<p>
  This summary shows the number of organisations at each stage of the fundraising cycle.
  NB the stages are not currently ordered by position in the lifecycle.
</p>
{%- macro popupContent(value) -%}
  {{ value }} organisations
{%- endmacro -%}

{% comp 'grid.autogrid', {min_width: '32rem'} %}
{% comp 'layout.block' %}
{{ comp.charts.barchart({
  title: [
    'Organisations at each fundraising stage'
  ],
  series: [
    count_by_stage.columns.count
  ],
  popupContent: popupContent,
  categories: count_by_stage.columns.stage,
  colours: [
    [ "var(--l23-cyan)" ]
  ],
  plot: {
    grid: { x: true, category: true }
  },
  axis: {
    x: {
      title: 'Number of organisations',
      show: false,
      ticks: false,
      resolution: 25
    },
    category: {
      show: false,
      height: 40
    }
  }
}) | safe }}
{% endcomp %}

{% comp 'layout.block' %}
{{ comp.charts.table({
  columns: columns,
  rows: count_by_stage.rows
}) | safe }}
{% endcomp %}
{% endcomp %}

{% comp 'layout.block' %}
<table class="scroll-table">
  <thead>
    <tr>
      <th>Sector</th>
      <th>Research</th>
      <th>Prospect</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Unknown</th>
    </tr>
  </thead>
{% for row in count_by_sector_and_stage.rows %}
  <tr>
    <td>{{ row.sector }}</td>
    <td>{{ row.Research }}</td>
    <td>{{ row.Prospect }}</td>
    <td>{{ row.Won }}</td>
    <td>{{ row.Lost }}</td>
    <td>{{ row.Unknown }}</td>
  </tr>
{% endfor %}
</table>
{% endcomp %}
