---
title: Arts Council England
summary: Data from Arts Council England
key: arts-council
work_in_progress: true
---


<h1>{{ title }}</h1>
<p>Arts Council England gave a total of <strong>{{arts_council.stats.total_count | localize}}</strong> grants worth at total of <strong>£{{arts_council.stats.total_sum | localize}}</strong>.</p>
<p>A total of <strong>{{arts_council.stats.uk_count | localize}}</strong> went to organisations in the UK, worth at total of <strong>£{{arts_council.stats.uk_sum | localize}}</strong>.</p>
<p>A total of <strong>{{arts_council.stats.england_count | localize}}</strong> went to organisations in England, worth at total of <strong>£{{arts_council.stats.england_sum | localize}}</strong>. 
Engalnd has a population of <strong>{{arts_council.stats.england_population | localize}}</strong> so this equates to <strong>£{{(arts_council.stats.total_sum / arts_council.stats.england_population) | round(2) | localize}}</strong> per person.</p>
<p>Hexmap showing the total amount of funding recieved from Arts Council England (from April 2018 to August 2022) per person by Local Authority.</p>
{% from 'macros.njk' import dateFormatter %}
{%- macro popupCountTotal(params) -%}
  {{ params.label }}</br>£
  {{ params.value }} </br> Funding Received Per Person
{%- endmacro -%}


<div style="display: flex; justify-content: center;">
<div style="width: 40rem; max-width: 100%;">
{{ comp.charts.hexmap({
      hexjson: arts_council.la,
      data: arts_council.all_summary_hex.rows,
      matchKey: 'la_code',
      valueProp: 'sum_total_per_capita',
      bgColour: '#ddd',
      popup: popupCountTotal,
      title: 'Arts Council Funding by Local Authority Per Capita'
    }) | safe }}

</div>
</div>

<p>Map showing the total amount of funding recieved from Arts Council England (from April 2018 to August 2022) per person by Region.</p>
{%- macro popup_text(label, value, total) -%}
  £{{value}} total funding per person in {{ label }}
{%- endmacro -%}
<div style="display: flex; justify-content: center;">
<div style="width: 40rem; max-width: 100%;">
{{ comp.map.uk({
      width: '80%',
      values: arts_council.region_map,
      max: 11.86,
      popup_formatter: popup_text
    }) | safe }}

</div>
</div>




