---
title: Hidden Stories
work_in_progress: true
---
<h1>{{ title }}</h1>

<h2>Headlines</h2>
{% comp 'grid.autogrid' %}

{% comp 'grid.block.impact', {bg : "var(--l23-cyan)" } %}
Number of Events:
  {{ comp.viz.bigNumber({ number: metrics.hidden_stories.stats.event_count }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { bg : "var(--l23-cyan)"  } %}
Total Audience
  {{ comp.viz.bigNumber({ number: metrics.hidden_stories.stats.audience_sum }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { bg : "var(--l23-cyan)" } %}
Total Participants
  {{ comp.viz.bigNumber({ number: metrics.hidden_stories.stats.participants_sum}) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { bg : "var(--l23-cyan)"  } %}
Largest Audience (Single Event)
  {{ comp.viz.bigNumber({ number: metrics.hidden_stories.stats.audience_max }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { bg : "var(--l23-cyan)" } %}
Largest Participants (Single Event)
  {{ comp.viz.bigNumber({ number: metrics.hidden_stories.stats.participants_max}) | safe }}
{% endcomp %}

{% endcomp %}

<h2>Event Locations</h2>
{% comp 'grid.autogrid', {min_width: '40rem'} %}
  <section style="--hex-bg: var(--l23-cyan);">
   
    {{ comp.oi.viz.map.hex_cartogram({
		config: {
			hexjson: hex.wards_leeds,
			data: metrics.hidden_stories.wards.rows,
			matchKey: 'ward_code',
			value: 'count',
			bgColour: '#BBB',
			title: 'Number of projects taken place per ward',
			label: '{{ n | slice(0,3) }}',
			tooltip: '<h4>{{ n }}</h4><p><strong>{{ count | "0" | toLocaleString() }}</strong> event(s)</p>',
			scale: 'lightcyan',
			min: 0
		}
    }) | safe }}
  </section>
{% endcomp %}

<h2>Event Audience/Participants</h2>
{% comp 'grid.autogrid', {min_width: '40rem'} %}
  <section style="--hex-bg: var(--l23-cyan);">
   
    {{ comp.oi.viz.map.hex_cartogram({
		config: {
			hexjson: hex.wards_leeds,
			data: metrics.hidden_stories.wards.rows,
			matchKey: 'ward_code',
			value: 'total_sum',
			bgColour: '#BBB',
			title: 'Number of projects taken place per ward',
			label: '{{ n | slice(0,3) }}',
			tooltip: '<h4>{{ n }}</h4><p><strong>{{ total_sum | "0" | toLocaleString() }}</strong> participant(s)</p>',
			scale: 'lightcyan',
			min: 0
		}
    }) | safe }}
  </section>
{% endcomp %}