---
title: Leeds City Council KPI Report April 2021 to March 2022
work_in_progress: true
manual_measure:
  artists_employed: 244
  direct_or_indirect_employed: 131
  higher_ed_partnerships: 6
target:
  artists_employed: 200
  direct_or_indirect_employed: 50
  skills_partnerships: 2
  coverage_pct_increase: 10
  reach_pct_increase: 10
  digital_audience: 10
baseline:
  media_coverage: 97
  media_reach: 34396843
---
{# 

  Notes

  Reach - not sure that the grouping is correct for this report - KPI report is Apr 21 - Mar 22. Media report is Aug-Jul.
  Need to be able to get baselines for each of these - maybe for RAP processors.

 -#}


<article>
  <h1>{{ title }}</h1>

  {% comp "grid.autogrid" %}

  {% comp 'grid.block.full_width' %}
  <h2>Employment and Skills</h2>
  {% endcomp %}

  {{ comp.viz.currentVsTarget({
    current: manual_measure.artists_employed,
    target: target.artists_employed,
    label: 'Number of artists employed'
  }) | safe }}

  {{ comp.viz.currentVsTarget({
    current: manual_measure.direct_or_indirect_employed,
    target: target.direct_or_indirect_employed,
    label: 'Number of people employed directly/indirectly'
  }) | safe }}

  {% comp 'grid.block.full_width' %}
  <p>
      We have secured partnerships with <strong>{{ manual_measure.higher_ed_partnerships }}
        Higher Education and Further Education Institutes</strong>
      in the city. We are developing a series of opportunities for students to develop
      skills through hands on experience on LEEDS 2023 projects.
    </p>
  {% endcomp %}

  {{ comp.viz.currentVsTarget({
    current: manual_measure.higher_ed_partnerships,
    target: target.skills_partnerships,
    label: 'Skills Partnerships' })
    | safe
  }}

  {% comp 'grid.block.full_width' %}
  <h2>Media coverage </h2>
  {% endcomp %}
  {# Data from AMA spreadsheet #}
  {# TODO add reach calculation #}

  {%- set coverage = metrics.media_coverage.kpi.lcc_21_22.columns.cumulative_count | last -%}
  {%- set reach = metrics.media_coverage.kpi.lcc_21_22.columns.cumulative_reach | last -%}

  {{ comp.viz.currentVsTarget({
    current: ((( coverage / baseline.media_coverage ) - 1 ) * 100 ) | round + '%',
    target: target.coverage_pct_increase + '%',
    label: 'Increase in Coverage (articles)'
  }) | safe }}
  {{ comp.viz.currentVsTarget({
    current: ((( reach / baseline.media_reach ) - 1 ) * 100 ) | round + '%',
    target: target.reach_pct_increase + '%',
    label: 'Increase in Reach (audience)'
  }) | safe }}

  <section>
    <table>
      <tr>
        <th>
          Period
        </th>
        <th>
          2020-21
        </th>
        <th>
          2021-22
        </th>
      </tr>
      <tr>
        <td>
          Coverage
        </td>
        <td>
          {{ baseline.media_coverage | localize }}
        </td>
        <td>
          {{ coverage | localize}}
        </td>
      </tr>
      <tr>
        <td>
          Reach
        </td>
        <td>
          {{ baseline.media_reach | localize }}
        </td>
        <td>
          {{ reach | localize }}
        </td>
      </tr>
    </table>
    <p>
      <strong>Coverage</strong> is the count of articles during the period.
      <strong>Reach</strong> is the sum of the circulation per article.
    </p>
  </section>

  {% comp 'grid.block.full_width' %}
  <h2>
      Digital audience
    </h2>
  {% endcomp %}
  <div>
    <ul>
      {% for social in['twitter', 'website'] %}
        <li>
          {{ metrics.digital_audience.growth[social].label }}
        grew from
        {{ metrics.digital_audience.growth[social].previous | localize }}
        to
        {{ metrics.digital_audience.growth[social].current | localize }}:
        growth of {{
          (
            (
              (
                metrics.digital_audience.growth[social].current /
                metrics.digital_audience.growth[social].previous
              ) - 1
            ) * 100
          ) | round
        }}%
      </li>
      {% endfor %}
    </ul>
  </div>
  {{ comp.viz.currentVsTarget({
    current: metrics.digital_audience.growth.total.growth + '%',
    target: target.digital_audience + '%'
  }) | safe }}

  {% endcomp %}
</article>