---
title: My World, My City, My Neighbourhood
work_in_progress: true
summary: Data on the MWMCMN event series.
manual_measure:
  total_artists_employed: 165
  total_participants: 2105
  total_audience_live: 3735
  total_days_performace_exhibition: 108
  total_training_sessions: 487
  total_young_people: 1172
  estimated_total_artists_employed: 23
  estimated_total_participants: 6900
  estimated_total_audience_live: 2300
  estimated_total_audience_online: 70000
  estimated_total_days_other_artists: 1207
  estimated_total_days_performace_exhibition: 46
  estimated_total_training_sessions: 345
  num_barriers: 1045
  total_young_people_barriers_arts: 1045
  total_young_people_first_time: 1124
  total_young_people_positive_experience: 960
  total_young_people_continue_engagement: 759
  total_increased_belonging: 1072
  total_volunteered: 1425
  total_improved_mental_health: 485
  total_improved_physical_health: 476
columns:
  - key: project
    name: Project
  - key: count
    name: Count
---

{# Set up some cyclers for block colouring #}
{% set fg = cycler("black", "black") %}
{% set bg = cycler("var(--l23-cyan)", "var(--l23-yellow)") %}

<br>
<br>

<h1>{{ title }}</h1>

<p>
  This page shows data collected about the My World, My City, My Neighbourhood project delivered with Leeds 2023. 
</p>


{% comp 'grid.autogrid' %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total number of artists
  {{ comp.viz.bigNumber({ number: manual_measure.total_artists_employed }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Participants
  {{ comp.viz.bigNumber({ number: manual_measure.total_participants }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Young People Participated:
  {{ comp.viz.bigNumber({ number: manual_measure.total_young_people }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Live Audience 
  {{ comp.viz.bigNumber({ number: manual_measure.total_audience_live }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Total Performance And Exhibition Days
  {{ comp.viz.bigNumber({ number: manual_measure.total_days_performace_exhibition }) | safe }}
{% endcomp %}

{% endcomp %}


<br>
<br>

<h2>Participation and Impact on Young People:</h2>

<h3>
>Number of young people involved that have experienced barriers to accessing the arts:
</h3>

{% comp 'grid.autogrid', {min_width: '40rem'} %}
{% comp 'layout.block' %}

{%- macro popupContent(value) -%}
  {{ value }} people
{%- endmacro -%}

{{ comp.charts.barchart({
  series: [
    metrics.mwmcmn.barriers.columns.count
  ],
  popupContent: popupContent,
  categories: metrics.mwmcmn.barriers.columns.stage,
  colours: [
    [ "var(--l23-cyan)" ]
  ],
  plot: {
    grid: { x: true, category: true }
  },
  axis: {
    x: {
      title: 'Number of young people',
      show: false,
      ticks: false,
      resolution:350
    },
    category: {
      title: 'Test title',
      show: true,
      height: 20
    }
  }
}) | safe }}
{% endcomp %}

{% endcomp %}


<br>
<br>

{% comp 'grid.autogrid' %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Number of young people involved that have experienced barriers to accessing the arts:
 {{ comp.viz.bigNumber({ number: manual_measure.total_young_people_barriers_arts }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Young people participated in the arts for the first time as a result of this project:
 {{ comp.viz.bigNumber({ number: manual_measure.total_young_people_first_time }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Young people reported a positive experience of participating in the arts:
 {{ comp.viz.bigNumber({ number: manual_measure.total_young_people_positive_experience }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
Number of young people supported through the project who intend to continue engagement with arts:
 {{ comp.viz.bigNumber({ number: manual_measure.total_young_people_continue_engagement }) | safe }}
{% endcomp %}

{% endcomp %}


<h2>Impact on Community and Wellbeing:</h2>


{% comp 'grid.autogrid' %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People reported an increased sense of belonging to the community: 
 {{ comp.viz.bigNumber({ number: manual_measure.total_increased_belonging }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People volunteered and/or supported their community as a result of the project:
 {{ comp.viz.bigNumber({ number: manual_measure.total_volunteered }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People reported improved mental health and wellbeing as a result of the project: 
 {{ comp.viz.bigNumber({ number: manual_measure.total_improved_mental_health }) | safe }}
{% endcomp %}

{% comp 'grid.block.impact', { fg: fg.next(), bg: bg.next() } %}
People reported improved physical health and wellbeing as a result of the project:
 {{ comp.viz.bigNumber({ number: manual_measure.total_improved_physical_health }) | safe }}
{% endcomp %}

{% endcomp %}

<br>
<br>

<h2>Number of Celebration Events Taken Place by Ward</h2>

{% comp 'grid.autogrid', {min_width: '40rem'} %}
  <section style="--hex-bg: var(--l23-cyan);">
    <p>
      This hexmap shows the number of celebration events taking place per ward. 
    </p>
    {{ comp.charts.hexmap({
      hexjson: hex.wards_leeds,
      data: metrics.roadshows.by_ward.rows,
      matchKey: 'ward_code',
      valueProp: 'attendance',
      popup: popupAttendees,
      bgColour: 'var(--l23-cyan)',
      title: 'Number of projects taken place per ward'
    }) | safe }}
  </section>
{% endcomp %}