---
title: My LEEDS
summary: Data about the My LEEDS 2023 events.
tags:
  - main
work_in_progress: false
order: 90
metas:
  title: LEEDS 2023 Metrics - My LEEDS 2023
  description: |
    Visualisations of key data related to the My LEEDS 2023 events programme.
limitations:
  - There are two other strands of events to be added to this page - My World, My City, My Neighbourhood for which a 2022 report was produced detailing the impact of the seed projects. In 2023 a handful of these projects are being taken forward. Data from these projects will be displayed on this page.
  - The Gift, an artistic project with artist Keith Khan is also part of My LEEDS 2023, data is currently not being displayed relating to that.
sources:
  - data/metrics/events/master/
  - data/metrics/community-grants/
uses_dataset:
  - events.master.all
  - events.tickets.orders
  - community-grants.responses
---

{% from 'macros.njk' import dateFormatter %}

<p>My LEEDS 2023 is a celebration of all the people and stories that make up Leeds. My LEEDS 2023 was a celebration of all the people and stories that make up Leeds. Several projects made up My LEEDS 2023.</p>

<p>Throughout the Year of Culture, 33 Neighbourhood Hosts – local residents of Leeds – participated in a paid training scheme and collaborated with their local communities to create cultural events in each ward of the city. This programme of events was called My LEEDS Summer. To support participation in My LEEDS Summer, the Neighbourhood Hosts designed a community grants scheme and people from across Leeds were invited to apply for funding and take part and create events in their neighbourhood.</p>
  
<p>Artist Keith Khan was commissioned to create ‘The Gift’, a new piece of artwork inspired by Leeds heritage and culture to be gifted to the city. For inspiration, Keith met each of the Neighbourhood Hosts and visited their ward, speaking to local residents and getting to know the neighbourhood.</p>

<p>Alongside the Neighbourhood Hosts, seven local artists were commissioned to co-create cultural activity with their community, as part of a strand of work called ‘My World, My City, My Neighbourhood’.</p>

<p>Finally, school pupils were invited to take part by applying for a grant to create cultural activity at an event in their school’s calendar.</p>

<p>Each of these interwoven strands came together to engage communities across the city in My LEEDS 2023.</p>
  
<p>The visualisations below present the My LEEDS 2023 events which have taken place so far.</p>


{% comp 'grid.' + headline_grid_style, { min_width: '15em' } %}



{% endcomp %}





<h2>My LEEDS 2023</h2>


{% comp 'grid.' + headline_grid_style, { min_width: '15em' } %}

  {{ comp.metric.headline({
    title: "Number of events", headingLevel: 2,
    value: 177,
    description: "Total activities held as part of My LEEDS 2023.",
    background: "var(--l23-magenta)",
    colour: "var(--l23-magenta-contrast)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Number of wards hosting events", headingLevel: 2,
    value: events.headlines.ward_count | localize,
    description: "Number of wards hosting events held as part of My LEEDS 2023.",
    background: "var(--l23-cyan)"
  }) | safe }}


  {{ comp.metric.headline({
    title: "Total audience", headingLevel: 2,
    value: events.headlines.total_audience | localize ,
    description: "Online and in person attendances across all My LEEDS 2023 events.",
    background: "var(--l23-yellow)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "My LEEDS Summer events", headingLevel: 2,
    value: events.summer.headlines.total_events | localize ,
    description: "Number of My LEEDS Summer activities held.",
    background: "var(--l23-cyan)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "My LEEDS Summer audience", headingLevel: 2,
    value: events.summer.headlines.total_audience | localize ,
    description: "Total attendances of My LEEDS Summer events online and in person.",
    background: "var(--l23-magenta)"
  }) | safe }}


  {{ comp.metric.headline({
    title: "Summer community grant applications", headingLevel: 2,
    value: headline.my_leeds_grant_app | localize,
    description: "Total number of Community Grant Applications.",
    background: "var(--l23-yellow)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Schools grant applications", headingLevel: 2,
    value: headline.my_leeds_schools_grants_application | localize,
    description: "Total number of Schools Grant Applications.",
    background: "var(--l23-mint)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Neighbourhood hosts", headingLevel: 2,
    value: 33,
    description: "Locals working with LEEDS 2023 to organise celebration events.",
    background: "var(--l23-magenta)",
    colour: "var(--l23-magenta-contrast)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "My World, My City, My Neighbourhood commissions", headingLevel: 2,
    value: 7,
    description: ".",
    background: "var(--l23-cyan)"
  }) | safe }}

{% endcomp %}

<h2>The Gift</h2>

<p>
  The Gift is an artwork that celebrates communities across Leeds. Made by Keith Khan, the artwork has been inspired by conversations in local areas with <a href="https://staging.leeds2023.co.uk/meet-the-team">LEEDS 2023 Neighbourhood Hosts</a> and historical or anecdotal facts. Based on these conversations Keith created 33 motifs, a unique motif for each ward. These designs were then printed onto fabric and designed into wearable clothing. This clothing was taken to My LEEDS Summer events where audiences could try them on and have their photograph taken in a photo booth. 
</p>

{% comp 'grid.' + headline_grid_style, { min_width: '15em' } %}


  {{ comp.metric.headline({
    title: "The Gift: A City Without Seams",
    description: "Take a look at the brilliant ward motifs created by Keith Khan.",
    link: "/the-gift/",
    background: "var(--l23-dark-blue-grey)",
    colour: "white"
  }) | safe }}

    {{ comp.metric.headline({
    title: "My World, My City, My Neighbourhood",
    description: "Learn more about the My World, My City, My Neighbourhood project.",
    link: "/report/mwmcmn/",
    background: "var(--l23-dark-blue-grey)",
    colour: "white"
  }) | safe }}

{% endcomp %}


<h2>Events in the My LEEDS 2023 series</h2>

<p>
  The events listed below took place between
  {{ events.headlines.earliest_date | date('HUMAN_DATE') }} and
  {{ events.headlines.latest_date | date('HUMAN_DATE') }}.
</p>

{% comp 'grid.autogrid', {min_width: '40rem'} %}

{% comp 'layout.figure', {max_width: '50rem'} %}
<h3>Attendances at events held in ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: events.by_ward.rows,
		matchKey: 'ward_code',
		value: 'audience',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ audience | "0" }}</strong> attendances(s)</p>',
		min: 0,
		scale: 'cyan'
	}
  }) | safe }}
{% endcomp %}

{% comp 'layout.figure', {max_width: '50rem'} %}
<h3>Events by ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: events.by_ward.rows,
		matchKey: 'ward_code',
		value: 'events',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ events | "0" }}</strong> event(s)</p>',
		min: 0,
		scale: 'cyan'
	}
  }) | safe }}
{% endcomp %}
{% endcomp %}


<h2>My LEEDS Summer</h2>

{% comp 'layout.figure', {max_width: '50rem'} %}
<h3>Attendances at My LEEDS Summer events held in Leeds wards</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: events.summer.by_ward.rows,
		matchKey: 'ward_code',
		value: 'audience',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ audience | "0" }}</strong> attendances(s)</p>',
		bgColour: '#ddd',
		min: 0,
		scale: 'magenta'
	}
  }) | safe }}
{% endcomp %}

<h2>My LEEDS Summer Community Grant</h2>
{% comp 'grid.autogrid', {min_width: '30rem'} %}
{% comp 'layout.figure', {max_width: '40rem'} %}
<h3>Applications by ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: responses_by_ward.rows,
		matchKey: 'ward_code',
		value: 'my_leeds_grant_app',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ my_leeds_grant_app }}</strong> applications</p>',
		bgColour: '#ddd',
		scale: 'magenta'
	}
  }) | safe }}
{% endcomp %}

<div>
  <p>
    As part of the <a href="https://leeds2023.co.uk/my-leeds-2023">My LEEDS 2023</a> project, our 33 <a href="https://leeds2023.co.uk/meet-the-team">Neighbourhood Hosts</a> planned 
    celebration events in each ward of the city. As part of this, they recruited individuals, community groups and volunteers to apply for a small grant to 
    celebrate their ward and show off their talents.
  </p>
  
  <p>
    This hexmap presents how many applications were received from each ward. There are {{ headline.unknown_ward }} applications which are not 
    mapped to a ward. Darker colours represent more applications made per ward.
  </p>
</div>


{#
{% comp 'layout.figure', {max_width: '40rem'} %}
<h3>Applications by local authority</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.leeds_city_region,
		data: responses_by_la.rows,
		matchKey: 'la_code',
		value: 'my_leeds_grant_app',
		bgColour: '#ddd',
		scale: 'cyan'
	}
  }) | safe }}
{% endcomp %}
#}
{% endcomp %}


<h2>My LEEDS Schools Grant Applications</h2>
{% comp 'grid.autogrid', {min_width: '30rem'} %}
{% comp 'layout.figure', {max_width: '40rem'} %}
<h3>Applications by ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: responses_by_ward.rows,
		matchKey: 'ward_code',
		value: 'my_leeds_schools_grants_application',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ my_leeds_schools_grants_application }}</strong> applications</p>',
		scale: 'magenta'
	}
  }) | safe }}
{% endcomp %}
<div>
  <p> 
    As part of <a href="https://leeds2023.co.uk/my-leeds-2023">My LEEDS 2023</a> project, LEEDS 2023 offered 33 schools the chance to 
    enhance an existing event in their summer term or plan a new event in their autumn term with a grant of £300.
  </p>
  <p>
    This hexmap presents the number of grant applications we have received from schools in each ward. Darker coloured hexagons represent more applications from each ward.
  </p>
</div>

{% endcomp %}

{% comp 'grid.' + headline_grid_style, { min_width: '15em' } %}

  {{ comp.metric.headline({
    title: "Total active participants", headingLevel: 2,
    value: 1091,
    description: "those who had their photo taken wearing the Gift wearables",
    background: "var(--l23-magenta)",
    colour: "var(--l23-magenta-contrast)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Total active engagements", headingLevel: 2,
    summary: "Words",
    value: 1530,
    description: "Those who engaged with the pop-up but did not partipate in trying on the wearables.",
    background: "var(--l23-cyan)",
    colour: "var(--l23-cyan-contrast)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Digital artwork engagement", headingLevel: 2,
    value: 4374,
    description: "Number of page views from 16 July 2023 to 9 January 2024.",
    background: "var(--l23-yellow)",
    colour: "var(--l23-yellow-contrast)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "The Gift: A City Without Seams total audience", headingLevel: 2,
    value: 3014,
    description: "Total audience numbers for The Gift: A City Without Seams exhibition (from 21st to 24th September)",
    background: "var(--l23-magenta)",
    colour: "var(--l23-magenta-contrast)"
  }) | safe }}

{% endcomp %}






{# {% comp 'layout.figure' %}
<h3>Number of tickets sold by event date</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: search.data('metrics/tickets').by_project_cumulative_weekly.columns.week,
    width: 35,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Date',
      titleOffset: 4,
      labelRotate: 35,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Total',
      titleOffset: 3,
      majorTick: 50
    },
    plotArea: {
      yMax: 250,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "tickets", label: "Number of tickets sold",
        yValues: search.data('metrics/tickets').by_project_cumulative_weekly.columns["12 - My LEEDS 2023"],
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %} #}





