---
title: Making a Stand
summary: Metrics related to Making a Stand - a Signature Event held by LEEDS 2023.
tags:
  - main
order: 80
work_in_progress: true
metas:
  title: Making a Stand
  description: |
    Visualisations of key metrics related to Making a Stand - a Signature Event held by LEEDS 2023.
limitations:
- It is difficult to provide total engagement figures for public artworks. Footfall counters and CCTV monitoring were not available in City 
  Square over the duration that Making A Stand was installed so an exact figure is impossible to calculate. Figures on this page represent 
  engagements at scheduled events and activations with the sculpture.
- As Making A Stand was situated in a public space, not all activations included audience counts. Some of these figures have been retroactively 
  estimated by the producers.
---

{% from 'macros.njk' import dateFormatter %}

<p>
    Making A Stand was a public artwork that stood in City Square between June 2023 - January 2024. The project was inspired by Leeds’ 
    roots as an ancient woodland, the Forest of Leodis. It was designed by artist Michael Pinsky and environmental architects Studio Bark.
</p>


<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '40rem' } %}

  {{ comp.metric.headline({
    title: "Total activations", headingLevel: 2,
    value: events.headlines.total_events | localize,
    description: "Total activations held within City Square whilst the sculpture stood.",
    background: "var(--l23-magenta)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Estimated engagements", headingLevel: 2,
    value: events.headlines.total_audience | localize,
    description: "An estimation on the number of people who passed through City Square when Making A Stand stood",
    background: "var(--l23-magenta)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Engagement at activations", headingLevel: 2,
    value: events.public.headlines.total_events | localize ,
    description: "Total engagements with activations",
    background: "var(--l23-yellow)"
  }) | safe }}

  
    {{ comp.metric.headline({
    title: "Public audience", headingLevel: 2,
    value: events.public.headlines.total_audience | localize ,
    description: "Total count of attendees at public facing events.",
    background: "var(--l23-yellow)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Making a Stand Online", headingLevel: 2,
    value: 5411,
    description: "Total page views of Making a Stand Online.",
    background: "var(--l23-yellow)"
  }) | safe }}  

{% endcomp %}

<p>
    Activations are activities that take place within the sculpture to ‘activate’ it. This ranged from a soundscape recorded by the artist 
    Michael Pinsky and installed for 1 month in November to yoga classes and a reading of A Christmas Carol in December.
</p>

<p>
    Making A Stand Online was a digital experience which could be accessed via a QR code found within the artwork. Uses would learn about 
    the life cycle of the douglas firs that made up the sculpture and how they would return to the supply chain after the event concluded.
</p>

<p>
    Now the artwork has been de-installed the wood has returned to the supply chain. 
</p>