---
title: The Barn
summary: Metrics related to The Barn - a Signature Event held by LEEDS 2023.
tags:
  - main
order: 70
work_in_progress: false
metas:
  title: The Barn
  description: |
    Visualisations of key metrics related to The Barn - a Signature Event held by LEEDS 2023.
limitations: 
  - This data currently doesn’t show where audiences travelled from to attend WOW Barn activity.
---

{% from 'macros.njk' import dateFormatter %}

<h3>The WOW Barn</h3>

<p>In partnership with the WOW Foundation (Women of the World), The WOW Barn was a key placebased project taking place on Cinder Moor in Headingley in April-May 2023. Learn more about the project on the <a href="https://leeds2023.co.uk/the-wow-barn">LEEDS 2023 website</a>. The Barn was raised over 24 hours from 6pm Sun 30 April to 6pm on Monday 1 May, with a programme of activity culminating in the Festival on 13 May 2023.</p>

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '40rem' } %}
  {{ comp.metric.headline({
    title: "Number of events", headingLevel: 2,
    value: events.headlines.total_events | localize,
    description: "Total activities held as part of this Signature event.",
    background: "var(--l23-magenta)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Related Callouts", headingLevel: 2,
    value: 2,
    description: "Total call out opportunities related to this event.",
    link: "/metrics/callouts/",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Callout responses", headingLevel: 2,
    value: (search.data('metrics/callouts').responses_by_callout.columns.responses[1] + search.data('metrics/callouts').responses_by_callout.columns.responses[2]) | localize ,
    description: "Total call out responses for this event.",
    link: "/metrics/callouts/",
    background: "var(--l23-yellow)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Total audience", headingLevel: 2,
    value: events.headlines.total_audience | localize ,
    description: "Total number of attendances online and in person.",
    background: "var(--l23-cyan)"
  }) | safe }}

  {# TODO store as data #}
  {{ comp.metric.headline({
    title: "Dreambuilders workshops", headingLevel: 2,
    value: 14,
    description: "Dreambuilders community workshops hosted as part of The Barn activities.",
    background: "var(--l23-magenta)"
  }) | safe }}

  {# TODO store as data #}
  {{ comp.metric.headline({
    title: "School Days", headingLevel: 2,
    value: 4,
    description: "Number of School Days held as part of this Signature event.",
    background: "var(--l23-yellow)"
  }) | safe }}


  {{ comp.metric.headline({
    title: "Tickets sold", headingLevel: 2,
    value: search.data('metrics/tickets').headlines['05 - The Barn'].tickets | localize ,
    description: "Total number of tickets sold.",
    background: "var(--l23-cyan)", 
    colour: "black"
  }) | safe }}

{% endcomp %}

<h3>About this data</h3>

<p>Number of events refers to the public event series. This includes: The WOW Barn Festival held on 13 May 2023, plus a series of commercial evening events which featured female performers such as comedian Bridget Christie, author and broadcaster Andi Oliver and author Suhaiymah Manzoor-Khan.</p>

<p>Over 300 women and non-binary people were recruited and trained to raise the Barn. Professionals were briefed to support the build, whilst novice builders attended bootcamps at Leeds College of Building to learn new skills which they implemented in their 6 hour long shift at the Barn raising. 260 Barn raisers attended their shift (59 Professionals and 201 Novices).</p>

<p>There were two key ways for people to apply to participate in The WOW Barn via callouts: <strong>Barnraising</strong> and taking part in the <strong>WOWsers programme</strong>. Callout response data relates to these opportunities:</p>
<ul>
  <li>WOWsers applications were open to women and non-binary people aged 16-18 in West Yorkshire.</li>
  <li>Barnraising was open to women and non-binary people aged 18+ in West Yorkshire.</li>
</ul>

<p>Dreambuilder workshops refers to a series of workshops run by artist Emma Hardaker to create tiles which decorated The WOW Barn.</p>

<p>4 school days took place where schools were invited to have lessons inside The WOW Barn.</p>

{% comp 'grid.' + headline_grid_style, { min_width: '30rem' } %}

{% comp 'layout.figure', {max_width: '50rem'} %}
<h3>Number of public events by week</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: events.by_week.columns.week_ending,
    width: 25,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Week ending',
      titleOffset: 4,
      labelRotate: 35,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Events',
      titleOffset: 3,
      majorTick: 5
    },
    plotArea: {
      yMax: events.headlines.total_events | round(-1, 'ceil'),
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "events", label: "Number of events",
        yValues: events.by_week.columns.cumulative_events,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}

{# 
{% comp 'layout.figure', {max_width: '30rem'} %}
<h3>Events by ward</h3>
{{ comp.oi.viz.map.hex_cartogram({
	config: {
		hexjson: hex.wards_leeds,
		data: events.by_ward.rows,
		matchKey: 'ward_code',
		value: 'events',
		bgColour: '#ddd',
		label: '{{ n | slice(0,3) }}',
		tooltip: '<h4>{{ n }}</h4><p><strong>{{ events | "0" }}</strong> event(s)</p>',
		scale: 'cyan'
	}
  }) | safe }}
{% endcomp %}
#}
{% endcomp %}


  {% comp 'layout.figure' %}
<h3>Number of tickets sold by event date</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: search.data('metrics/tickets').by_project_cumulative_weekly.columns.week,
    width: 35,
    height: 14,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Date',
      titleOffset: 4,
      labelRotate: 35,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Total',
      titleOffset: 3,
      majorTick: 100
    },
    plotArea: {
      yMax: 2500,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "tickets", label: "Number of tickets sold",
        yValues: search.data('metrics/tickets').by_project_cumulative_weekly.columns["05 - The Barn"],
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}