---
title: All That Lives
summary: Metrics related to All That Lives - a project delivered by LEEDS 2023.
tags:
  - main
order: 130
work_in_progress: true
metas:
  title: All That Lives
  description: |
    Metrics related to All That Lives - a project delivered by LEEDS 2023.
limitations:
  - Hexmaps cannot be displayed for this project due to limited geographic data available.
---

{% from 'macros.njk' import dateFormatter %}

<p>
All That Lives was a series of artworks, workshops and performances celebrating all those that we have loved and lost. A collaboration between The Grief Series and Zion Art Studio in Mexico, the work has been inspired by Mexican Day of the Dead and the ways other cultures celebrate and remember those they have lost.
</p>

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '40rem' } %}

  {{ comp.metric.headline({
    title: "Total events", headingLevel: 2,
    value: events.headlines.total_events | localize,
    description: "Total activities held as part of this Signature event.",
    background: "var(--l23-magenta)"
  }) | safe }}

    {{ comp.metric.headline({
    title: "Public events", headingLevel: 2,
    value: events.public.headlines.total_events | localize ,
    description: "Total number of public facing events.",
    background: "var(--l23-yellow)"
  }) | safe }}

  
    {{ comp.metric.headline({
    title: "Public audience", headingLevel: 2,
    value: events.public.headlines.total_audience | localize ,
    description: "Total count of attendees at public facing events.",
    background: "var(--l23-yellow)"
  }) | safe }}

{{ comp.metric.headline({
    title: "School engagements", headingLevel: 2,
    value: events.schools.headlines.total_events | localize ,
    description: "Total count of engagements with schools.",
    background: "var(--l23-cyan)"
  }) | safe }}

{{ comp.metric.headline({
    title: "Pupil engagements", headingLevel: 2,
    value: events.schools.headlines.total_audience | localize ,
    description: "Total count of school pupils engaged.",
    background: "var(--l23-cyan)"
  }) | safe }}

{% endcomp %}

<p>
  This is a FOREST was co-produced by LEEDS 2023 and Invisible Flock, a multi-award-winning interactive arts studio, based at Yorkshire Sculpture Park. For this project they invited artists Anushka Athique, Vandria Borari, Nwando Ebizie, Outi Pieski and Jenni Laiti to collaborate on the exhibition.
</p>
