---
title: Web Analytics
summary: Key website statistics from the LEEDS 2023 website.
tags:
  - main
order: 200
work_in_progress: false
metas:
  title: Web Analytics
  description: |
    Visualisations of key website statistics for the LEEDS 2023 website.
# limitations:
#  - 
uses_dataset:
  - web_analytics.daily_page_views
---

{% from 'macros.njk' import dateFormatter, numberFormatter %}

<p>
  Website analytics for the LEEDS 2023 website, collected through Google Analytics.
  This page displays two metrics:
</p>

<ul>
  <li>
    <strong>Page Views</strong> are the number of mobile app screens or web pages your users saw.
    Repeated views of a single screen or page are counted.
  </li>
  <li>
    <strong>Total Users</strong> are the number of unique users that triggered anypage view events.
  </li>
</ul>

<p>You can also see how engagement has grown over time by viewing culminative page views.</p>


<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '40rem' } %}
  {{ comp.metric.headline({
    title: "Page Views", headingLevel: 2,
    value: page_views_by_week.columns.page_views | sum | localize,
    description: "Unique views across all pages on the LEEDS 2023 website.",
    background: "var(--l23-magenta)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Total Users", headingLevel: 2,
    value: page_views_by_week.columns.total_users | sum | localize,
    description: "Total users of the LEEDS 2023 website.",
    background: "var(--l23-cyan)"
  }) | safe }}
{% endcomp %}


{% comp 'grid.' + headline_grid_style, { min_width: '30rem' } %}

{% comp 'layout.figure', {max_width: '70rem'} %}
<h3>Number of page views</h3>
  {{ comp.oi.viz.graph.line({ config: {
    categories: page_views_by_week.columns.day,
    width: 25,
    height: 12,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Date',
      titleOffset: 4,
      labelRotate: 35,
      majorTick: 4,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Page Views',
      titleOffset: 4.5,
      majorTick: 200000,
      formatter: numberFormatter
    },
    plotArea: {
      yMax: 1300000,
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 6,
      bottom: 5
    },
    series: [
      {
        id: "page_views", label: "Cumulative Page Views",
        yValues: page_views_by_week.columns.cumulative_page_views,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}
{% endcomp %}
{% endcomp %}





