---
title: Volunteers
summary: Volunteering applications and shifts
tags:
  - main
order: 40
metas:
  title: LEEDS 2023 Metrics - Volunteers
  description: |
    Visualisations of key metrics related to the LEEDS 2023 volunteering.
introduction: |
  Our volunteers will be the heart of the Year of Culture.

  This page showcases the number of shifts and hours that our volunteers have completed helping make the LEEDS 2023
  and partner events run smoothly.

  You will also find data that shows how we're building our team of volunteers.
  There is a simple application process you need to follow to become a volunteer.
  After you've <strong>applied</strong>, we'll review your application and guide you through assessment,
  before making <strong>offers</strong> to sucessful candidates we hope will become <strong>confirmed</strong> volunteers.
  You can read more <a href="https://leeds2023.co.uk/volunteer-with-leeds-2023">about the volunteering programme on the LEEDS 2023 website</a>.

  

  The data shown below was extracted from the Rosterfy volunteer management system which tracks all activity related to volunteering.
limitations:
  - |
      Application dates prior to the 5th October are estimated based on the last modification
      date of the user record. This is very likely to incorrectly estimate the date that the application
      was received. Overall numbers should still work.
  - The hexmaps do not show volunteers from outside the Leeds wards.
sources:
  - data/metrics/volunteers/
published_link: https://datamillnorth.org/dataset/leeds-2023-volunteers
major_tick: 4
---
{% from 'macros.njk' import dateFormatter %}
{%- macro popupPreApplication(params) -%}
  {{ params.label }}</br>
  {{ params.value }} signups
{%- endmacro -%}
{%- macro popupApplied(params) -%}
  {{ params.label }}</br>
  {{ params.value }} applications received
{%- endmacro -%}
{%- macro popupOffered(params) -%}
  {{ params.label }}</br>
  {{ params.value }} offers
{%- endmacro -%}
{%- macro popupConfirmed(params) -%}
  {{ params.label }}</br>
  {{ params.value }} volunteers confirmed
{%- endmacro -%}

<h2>Headlines</h2>

{% comp 'grid.' + headline_grid_style, { min_width: '20rem' } %}
  {{ comp.metric.headline({
    title: "Total Volunteer Hours", headingLevel: 3,
    value: shifts.summary.volunteer_hours.total | localize,
    description: "The number of voluntering hours, including volunteer programme.",
    background: "var(--l23-magenta)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Volunteer Hours (Leeds 2023 events)", headingLevel: 3,
    value: shifts.summary.volunteer_hours.leeds_2023_events | localize,
    description: "The number of voluntering hours on Leeds 2023 events",
    background: "var(--l23-cyan)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Volunteer Hours (Partner events)", headingLevel: 3,
    value: shifts.summary.volunteer_hours.partner_events | localize,
    description: "The number of voluntering hours on Partner events",
    background: "var(--l23-dark-cyan)",
    colour: "white"
  }) | safe }}


  {{ comp.metric.headline({
    title: "Volunteer applications", headingLevel: 3,
    value: by_week.columns.applied | last | localize,
    description: "The number of volunteering applications that have been received.",
    background: "var(--l23-mint)"
  }) | safe }}

  {{ comp.metric.headline({
    title: "Volunteers confirmed", headingLevel: 3,
    value: by_week.columns.confirmed | last or '--' | localize,
    description: "The number of volunteers who have been confirmed.",
    background: "var(--l23-yellow)"
  }) | safe }}
{% endcomp %}

<h2>Volunteering Shifts</h2>

<p>
  The shifts and hours figures below include volunteering activity on LEEDS 2023 and Partner events,
  and for the volunteering programme itself, including induction and training events.
</p>

{% comp 'grid.autogrid', { min_width: '40rem' } %}

  {{ comp.oi.viz.graph.line({ config: {
    categories: shifts.by_week.columns.date,
    width: 25,
    height: 12,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Week ending (Friday)',
      titleOffset: 4,
      labelRotate: 35,
      majorTick: major_tick,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Volunteer Hours',
      titleOffset: 3,
      majorTick: 1000
    },
    plotArea: {
      yMax: shifts.summary.volunteer_hours.total | round(-3, 'ceil'),
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "offered", label: "Cumulative volunteering hours",
        yValues: shifts.by_week.columns.cumulative_volunteer_hours,
        colour: 'var(--l23-magenta)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}

	{{ comp.oi.viz.chart.line({
		config: {
			data: shifts.by_week,
			width: 680,
			height: 320,
			"font-family": "Rebond Grotesque",
			columns: [{
				name: "tooltip",
				template: "{{ date | strftime('%e %b %Y') }}: <strong>{{ cumulative_volunteer_hours | toLocaleString() }}</strong> hours"
			}],
			axis: {
				x: {
					title: {
						label: 'Week ending (Friday)'
					},
					tick:{
						type: "months",
						format: "%b %Y",
						size: 5
					},
					line: {
						show: true,
						"stroke-width": 1
					}
				},
				y: {
					title: {
						label: 'Volunteer Hours'
					},
					tick:{
						spacing: 1000,
						size: 5
					},
					line: {
						show: true,
						"stroke-width": 1
					}
				}
			},
			series: [{
				title: "Cumulative volunteering hours",
				x: "date",
				y: "cumulative_volunteer_hours",
				tooltip: "tooltip",
				colour: "magenta",
				points: { size: 6 }
			}],
			legend: {
				show: true
			}
		}
	}) | safe }}

  {{ comp.oi.viz.graph.line({ config: {
    categories: shifts.by_week.columns.date,
    width: 25,
    height: 12,
    text: { colour: '#eee' },
    xAxis: {
      title: 'Week ending (Friday)',
      titleOffset: 4,
      labelRotate: 35,
      majorTick: major_tick,
      formatter: dateFormatter
    },
    yAxis: {
      title: 'Volunteer Shifts',
      titleOffset: 3,
      majorTick: 500
    },
    plotArea: {
      yMax: shifts.summary.volunteer_shifts.total | round(-3, 'ceil'),
      colour: 'var(--l23-dark-blue-grey)'
    },
    padding: {
      left: 4,
      bottom: 5
    },
    series: [
      {
        id: "offered", label: "Cumulative volunteer shifts",
        yValues: shifts.by_week.columns.cumulative_volunteer_shifts,
        colour: 'var(--l23-yellow)',
        markerOptions: { s: 5 }
      }
    ],
    legend: {
      width: "20em"
    }
  } }) | safe }}



	{{ comp.oi.viz.chart.line({
		config: {
			data: shifts.by_week,
			width: 680,
			height: 320,
			"font-family": "Rebond Grotesque",
			columns: [{
				name: "tooltip",
				template: "{{ date | strftime('%e %b %Y') }}: <strong>{{ cumulative_volunteer_shifts | toLocaleString() }}</strong> shifts"
			}],
			axis: {
				x: {
					title: {
						label: 'Week ending (Friday)'
					},
					tick: {
						type: "months",
						format: "%b %Y",
						size: 5
					},
					line: {
						show: true,
						"stroke-width": 1
					}
				},
				y: {
					title: {
						label: 'Volunteer Shifts'
					},
					tick:{
						spacing: 1000,
						size: 5
					},
					line: {
						show: true,
						"stroke-width": 1
					}
				}
			},
			series: [{
				title: "Cumulative volunteering shifts",
				x: "date",
				y: "cumulative_volunteer_shifts",
				tooltip: "tooltip",
				colour: "yellow",
				points: { size: 6 }
			}],
			legend: {
				show: true
			}
		}
	}) | safe }}


{% endcomp %}

<h2>Distribution of volunteers</h2>

<p>
  The hex cartograms below show the distribution of volunteers' home addresses across
  the wards of Leeds. Wards with a larger number of resident volunteers are darker in
  colour. Wards with a count of zero are outlined in a dark border. Below each cartogram, 
  there is a breakdown of the total amount of volunteer addresses that are within Leeds, outside 
  of Leeds and invalid/unknown. An address is invalid/unknown if it could not be mapped to a valid UK postcode.
  This could be due to a typing error or because it is outside of the UK. 
</p>
  
{% comp 'grid.autogrid', { min_width: '28rem' } %}
	<section>
		<h3>Applications</h3>
		{{ comp.oi.viz.map.hex_cartogram({
			"config": {
				hexjson: hex.wards_leeds,
				data: by_ward.rows,
				matchKey: 'ward_code',
				value: 'applied',
				bgColour: '#ddd',
				tooltip: '<h4>{{ n }}</h4><p><strong>{{ applied }}</strong> applications received</p>',
				title: 'Volunteer applications received from people in ward',
				label: '{{ n | slice(0,3) }}',
				scale: 'mint'
			}
		}) | safe }}
		<p>Total within Leeds: <strong>{{la_stats.applied.Leeds}}</strong><br>
		Total outside Leeds: <strong>{{la_stats.applied.OUTSIDE_LEEDS}}</strong><br>
		Total unknown/invalid: <strong>{{la_stats.applied.UNKNOWN + la_stats.applied.NOT_PROVIDED}}</strong></p>
	</section>

	<section>
		<h3>Offers</h3>
		{{ comp.oi.viz.map.hex_cartogram({
			"config": {
				hexjson: hex.wards_leeds,
				data: by_ward.rows,
				matchKey: 'ward_code',
				value: 'offered',
				bgColour: '#ddd',
				tooltip: '<h4>{{ n }}</h4><p><strong>{{ offered }}</strong> offers</p>',
				title: 'Volunteer posts offered to people in ward',
				label: '{{ n | slice(0,3) }}',
				scale: 'magenta'
			}
		}) | safe }}

		<p>Total within Leeds: <strong>{{la_stats.offered.Leeds}}</strong><br>
		Total outside Leeds: <strong>{{la_stats.offered.OUTSIDE_LEEDS}}</strong><br>
		Total unknown/invalid: <strong>{{la_stats.offered.UNKNOWN + la_stats.offered.NOT_PROVIDED}}</strong></p>
	</section>
	<section>
		<h3>Confirmed</h3>
		{{ comp.oi.viz.map.hex_cartogram({
			"config": {
				hexjson: hex.wards_leeds,
				data: by_ward.rows,
				matchKey: 'ward_code',
				value: 'confirmed',
				bgColour: '#ddd',
				tooltip: '<h4>{{ n }}</h4><p><strong>{{ confirmed }}</strong> volunteers confirmed</p>',
				title: 'Confirmed volunteers by ward',
				label: '{{ n | slice(0,3) }}',
				scale: 'yellow'
			}
		}) | safe }}

		<p>Total within Leeds: <strong>{{la_stats.confirmed.Leeds}}</strong><br>
		Total outside Leeds: <strong>{{la_stats.confirmed.OUTSIDE_LEEDS}}</strong><br>
		Total unknown/invalid: <strong>{{la_stats.confirmed.UNKNOWN + la_stats.confirmed.NOT_PROVIDED}}</strong></p>
	</section>
{% endcomp %}

<h3> West Yorkshire Volunteers</h3>
{% comp 'layout.block' %}
{{ comp.oi.viz.table({
	config: {
		columns: [
			{'name':'Local Authority'},
			{'name':'Applied',align:'center'},
			{'name':'Offered',align:'center'},
			{'name':'Confirmed',align:'center'}
		],
		data: west_yorkshire.rows
	}
}) | safe }}
{% endcomp %}
<h2>Growth in volunteering</h2>

{% comp 'layout.figure', {
  title: 'Cumulative counts of volunteer user profiles by status'
} %}

{{ comp.oi.viz.graph.line({ config: {
  categories: by_week.columns.week_ending,
  width: 25,
  height: 12,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 4,
    labelRotate: 35,
    majorTick: major_tick,
    formatter: dateFormatter
  },
  yAxis: {
    title: 'Number of volunteers',
    titleOffset: 3,
    majorTick: 250
  },
  plotArea: {
    yMax: by_week.columns.created | last | round(-2, "ceil"),
    colour: 'var(--l23-dark-blue-grey)'
  },
  padding: {
    left: 4,
    bottom: 5
  },
  series: [
    {
      id: "applied", label: "Applications (cumulative)",
      yValues: by_week.columns.applied,
      colour: 'var(--l23-mint)',
      markerOptions: { s: 5 }
    },
    {
      id: "offered", label: "Offers made (cumulative)",
      yValues: by_week.columns.offered,
      colour: 'var(--l23-cyan)',
      markerOptions: { s: 5 }
    },
    {
      id: "offered", label: "Volunteers appointed (cumulative)",
      yValues: by_week.columns.confirmed,
      colour: 'var(--l23-magenta)',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
} }) | safe }}
{% endcomp %}
