---
title: Volunteering Shifts
work_in_progress: true
# Comment this line out to generate the page locally
# url: false
---
{% from 'macros.njk' import dateFormatter %}

{% comp 'grid.autogrid', { min_width: '32rem' } %}

{{ comp.oi.charts.graph.line({ config: {
  categories: shifts_by_week.columns.date,
  width: 25,
  height: 12,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 4,
    labelRotate: 35,
    majorTick: 1,
    formatter: dateFormatter
  },
  yAxis: {
    title: 'Volunteer Hours',
    titleOffset: 3,
    majorTick: 250
  },
  plotArea: {
    yMax: 1250,
    colour: 'var(--l23-dark-blue-grey)'
  },
  padding: {
    left: 4,
    bottom: 5
  },
  series: [
    {
      id: "offered", label: "Volunteering hours per week",
      yValues: shifts_by_week.columns.hours,
      colour: 'var(--l23-magenta)',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
} }) | safe }}

{{ comp.oi.charts.graph.line({ config: {
  categories: shifts_by_week.columns.date,
  width: 25,
  height: 12,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Week ending (Friday)',
    titleOffset: 4,
    labelRotate: 35,
    majorTick: 1,
    formatter: dateFormatter
  },
  yAxis: {
    title: 'Volunteer Shifts',
    titleOffset: 3,
    majorTick: 250
  },
  plotArea: {
    yMax: 250,
    colour: 'var(--l23-dark-blue-grey)'
  },
  padding: {
    left: 4,
    bottom: 5
  },
  series: [
    {
      id: "offered", label: "Volunteer shifts per week",
      yValues: shifts_by_week.columns.volunteers,
      colour: 'var(--l23-yellow)',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
} }) | safe }}

{% endcomp %}